// Add the base font everywhere

html {
	font-family: $latin-sans-vf,$latin-sans,sans-serif;
	font-display: swap; // Comment out if you don't want FOUT
	direction: ltr;

	em,
	.lf-latin-italic {
		font-style: normal;
		font-family: $latin-sans-italic-vf,$latin-sans,sans-serif;
		font-display: swap; // Comment out if you don't want FOUT
	}

	pre,
	code,
	.lf-latin-mono {
		font-family: $latin-mono-vf,$latin-mono,monospace;
		font-display: swap; // Comment out if you don't want FOUT
	}
}
