// Arabic script languages

*:lang(ar),
*:lang(fa),
*:lang(ps),
*:lang(ur),
*:lang(wni),
*:lang(zdj),
*:lang(aeb),
*:lang(arq),
*:lang(ars),
*:lang(ary),
*:lang(arz),
*:lang(bej),
*:lang(bgn),
*:lang(bqi),
*:lang(ckb),
*:lang(dcc),
*:lang(doi),
*:lang(fia),
*:lang(gbz),
*:lang(gjk),
*:lang(gju),
*:lang(glk),
*:lang(haz),
*:lang(hnd),
*:lang(hno),
*:lang(khw),
*:lang(kvx),
*:lang(kxp),
*:lang(lah),
*:lang(lki),
*:lang(lrc),
*:lang(luz),
*:lang(mfa),
*:lang(mvy),
*:lang(mzn),
*:lang(prd),
*:lang(rmt),
*:lang(sdh),
*:lang(skr),
*:lang(trw), {
	font-family: $arabic-sans-vf,$base-sans-vf,$base,sans-serif;
	font-display: swap; // Comment out if you don't want FOUT
	direction: rtl;
}
