// Armenian script

*:lang(hy) {
	font-family: $base,$armenian-sans-vf,$armenian-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}

.lf-sans:lang(hy) {
	font-family: $base,$armenian-sans-vf,$armenian-sans,$base-sans-vf,sans-serif;
}

.lf-serif:lang(hy) {
	font-family: $base,$armenian-serif-vf,$armenian-serif,$base-serif-vf,serif;
}
