// Bamum script

*:lang(bax) {
	font-family: $base,$bamum-sans-vf,$bamum-sans,$base-sans-vf,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base,$bamum-sans-vf,$bamum-sans,$base-sans-vf,sans-serif;
	}

	.lf-serif {
		font-family: $base,$bamum-serif-vf,$bamum-serif,$base-serif-vf,serif;
	}
}
