// Brahmi script

*:lang(bax) {
	font-family: $base,$brahmi-sans-vf,$brahmi-sans,$base-sans-vf,sans-serif;
	direction: ltr;

	& .lf-sans {
		font-family: $base,$brahmi-sans-vf,$brahmi-sans,$base-sans-vf,sans-serif;
	}

	& .lf-serif {
		font-family: $base,$brahmi-serif-vf,$brahmi-serif,$base-serif-vf,serif;
	}
}
