// Buhid script

*:lang(bku) {
	font-family: $base-sans-vf,$base-sans,$buhid-sans-vf,$buhid-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$buhid-sans-vf,$buhid-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base,$buhid-serif-vf,$buhid-serif,serif;
	}
}
