// Simplified and Traditional Chinese script languages

// Where no script is specified default to Simplified, except for yue (Cantonese)
*:lang(zh),
*:lang(gan),
*:lang(hak),
*:lang(hsn),
*:lang(nan),
*:lang(wuu),
*:lang(za),
*:lang(lzh),
*:lang(zh-Hans),
*:lang(gan-Hans),
*:lang(hak-Hans),
*:lang(hsn-Hans),
*:lang(nan-Hans),
*:lang(wuu-Hans),
*:lang(yue-Hans),
*:lang(za-Hans),
*:lang(lzh-Hans){
	font-family: $base,$sc-sans,$base-sans-vf,sans-serif;
	direction: ltr;

	strong {
		font-weight: bold;
		font-family: $base,$sc-sans,$base-sans-vf,sans-serif;
	}

	// In chinese the dot is used for emphasis
	em {
		font-style: normal;
		text-emphasis: dot;
	}
}

// For yue and where traditional script is explicit
*:lang(yue),
*:lang(zh-Hant),
*:lang(gan-Hant),
*:lang(hak-Hant),
*:lang(hsn-Hant),
*:lang(nan-Hant),
*:lang(wuu-Hant),
*:lang(yue-Hant),
*:lang(za-Hant),
*:lang(lzh-Hant) {
	font-family: $base,$tc-sans,$base-sans-vf,sans-serif;
	direction: ltr;

	& .bold {
		font-weight: bold;
		font-family: $base,$tc-sans,$base-sans-vf,sans-serif;
	}

	// In chinese the dot is used for emphasis
	em {
		font-style: normal;
		text-emphasis: dot;
	}
}
