// Devanagari script languages

*:lang(hi),
*:lang(ne),
*:lang(anp),
*:lang(awa),
*:lang(bap),
*:lang(bfy),
*:lang(bgc),
*:lang(bhb),
*:lang(bhi),
*:lang(bho),
*:lang(bjj),
*:lang(bra),
*:lang(brx),
*:lang(btv),
*:lang(dty),
*:lang(gbm),
*:lang(gom),
*:lang(gvr),
*:lang(hne),
*:lang(hoc),
*:lang(hoj),
*:lang(jml),
*:lang(kfr),
*:lang(kfy),
*:lang(khn),
*:lang(kok),
*:lang(kru),
*:lang(mag),
*:lang(mai),
*:lang(mgp),
*:lang(mr),
*:lang(mrd),
*:lang(mtr),
*:lang(mwr),
*:lang(new),
*:lang(noe),
*:lang(raj),
*:lang(rjs),
*:lang(sa),
*:lang(sck),
*:lang(srx),
*:lang(swv),
*:lang(tdh),
*:lang(thl),
*:lang(thq),
*:lang(thr),
*:lang(tkt),
*:lang(wbr),
*:lang(wtm),
*:lang(xnr),
*:lang(xsr) {
	font-family: $base,$devanagari-sans-vf,$devanagari-sans,$base-sans-vf,sans-serif;
	direction: ltr;

	& .lf-sans {
		font-family: $base,$devanagari-sans-vf,$devanagari-sans,$base-sans-vf,sans-serif;
	}

	& .lf-serif {
		font-family: $base,$devanagari-serif-vf,$devanagari-serif,$base-serif-vf,serif;
	}
}
