// Ethiopic script languages

*:lang(am),
*:lang(ti),
*:lang(byn),
*:lang(tig),
*:lang(wal) {
	font-family: $base-serif-vf,$base,$ethiopic-serif-vf,$ethiopic-serif,sans-serif;
	direction: ltr;

	.lf-serif {
		font-family: $base-serif-vf,$base,$ethiopic-serif-vf,$ethiopic-serif,sans-serif;
	}
}
