// Gujarati script

*:lang(gu) {
	font-family: $base,$gujarati-sans,$base-sans-vf,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base,$gujarati-sans,$base-sans-vf,sans-serif;
	}

	.lf-serif {
		font-family: $base,$gujarati-serif,$base-serif-vf,serif;
	}
}
