// Gurmukhi script

*:lang(gi) {
	font-family: $base,$gurmukhi-sans-vf,$gurmukhi-sans,$base-vf,sans-serif;
	direction: ltr;

	& .lf-sans {
		font-family: $base,$gurmukhi-sans-vf,$gurmukhi-sans,$base-vf,sans-serif;
	}

	& .lf-serif {
		font-family: $base,$gurmukhi-serif-vf,$gurmukhi-serif,$base-serif-vf,serif;
	}
}
