// Japanese script languages

*:lang(jp) {
	font-family: $base,$jp-sans-cdn,$jp-sans-regular,$base-sans-vf,sans-serif;
	direction: ltr;

	strong,
	.bold {
		font-family: $base,$jp-sans-cdn,$jp-sans-bold,$base-sans-vf,sans-serif;
	}
}
