// Japanese script languages

*:lang(jp) {
	font-family: $base,$japanese-sans,$base-sans-vf,sans-serif;
	direction: ltr;

	strong,
	.bold {
		font-family: $base,$japanese-sans,$base-sans-vf,sans-serif;
	}

	& .lf-sans {
		font-family: $base,$japanese-sans,$base-sans-vf,sans-serif;
	}

	& .lf-serif {
		font-family: $base,$japanese-serif,$base-serif-vf,serif;
	}
}
