// Kannada script

*:lang(kn),
.lf-kannada {
	font-family: $base-sans-vf,$base-sans,$kannada-sans-vf,$kannada-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$kannada-sans-vf,$kannada-sans,sans-serif;
	}

	.lf-sans-ui {
		font-family: $base-sans-vf,$base-sans,$kannada-sans-ui-vf,$kannada-sans,serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base-serif,$kannada-serif-vf,$kannada-serif,serif;
	}
}
