// Languages that could be written in either latin or arabic or devanagari scripts

// Default to Devanagari, or Devanagari is explicit
*:lang(hi),
*:lang(hif),
*:lang(ks),
*:lang(sd),
*:lang(hi-Deva),
*:lang(hif-Deva),
*:lang(ks-Deva),
*:lang(sd-Deva) {
	font-family: $devanagari-sans-vf,$devanagari-sans,$base-sans,$base,sans-serif;
	direction: ltr;
}

// Arabic is explicit
*:lang(hi-Arab),
*:lang(hif-Arab),
*:lang(ks-Arab),
*:lang(sd-Arab) {
	font-family: $arabic-sans-vf,$arabic-sans,$base-sans,$base,sans-serif;
	direction: rtl;
}

// Latin is explicit
*:lang(hi-Latn),
*:lang(hif-Latn),
*:lang(ks-Latn),
*:lang(sd-Latn) {
	font-family: $latin-sans-vf,$latin-sans,$base-sans,$base,sans-serif;
	direction: ltr;
}
