// Languages that could be written in either latin or cyrillic or arabic scripts

// Default to Arabic
*:lang(aii),
*:lang(az),
*:lang(inh),
*:lang(ky),
*:lang(kk),
*:lang(ku),
*:lang(tg),
*:lang(tk),
*:lang(tly),
*:lang(ttt),
*:lang(ug),
*:lang(uz) {
	font-family: $arabic-sans-vf,$arabic-sans,$base-sans,$base,sans-serif;
	direction: rtl;
}

// Latin is explicit
*:lang(aii-Latn),
*:lang(az-Latn),
*:lang(inh-Latn),
*:lang(ky-Latn),
*:lang(kk-Latn),
*:lang(ku-Latn),
*:lang(tg-Latn),
*:lang(tk-Latn),
*:lang(tly-Latn),
*:lang(ttt-Latn),
*:lang(ug-Latn),
*:lang(uz-Latn) {
	font-family: $latin-sans-vf,$latin-sans,$base-sans,$base,sans-serif;
	direction: ltr;
}

// Cyrillic is explicit
*:lang(aii-Cyrl),
*:lang(az-Cyrl),
*:lang(inh-Cyrl),
*:lang(ky-Cyrl),
*:lang(kk-Cyrl),
*:lang(ku-Cyrl),
*:lang(tg-Cyrl),
*:lang(tk-Cyrl),
*:lang(tly-Cyrl),
*:lang(ttt-Cyrl),
*:lang(ug-Cyrl),
*:lang(uz-Cyrl) {
	font-family: $cyrillic-sans-vf,$cyrillic-sans,$base-sans-vf,$base,sans-serif;
	direction: ltr;
}
