// Oriya script

*:lang(or) {
	font-family: $base,$oriya-sans-vf,$oriya-sans,$base-sans-vf,sans-serif;
	direction: ltr;

	& .lf-sans {
		font-family: $base,$oriya-sans-vf,$oriya-sans,$base-sans-vf,sans-serif;
	}

	& .lf-serif {
		font-family: $base,$oriya-serif-vf,$oriya-serif,$base-serif-vf,serif;
	}
}
