// Non-latin scripts -sans

*:lang(ff) {
	font-family: $base,$adlam-sans-vf,$adlam-sans,$base-sans-vf,sans-serif;
	direction: rtl;
}
*:lang(hy) {
	font-family: $base,$armenian-sans-vf,$armenian-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
*:lang(bax) {
	font-family: $base,$bamum-sans-vf,$bamum-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
*:lang(bn) {
	font-family: $base,$bengali-sans-vf,$bengali-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
*:lang(gu) {
	font-family: $base,$gujarati-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
*:lang(gi) {
	font-family: $base,$gurmukhi-sans-vf,$gurmukhi-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
*:lang(kn) {
	font-family: $base,$kannada-sans-vf,$kannada-sans,$base-vf,sans-serif;
	direction: ltr;
}
*:lang(km) {
	font-family: $base,$khmer-sans-vf,$khmer-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
*:lang(lo) {
	font-family: $base,$lao-sans-vf,$lao-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
*:lang(ms) {
	font-family: $base,$malayalam-sans-vf,$malayalam-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
*:lang(or) {
	font-family: $base,$oriya-sans-vf,$oriya-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
*:lang(si) {
	font-family: $base,$sinhala-sans-vf,$sinhala-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
*:lang(ta) {
	font-family: $base,$tamil-sans-vf,$tamil-sans,$base-vf,sans-serif;
	direction: ltr;
}
*:lang(te) {
	font-family: $base,$telugu-sans-vf,$telugu-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
*:lang(th) {
	font-family: $base,$thai-sans-vf,$thai-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
*:lang(dv) {
	font-family: $base,$thaana-sans-vf,$thaana-sans,$base-sans-vf,sans-serif;
	direction: rtl;
}
*:lang(bo) {
	font-family: $base,$tibetan-sans-vf,$tibetan-sans,$base-sans-vf,sans-serif;
	direction: ltr;
}
