// Tagalog script

*:lang(fil) {
	font-family: $base-sans-vf,$base-sans,$tagalog-sans-vf,$tagalog-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$tagalog-sans-vf,$tagalog-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base-serif,$tagalog-serif-vf,$tagalog-serif,serif;
	}
}
