// Tamil script

*:lang(ta) {
	font-family: $base-sans-vf,$base-sans,$tamil-sans-vf,$tamil-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$tamil-sans-vf,$tamil-sans,sans-serif;
	}

	.lf-sans-ui {
		font-family: $base-sans-vf,$base-sans,$tamil-sans-ui-vf,$tamil-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base-serif,$tamil-serif-vf,$tamil-serif,serif;
	}
}
