// Thai script

// Sans-serif
*:lang(th) {
	font-family: $base,$thai-sans-vf,$thai-sans,$base-sans-vf,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base,$thai-sans-vf,$thai-sans,$base-sans-vf,sans-serif;
		direction: ltr;
	}

	.lf-serif {
		font-family: $base,$thai-serif-vf,$thai-serif,$base-serif-vf,serif;
		direction: ltr;
	}
}
