// Tibetan script

// Default and sans serif
*:lang(bo),
*:lang(dz) {
	font-family: $base,$tibetan-sans-vf,$tibetan-sans,$base-sans-vf,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base,$tibetan-sans-vf,$tibetan-sans,$base-sans-vf,sans-serif;
		direction: ltr;
	}

	.lf-serif {
		font-family: $base,$tibetan-serif-vf,$tibetan-serif,$base-serif-vf,serif;
		direction: ltr;
	}
}
