// The variable UI versions of Noto web fonts
// UI fonts are optimized to fit in confined spaces like buttons and controls
// Since support for variable fonts is a subset of support for woff, w only use woff and woff2

@import "factory/variable-ui";
