// The variable UI versions of Noto web fonts
// UI fonts are optimized to fit in confined spaces like buttons and controls
// Since support for variable fonts is a subset of support for woff, w only use woff and woff2

@supports (font-variation-settings: "wdth" 200) {
	@font-face {
		font-family: "Noto Sans Arabic UI VF";
		src: 	url("/NotoSansArabicUI-VF.woff") format("woff"),
					url("/NotoSansArabicUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
	}
	@font-face {
		font-family: "Noto Sans Bengali UI VF";
		src: 	url("/NotoSansBengaliUI-VF.woff") format("woff"),
					url("/NotoSansBengaliUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0980-09FF;
	}
	@font-face {
		font-family: "Noto Sans Devanagari UI VF";
		src: 	url("/NotoSansDevanagariUI-VF.woff") format("woff"),
					url("/NotoSansDevanagariUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0900-097F, U+A8E0-A8FF;
	}
	@font-face {
		font-family: "Noto Sans Khmer UI VF";
		src: 	url("/NotoSansKhmerUI-VF.woff") format("woff"),
					url("/NotoSansKhmerUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+1780-17FF, U+19E0-19FF;
	}
	@font-face {
		font-family: "Noto Sans Kannada UI VF";
		src: 	url("/NotoSansKannadaUI-VF.woff") format("woff"),
					url("/NotoSansKannadaUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0C80-0CFF;
	}
	@font-face {
		font-family: "Noto Sans Lao UI VF";
		src: 	url("/NotoSansLaoUI-VF.woff") format("woff"),
					url("/NotoSansLaoUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0E80-0EFF;
	}
	@font-face {
		font-family: "Noto Sans Malayalam UI VF";
		src: 	url("/NotoSansMalayalamUI-VF.woff") format("woff"),
					url("/NotoSansMalayalamUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0D00-0D7F;
	}
	@font-face {
		font-family: "Noto Sans Myanmar UI VF";
		src: 	url("/NotoSansMyanmarUI-VF.woff") format("woff"),
					url("/NotoSansMyanmarUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+1000-109F, U+AA60-AA7F, U+A9E0-A9FF;
	}
	@font-face {
		font-family: "Noto Sans Naskh Arabic UI VF";
		src: 	url("/NotoSansNaskh ArabicUI-VF.woff") format("woff"),
					url("/NotoSansNaskh ArabicUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
	}
	@font-face {
		font-family: "Noto Sans Oriya UI VF";
		src: 	url("/NotoSansOriyaUI-VF.woff") format("woff"),
					url("/NotoSansOriyaUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0B00-0B7F;
	}
	@font-face {
		font-family: "Noto Sans Sinhala UI VF";
		src: 	url("/NotoSansSinhalaUI-VF.woff") format("woff"),
					url("/NotoSansSinhalaUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0D80-0DFF;
	}
	@font-face {
		font-family: "Noto Sans Tamil UI VF";
		src: 	url("/NotoSansTamilUI-VF.woff") format("woff"),
					url("/NotoSansTamilUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0B80-0BFF, U+11FC0-11FFF;
	}
	@font-face {
		font-family: "Noto Sans Telugu UI VF";
		src: 	url("/NotoSansTeluguUI-VF.woff") format("woff"),
					url("/NotoSansTeluguUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0C00-0C7F;
	}
	@font-face {
		font-family: "Noto Sans Thai UI VF";
		src: 	url("/NotoSansThaiUI-VF.woff") format("woff"), 
					url("/NotoSansThaiUI-VF.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0E00-0E7F;
	}
}
