
// Import the variables
@import "variables/all";

// Import the webfonts
@import "webfonts/static-sans";
@import "webfonts/static-serif";
@import "webfonts/webfonts";

// Import files to load scripts based on the :lang property

// Files for each script
@import "script-selectors/adlam";
@import "script-selectors/arabic";
@import "script-selectors/armenian";
@import "script-selectors/balinese";
@import "script-selectors/bamum";
@import "script-selectors/bengali";
@import "script-selectors/brahmi";
@import "script-selectors/buginese";
@import "script-selectors/buhid";
@import "script-selectors/canadian-aboriginal";
@import "script-selectors/cham";
@import "script-selectors/cherokee";
@import "script-selectors/chinese";
@import "script-selectors/cyrillic";
@import "script-selectors/devanagari";
@import "script-selectors/ethiopic";
@import "script-selectors/georgian";
@import "script-selectors/grantha";
@import "script-selectors/greek";
@import "script-selectors/gujarati";
@import "script-selectors/gurmukhi";
@import "script-selectors/hanunoo";
@import "script-selectors/hanifi-rohingya";
@import "script-selectors/hebrew";
@import "script-selectors/japanese";
@import "script-selectors/kannada";
@import "script-selectors/khmer";
@import "script-selectors/korean";
@import "script-selectors/lao";
@import "script-selectors/latin";
@import "script-selectors/limbu";
@import "script-selectors/lisu";
@import "script-selectors/malayalam";
@import "script-selectors/myanmar";
@import "script-selectors/nko";
@import "script-selectors/ol-chiki";
@import "script-selectors/oriya";
@import "script-selectors/sinhala";
@import "script-selectors/sora-sompeng";
@import "script-selectors/tagalog";
//@import "script-selectors/takri";
@import "script-selectors/tai-le";
@import "script-selectors/tai-tham";
@import "script-selectors/tai-viet";
@import "script-selectors/tamil";
@import "script-selectors/telugu";
@import "script-selectors/thaana";
@import "script-selectors/thai";
@import "script-selectors/tibetan";
@import "script-selectors/warang-citi";
@import "script-selectors/zanabazar";

// Set the base font (fallback)
//@import "script-selectors/all";

// Import the classes for weights and widths
@import "classes/weights";
