// Base font Variables

$base-sans:							'Noto Sans Latin';
$base-sans-italic:			'Noto Sans Latin Italic';
$base-serif:						'Noto Serif Latin';
$base-serif-italic:			'Noto Serif Latin Italic';
$base-mono:							'Noto Sans Latin Mono';
