$base-sans:							'Noto Sans';
$base-sans-vf:					'Noto Sans LGC VF';
$base-sans-italic-vf:		'Noto Sans Italic VF';	// Variable fonts italics render inconsistently so we explicitly add them separately
$base-serif:						'Noto Serif';
$base-serif-vf:					'Noto Serif LGC VF';
$base-serif-italic-vf:	'Noto Serif Italic VF';	// Variable fonts italics render inconsistently so we explicitly add them separately
$base-mono:							'Noto Sans Mono';				// Useful to explicitly declare your monospace webfont
$base-mono-vf:					'Noto Sans Mono VF';
