// Outlier Font variables

// Neither sans nor serif
$kufi-arabic:						'Noto Kufi Arabic'; 					// +VF
$naskh-arabic:					'Noto Naskh Arabic'; 					// +VF
$rashi-hebrew:					'Noto Rashi Hebrew'; 					// +VF

// Above + UI
$naskh-arabic-ui:				'Noto Naskh Arabic UI';				// +VF

// Sans and serif Italic, Oblique, Slanted
$latin-sans-italic:			'Noto Sans Latin Italic';			// +VF
$latin-serif-italic:		'Noto Serif Latin Italic'; 		// +VF
$tamil-serif-slanted:		'Noto Serif Tamil Slanted'; 	// +VF

// Unjoined
$adlam-unjoined:				'Noto Sans Adlam Unjoined'; 	// +VF

// Traditional
$nushu-traditional:			'Noto Traditional Nushu'; 		// +VF

// Monospace
$latin-sans-mono:				'Noto Sans Latin Mono';				// +VF

// Supplement
$tamil-sans-supplement:	'Noto Sans Tamil Supplement';	// +VF
