// Font variables for self-hosted fonts

// UI fonts,
// UI fonts are designed to be more compact for use in buttons and controls
$arabic-sans-ui:			'Noto Sans Arabic UI';			// +VF
$bengali-sans-ui:			'Noto Sans Bengali UI';			// +VF
$devanagari-sans-ui:	'Noto Sans Devanagari UI';	// +VF
$gujarati-sans-ui:		'Noto Sans Gujarati UI';		// +VF
$gurmukhi-sans-ui:		'Noto Sans Gurmukhi UI';		// +VF
$kannada-sans-ui:			'Noto Sans Kannada UI';			// +VF
$khmer-sans-ui:				'Noto Sans Khmer UI';				// +VF
$lao-sans-ui:					'Noto Sans Lao UI';					// +VF
$malayalam-sans-ui:		'Noto Sans Malayalam UI';		// +VF
$myanmar-sans-ui:			'Noto Sans Myanmar UI';			// +VF
$oriya-sans-ui:				'Noto Sans Oriya UI';				// +VF
$sinhala-sans-ui:			'Noto Sans Sinhala UI';			// +VF
$tamil-sans-ui:				'Noto Sans Tamil UI';				// +VF
$telugu-sans-ui:			'Noto Sans Telugu UI';			// +VF
$thai-sans-ui:				'Noto Sans Thai UI';				// +VF
