// Font variables for self-hosted fonts

// Variable sans UI fonts,
// UI fonts are designed to be more compact for use in buttons and controls
$arabic-sans-ui-vf:			'Noto Sans Arabic UI';
$bengali-sans-ui-vf:		'Noto Sans Bengali UI';
$devanagari-sans-ui-vf:	'Noto Sans Devanagari UI';
$gujarati-sans-ui-vf:		''; // Static but no variable UI font available yet
$gurmukhi-sans-ui-vf:		'Noto Sans Gurmukhi UI';
$kannada-sans-ui-vf:		'Noto Sans Kannada UI';
$khmer-sans-ui-vf:			'Noto Sans Khmer UI';
$lao-sans-ui-vf:				'Noto Sans Lao UI';
$malayalam-sans-ui-vf:	'Noto Sans Malayalam UI';
$myanmar-sans-ui-vf:		'Noto Sans Myanmar UI';
$naskharabic-sans-ui-vf:'Noto Sans Naskh Arabic UI';
$oriya-sans-ui-vf:			'Noto Sans Oriya UI';
$sinhala-sans-ui-vf:		''; // Static but no variable UI font available yet
$tamil-sans-ui-vf:			'Noto Sans Tamil UI';
$telugu-sans-ui-vf:			'Noto Sans Telugu UI';
$thai-sans-ui-vf:				'Noto Sans Thai UI';
