// Font variables for self-hosted fonts

// Static UI fonts,
// UI fonts are designed to be more compact for use in buttons and controls
$arabic-sans-ui:			'Noto Sans Arabic UI';
$bengali-sans-ui:			'Noto Sans Bengali UI';
$devanagari-sans-ui:	'Noto Sans Devanagari UI';
$gujarati-sans-ui:		'Noto Sans Gujarati UI';
$gurmukhi-sans-ui:		'Noto Sans Gurmukhi UI';
$kannada-sans-ui:			'Noto Sans Kannada UI';
$khmer-sans-ui:				'Noto Sans Khmer UI';
$lao-sans-ui:					'Noto Sans Lao UI';
$malayalam-sans-ui:		'Noto Sans Malayalam UI';
$myanmar-sans-ui:			'Noto Sans Myanmar UI';
$naskharabic-sans-ui:	'Noto Sans Naskh Arabic UI';
$oriya-sans-ui:				'Noto Sans Oriya UI';
$sinhala-sans-ui:			'Noto Sans Sinhala UI';
$tamil-sans-ui:				'Noto Sans Tamil UI';
$telugu-sans-ui:			'Noto Sans Telugu UI';
$thai-sans-ui:				'Noto Sans Thai UI';
