// Font variables for self-hosted fonts

// Variable sans
$adlam-sans-vf:					'Noto Sans Adlam';
$arabic-sans-vf:				'Noto Sans Arabic';
$armenian-sans-vf:			'Noto Sans Armenian';
$bamum-sans-vf:					'Noto Sans Bamum';
$bengali-sans-vf:				'Noto Sans Bengali';
$brahmi-sans-vf:				''; // No variable font available
$buginese-sans-vf:			''; // No variable font available
$buhid-sans-vf:					''; // No variable font available
$c-aboriginal-sans-vf:	'Noto Sans Canadian Aboriginal';
$cham-sans-vf:					'Noto Sans Cham';
$cherokee-sans-vf:			'Noto Sans Cherokee';
$chinese-s-sans-vf:			''; // No variable font available
$chinese-hk-sans-vf:		''; // No variable font available
$chinese-t-sans-vf:			''; // No variable font available
$cyrillic-sans-vf:			'Noto Sans LGC'; // combined latin, greek cyrillic
$devanagari-sans-vf:		'Noto Sans Devanagari';
$georgian-sans-vf:			'Noto Sans Georgian';
$greek-sans-vf:					'Noto Sans LGC'; // combined latin, greek cyrillic
$gujarati-sans-vf:			''; // No variable font available
$gurmukhi-sans-vf:			'Noto Sans Gurmukhi';
$hebrew-sans-vf:				'Noto Sans Hebrew';
$kannada-sans-vf:				'Noto Sans Kannada';
$kayah-sans-vf:					'Noto Sans Kayah';
$khmer-sans-vf:					'Noto Sans Khmer';
$latin-sans-vf:					'Noto Sans';
$lao-sans-vf:						'Noto Sans Lao';
$limbu-sans-vf:					''; // No variable font available
$malayalam-sans-vf:			'Noto Sans Malayalam';
$mongolian-sans-vf:			'Noto Sans Mongolian';
$myanmar-sans-vf:				'Noto Sans Myanmar';
$nko-sans-vf:						'Noto Sans NKo';
$oriya-sans-vf:					'Noto Sans Oriya';
$sinhala-sans-vf:				'Noto Sans Sinhala';
$tagalog-sans-vf:				''; // No variable font available
$tai-le-sans-vf:				'Noto Sans TaiLe';
$tai-tham-sans-vf:			'Noto Sans TaiTham';
$tai-viet-sans-vf:			'Noto Sans TaiViet';
$takri-sans-vf:					'Noto Sans Takri';
$tamil-sans-vf:					'Noto Sans Tamil';
$telugu-sans-vf:				'Noto Sans Telugu';
$thaana-sans-vf:				'Noto Sans Thaana';
$thai-sans-vf:					'Noto Sans Thai';
$tibetan-sans-vf:				'Noto Sans Tibetan';
$warang-citi-sans-vf:		'Noto Sans Warang Citi';
// Variable sans italic
$elemaic-sans-italic-vf:'Noto Sans Elemaic Italic';
$latin-sans-italic-vf:	'Noto Sans Italic';

// Variable sans mono
$latin-sans-mono-vf:    'Noto Sans Mono';

// Variable lf-unjoined
$adlam-unjoined-vf:			'Noto Sans Adlam Unjoined';
