// Font variables for self-hosted fonts

// by script, sc=simplified chinese, tc=traditional chinese, kr=korean, jp=japanese

// Static sans
$adlam-sans:					'Noto Sans Adlam';
$adlam-unjoined:			'Noto Sans Adlam Unjoined';
$arabic-sans:					'Noto Sans Arabic';
$armenian-sans:				'Noto Sans Armenian';
$bamum-sans:					'Noto Sans Bamum';
$bengali-sans:				'Noto Sans Bengali';
$brahmi-sans:					'Noto Sans Brahmi';
$buginese-sans:				'Noto Sans Buginese';
$buhid-sans:					'Noto Sans Buhid';
$c-aboriginal-sans:		'Noto Sans Canadian Aboriginal';
$cherokee-sans:				''; // No font available
$chinese-s-sans:			'Noto Sans SC'; // Simplified chinese
$chinese-hk-sans:			'Noto Sans HK'; // Hongkong chinese
$chinese-t-sans:			'Noto Sans TC'; // Traditional chinese
$cyrillic-sans:				'Noto Sans LGC'; // combined latin, greek cyrillic
$devanagari-sans:			'Noto Sans Devanagari';
$georgian-sans:				''; // No font available
$greek-sans:					'Noto Sans LGC'; // combined latin, greek cyrillic
$gujarati-sans:				'Noto Sans Gujarati';
$gurmukhi-sans:				'Noto Sans Gurmukhi';
$hebrew-sans:					'Noto Sans Hebrew';
$japanese-sans:				'Noto Sans JP';
$kannada-sans:				'Noto Sans Kannada';
$kayah-sans:					'Noto Sans Kayah';
$khmer-sans:					'Noto Sans Khmer';
$korean-sans:					'Noto Sans KR'; // Script selector is hangul.scss
$latin-sans:					'Noto Sans Latin';
$lao-sans:						'Noto Sans Lao';
$limbu-sans:					'Noto Sans Limbu';
$malayalam-sans:			'Noto Sans Malayalam';
$mongolian-sans:			'Noto Sans Mongolian';
$myanmar-sans:				'Noto Sans Myanmar';
$nko-sans:						'Noto Sans NKo';
$oriya-sans:					'Noto Sans Oriya';
$sinhala-sans:				'Noto Sans Sinhala'; // Needs webfont kit
$tagalog-sans:				'Noto Sans Tagalog';
$tai-le-sans:					'Noto Sans TaiLe';
$tai-tham-sans:				'Noto Sans TaiTham';
$tai-viet-sans:				'Noto Sans TaiViet';
$takri-sans:					''; // No font available
$tamil-sans:					'Noto Sans Tamil';
$telugu-sans:					'Noto Sans Telugu';
$thaana-sans:					'Noto Sans Thaana';
$thai-sans:						'Noto Sans Thai';
$tibetan-sans:				'Noto Sans Tibetan';
$warang-citi-sans:		'Noto Sans Warang Citi';
// Static sans Italic
$latin-sans-italic:		'Noto Sans Latin Italic';

// Static sans monospace
$latin-sans-mono:			'Noto Sans Latin Mono';
