// Serif Font variables

// Variables apply to both static and VF fonts which have the same name
// VF webfont rules come after the static rules to load only where supported
$adlam-serif:						''; 													// None
$arabic-serif:					'Noto Serif Arabic';					// Static
$armenian-serif:				'Noto Serif Armenian'; 				// Static + VF
$bamum-serif:						''; 													// None
$balinese-serif:				'Noto Serif Balinese'; 				// Static + VF
$bengali-serif:					'Noto Serif Bengali'; 				// Static + VF
$brahmi-serif:					''; 													// None
$buginese-serif:				''; 													// None
$buhid-serif:						''; 													// None
$c-aboriginal-serif:		''; 													// None
$cherokee-serif:				''; 													// None
$chinese-s-serif:				'Noto Serif SC'; 							// Static - Simplified chinese
$chinese-hk-serif:			'Noto Serif HK'; 							// Static - Hongkong chinese
$chinese-t-serif:				'Noto Serif TC'; 							// Static - Traditional chinese
$cyrillic-serif:				'Noto Serif LGC';							// Static
$devanagari-serif:			'Noto Serif Devanagari'; 			// Static + VF
$ethiopic-serif:				'Noto Serif Ethiopic'; 				// Static + VF
$georgian-serif:				'Noto Serif Georgian'; 				// Static + VF
$grantha-serif:					'Noto Serif Grantha'; 				// Static + VF
$greek-serif:						'Noto Serif LGC';							// Static
$gujarati-serif:				'Noto Serif Gujarati'; 				// Static + VF
$gurmukhi-serif:				'Noto Serif Gurmukhi'; 				// Static + VF
$hebrew-serif:					'Noto Serif Hebrew'; 					// Static + VF
$hanifi-rohingya-serif:	'Noto Serif Hanifi Rohingya';	// Static + VF
$japanese-serif:				'Noto Serif JP';							// Static
$kannada-serif:					'Noto Serif Kannada';					// Static + VF
$kayah-serif:						''; 													// None
$khmer-serif:						'Noto Serif Khmer';						// Static + VF
$korean-serif:					'Noto Serif KR';							// Static
$lao-serif:							'Noto Serif Lao'; 						// Static + VF
$latin-serif:						'Noto Serif Latin';						// Static + VF
$limbu-serif:						''; 													// None
$malayalam-serif:				'Noto Serif Malayalam'; 			// Static + VF
$mongolian-serif:				''; 													// None
$myanmar-serif:					'Noto Serif Myanmar';					// Static + VF
$nko-serif:							'Noto Serif NKo';							// Static
$nushu-serif:						'';  													// None
$oriya-serif:						'';  													// None
$sinhala-serif:					'Noto Serif Sinhala';					// Static
$sora-sompeng-serif:		'Noto Serif Sora Sompeng';		// Static
$tagalog-serif:					'';  													// None
$tai-le-serif:					'';  													// None
$tai-tham-serif:				'';  													// None
$tai-viet-serif:				'';  													// None
$takri-serif:						'';  													// None
$tamil-serif:						'Noto Serif Tamil';						// Static + VF
$telugu-serif:					'Noto Serif Telugu';					// Static + VF
$thaana-serif:					'';  													// None
$thai-serif:						'Noto Serif Thai';						// Static + VF
$tibetan-serif:					'Noto Serif Tibetan';					// Static + VF
$warang-citi-serif:			'';  													// None
