// Font variables for self-hosted fonts

// Variable serif normal
$ethiopic-serif-vf:			'Noto Serif Ethiopic';
$adlam-serif-vf:				'Noto Serif Adlam';
$arabic-serif-vf:				'Noto Serif Arabic';
$armenian-serif-vf:			'Noto Serif Armenian';
$bamum-serif-vf:				'Noto Serif Bamum';
$bengali-serif-vf:			'Noto Serif Bengali';
$brahmi-serif-vf:				''; // No variable font available
$buginese-serif-vf:			''; // No variable font available
$buhid-serif-vf:				''; // No variable font available
$c-aboriginal-serif-vf:	''; // No variable font available
$cherokee-serif-vf:			''; // No variable font available
$chinese-s-serif-vf:		''; // No variable font available
$chinese-hk-serif-vf:		''; // No variable font available
$chinese-t-serif-vf:		''; // No variable font available
$cyrillic-serif-vf:			'Noto Serif LGC'; // combined latin, greek cyrillic
$devanagari-serif-vf:		'Noto Serif Devanagari';
$georgian-serif-vf:			'Noto Serif Georgian';
$greek-serif-vf:				'Noto Serif LGC'; // combined latin, greek cyrillic
$gujarati-serif-vf:			'Noto Serif Gujarati';
$gurmukhi-serif-vf:			'Noto Serif Gurmukhi';
$hebrew-serif-vf:				'Noto Serif Hebrew';
$kannada-serif-vf:			'Noto Serif Kannada';
$kayah-serif-vf:				'Noto Serif Kayah';
$khmer-serif-vf:				'Noto Serif Khmer';
$latin-serif-vf:				'Noto Serif';
$lao-serif-vf:					'Noto Serif Lao';
$limbu-serif-vf:				''; // No variable font available
$malayalam-serif-vf:		'Noto Serif Malayalam';
$mongolian-serif-vf:		'Noto Serif Mongolian';
$myanmar-serif-vf:			'Noto Serif Myanmar';
$nko-serif-vf:					'Noto Serif NKo';
$oriya-serif-vf:				'Noto Serif Oriya';
$sinhala-serif-vf:			'Noto Serif Sinhala';
$tagalog-serif-vf:			''; // No variable font available
$tai-le-serif-vf:				'Noto Serif TaiLe';
$tai-tham-serif-vf:			'Noto Serif TaiTham';
$tai-viet-serif-vf:			'Noto Serif TaiViet';
$takri-serif-vf:				'';
$tamil-serif-vf:				'Noto Serif Tamil';
$telugu-serif-vf:				'Noto Serif Telugu';
$thaana-serif-vf:				'Noto Serif Thaana';
$thai-serif-vf:					'Noto Serif Thai';
$tibetan-serif-vf:			'Noto Serif Tibetan';
$warang-citi-serif-vf:	''; // No variable font available

// Variable serif italic
$latin-serif-italic-vf:	'Noto Serif Italic';
