// Font variables for self-hosted fonts

// Static serif
$adlam-serif:					'Noto Serif Adlam';
$arabic-serif:				'Noto Serif Arabic';
$armenian-serif:			'Noto Serif Armenian';
$bamum-serif:					'Noto Serif Bamum';
$bengali-serif:				'Noto Serif Bengali';
$brahmi-serif:				''; // No font available
$buginese-serif:			''; // No font available
$buhid-serif:					''; // No font available
$c-aboriginal-serif:	''; // No font available
$cherokee-serif:			''; // No font available
$chinese-s-serif:			'Noto Serif SC'; // Simplified chinese
$chinese-hk-serif:		'Noto Serif HK'; // Hongkong chinese
$chinese-t-serif:			'Noto Serif TC'; // Traditional chinese
$cyrillic-serif:			'Noto Serif';
$devanagari-serif:		'Noto Serif Devanagari';
$ethiopic-serif:			'Noto Serif Ethiopic';
$georgian-serif:			'Noto Serif Georgian';
$greek-serif:					'Noto Serif LGC';
$gujarati-serif:			'Noto Serif Gujarati';
$gurmukhi-serif:			'Noto Serif Gurmukhi';
$hebrew-serif:				'Noto Serif Hebrew';
$japanese-serif:			'Noto Serif JP';
$kannada-serif:				'Noto Serif Kannada';
$kayah-serif:					'Noto Serif Kayah';
$khmer-serif:					'Noto Serif Khmer';
$korean-serif:				'Noto Serif KR'; // Script selector is hangul.scss
$latin-serif:					'Noto Serif Latin';
$lao-serif:						'Noto Serif Lao';
$limbu-serif:					''; // No font available
$malayalam-serif:			'Noto Serif Malayalam';
$mongolian-serif:			'Noto Serif Mongolian';
$myanmar-serif:				'Noto Serif Myanmar';
$nko-serif:						'Noto Serif NKo';
$oriya-serif:					'Noto Serif Oriya';
$sinhala-serif:				'Noto Serif Sinhala';
$tagalog-serif:				''; // No font available
$tai-le-serif:				'Noto Serif TaiLe';
$tai-tham-serif:			'Noto Serif TaiTham';
$tai-viet-serif:			'Noto Serif TaiViet';
$takri-serif:					''; // No font available
$tamil-serif:					'Noto Serif Tamil';
$telugu-serif:				'Noto Serif Telugu';
$thaana-serif:				'Noto Serif Thaana';
$thai-serif:					'Noto Serif Thai';
$tibetan-serif:				'Noto Serif Tibetan';
$warang-citi-serif:		''; // No font available
// Serif Italic
$latin-serif-italic:	'Noto Serif Latin Italic';
