html {
	font-size: 16px;

	* {
		box-sizing: border-box;
		word-break: break-word;
    hyphens: auto;
	}
}
body {
	margin: 2em 10%;
	background-color: #5858a1;
}
body > h1 {
	color: #fff;
	font-size: 2.5em;
}
body {

	> h1,
	> h2,
	> p {
		color: #fff;

		> a {
			&:link,
			&:visited,
			&:hover {
				color: #fff;
			}
		}
	}
}
h3 {
	font-size: 1.1rem;
	margin: 0;
}
div {
	margin: 0 0 1em;
}
div div {
	margin: 0;
}
.font-label {
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 1.2em;
	margin-bottom: .5em;
}

/* Render items as columns */
.lang-grid {
	columns: 4 200px;
	column-gap: 14px;
}
.lang-block {
	display: inline-block;
	min-width: 100%;
	border: 1px solid #ddd;
	margin: 0 0 14px;
	padding: 1em;
	background-color: #ffffff;

	h3 {
		font-size: 1.3em;
		font-weight: 100;
	}
	p {
		font-size: 1em;
	}
}
.languages {
	font-size: .85em;
}
p.character {
	font-size: 20em;
	margin: 0;
	line-height: 1;
}
.leader {
	text-transform: uppercase;
}
