html {
	font-size: 16px;
}
body {
	margin: 2em 10%;
}
h3 {
	font-size: 1.1rem;
	margin: 0;
}
div {
	margin: 0 0 1em;
}
div div {
	margin: 0;
}
.font-label {
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 1.2em;
	margin-bottom: .5em;
}

/* Render items as columns */
.lang-grid {
	columns: 4;
	column-gap: 14px;
}
.lang-block {
	display: inline-block;
	border: 1px solid #ddd;
	margin: 0 0 14px;
	padding: 1em;

	h3 {
		font-size: 1.3em;
		font-weight: 100;
	}
	p {
		font-size: 1em;
	}
}
