
// Import the variables
@import "variables/serif-vf";
@import "variables/sans-vf";
@import "variables/basefonts";

// Import the webfonts
@import "webfonts/webfonts";

// Set the base font for all languages
@import "languages/all";
@import "languages/single-script";
@import "languages/arabic";
@import "languages/cyrillic";
@import "languages/simplified-chinese";
@import "languages/traditional-chinese";
@import "languages/devanagari";
@import "languages/ethiopic";
@import "languages/greek";
@import "languages/hebrew";
@import "languages/japanese";
@import "languages/korean";
@import "languages/latin";

// Import the classess for weights and widths
@import "webfonts/weights";
