// Uncomment fonts you want to load from the Google CDN instead of your own server

// Import the basic latin Noto family
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans');

// Import the Simplified Chinese Noto family
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

// Import the Traditional Chinese Noto family
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

// Import the Hong Kong Chinese Noto family
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700;900&display=swap');

// Import the Japanese Noto family
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

// Import the Korean Noto family
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// Helper classes

// Class for Simplified Chinese
.noto-sans-sc {
	font-family: 'Noto Sans SC', sans-serif;
}

// Class for Traditional Chinese
.noto-sans-tc {
	font-family: 'Noto Sans TC', sans-serif;
}

// Class for Hong Kong Chinese
.noto-sans-hk {
	font-family: 'Noto Sans HK', sans-serif;
}

// Class for Japanese
.noto-sans-jp {
	font-family: 'Noto Sans JP', sans-serif;
}

// Class for Korean
.noto-sans-kr {
	font-family: 'Noto Sans KR', sans-serif;
}
