// The web fonts

// Use in @font-face rules with: unicode-range: $my-variable;
$adlam-range:       U+1E900-1E95F;
$arabic-range:      U+0600-06FF;
$armenian-range:    U+0530-058F;
$bamum-range:       U+????;
$bengali-range:     U+00-FF, U+980-9FF;
$cyrillic-range:    U+0400-04FF, U+0500-052F, U+1C80-1C8F;
$devanagari-range:  U+0900-097F;
$ethiopic-range:    U+1200-137F, U+1380-139F, U+2D80-2DDF;
$greek-range:       U+0370-03FF;
$gujarati-range:    U+0A80-0AFF;
$gurmukhi-range:    U+0A00-0A7F;
$hebrew-range:      U+0590-05FF;
$hangul-jamo-range: U+1100-11FF, U+A960-A97F;
$japanese-range:    U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F;
$kannada-range:     U+0C80-0CFF;
$khmer-range:       U+1780-17FF;
$lao-range:         U+0E80-0EFF;
$latin-range:       U+0020-024F;
$limbu-range:       U+1900-194F;
$malayalam-range:   U+0D00-0D7F;
$mongolian-range:   U+1800-18AF, U+11660-1167F;
$nko-range:         U+07C0-07FF;
$oriya-range:       U+0B00-0B7F;
$sinhala-range:     U+0D80-0DFF;
$tai-le-range:      U+1950-197F;
$tamil-range:       U+0B80-0BFF;
$telugu-range:      U+0C00-0C7F;
$thaana-range:      U+0780-07BF;
$thai-range:        U+0E00-0E7F;
$urdu-range:        U+0600-06FF;
$chinese-range:     U+4E00-9FFF, U+31C0-31EF, U+3300-33FF, U+3000-303F, U+2E80-2EFF, U+FE30-FE4F;
$korean-range:      U+4E00-9FFF, U+31C0-31EF, U+3300-33FF, U+3000-303F, U+2E80-2EFF;

// Example: @include font-face(Noto, Sans, Cyrillic, VF, Regular, bold, normal);
@mixin font-face ($family: "Noto", $type: "Sans", $script: "Cyrillic", $weight: "VF", $svgWeight: "Bold", $fontWeight: "bold", $fontStyle: "normal") {
  font-family: "#{$family} #{$type} #{$script} #{$weight}";
  src:  url('fonts/#{$family}#{$type}#{$script}-#{$weight}.eot');
  src:  url('fonts/#{$family}#{$type}#{$script}-#{$weight}.eot?#iefix') format('embedded-opentype'),
        url('fonts/#{$family}#{$type}#{$script}-#{$weight}.woff') format('woff'),
        url('fonts/#{$family}#{$type}#{$script}-#{$weight}.ttf') format('truetype'),
        url('fonts/#{$family}#{$type}#{$script}-#{$weight}.svg##{$family}#{$type}#{$script}-#{$svgWeight}') format('svg');
  font-weight: $fontWeight;
  font-style: $fontStyle;
}

// The fallback non-variable font
@font-face {
  font-family: "Noto Sans";
  src:  url("../fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NotoSans-Regular.woff") format("woff"),
        url("../fonts/NotoSans-Regular.ttf") format("truetype"),
        url("../fonts/NotoSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0020-024F;
}
// The fallback non-variable Italic font
@font-face {
  font-family: "Noto Sans Italic";
  src:  url("../fonts/NotoSans-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NotoSans-Italic.woff") format("woff"),
        url("../fonts/NotoSans-Italic.ttf") format("truetype"),
        url("../fonts/NotoSans-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
  unicode-range: U+0020-024F;
}

// ---------------------- SCRIPTS STATIC ---------------------- //

// No variable fonts are is available for the following
// Gujarati regular
@font-face {
  @include font-face (Noto, Sans, Gujarati, Regular, Regular, normal, normal);
  unicode-range: $gujarati-range;
}
// Gujarati bold
@font-face {
  @include font-face (Noto, Sans, Gujarati, Bold, bold, normal, normal);
  unicode-range: $gujarati-range;
}
// Simplified Chinese Regular
@font-face {
  @include font-face(Noto, Sans, SC, Regular, Regular, normal, normal);
  unicode-range: $chinese-range;
}
// Simplified Chinese Bold
@font-face {
  @include font-face(Noto, Sans, SC, Bold, bold, normal, normal);
  unicode-range: $chinese-range;
}
// Traditional Chinese Regular
@font-face {
  @include font-face(Noto, Sans, TC, Regular, Regular, normal, normal);
  unicode-range: $chinese-range;
}
// Traditional Chinese Bold
@font-face {
  @include font-face(Noto, Sans, TC, Bold, bold, normal, normal);
  unicode-range: $chinese-range;
}
// Korean Regular
@font-face {
  @include font-face(Noto, Sans, KR, Regular, Regular, normal, normal);
  unicode-range: $korean-range;
}
// Korean Bold
@font-face {
  @include font-face(Noto, Sans, KR, Bold, bold, normal, normal);
  unicode-range: $korean-range;
}
// Japanese Regular
@font-face {
  @include font-face(Noto, Sans, JP, Regular, Regular, normal, normal);
  unicode-range: $japanese-range;
}
// Japanese Bold
@font-face {
  @include font-face(Noto, Sans, JP, Bold, bold, normal, normal);
  unicode-range: $japanese-range;
}

// ---------------------SCRIPTS VARIABLE ---------------------- //

@supports ( font-variation-settings: 'wdth' 200 ) {
  // Variable sans fonts for Adlam
  @font-face {
    @include font-face(Noto, Sans, Adlam, VF, Regular, normal, normal);
    unicode-range: $adlam-range;
  }
  // Variable sans fonts for Arabic
  @font-face {
    @include font-face(Noto, Sans, Arabic, VF, Regular, normal, normal);
    unicode-range: $arabic-range;
  }
  // Variable sans fonts for Armenian
  @font-face {
    @include font-face(Noto, Sans, Armenian, VF, Regular, normal, normal);
    unicode-range: $armenian-range;
  }
  // Variable sans fonts for Bamum
  @font-face {
    @include font-face(Noto, Sans, Bamum, VF, Regular, normal, normal);
    unicode-range: $bamum-range;
  }
  // Variable sans fonts for Bengali
  @font-face {
    @include font-face(Noto, Sans, BengaliUI, VF, Regular, normal, normal);
    unicode-range: $bengali-range;
  }
  // Variable sans fonts for Cyrillic
  @font-face {
    @include font-face(Noto, Sans, LGC, VF, Regular, normal, normal);
    unicode-range: $cyrillic-range;
  }
  // Variable sans fonts for Devanagari (Hindi)
  @font-face {
    @include font-face(Noto, Sans, DevanagariUI, VF, Regular, normal, normal);
    unicode-range: $devanagari-range;
  }
  // Variable serif fonts for Ethiopic
  @font-face {
    @include font-face(Noto, Serif, Ethiopic, VF, Regular, normal, normal);
    unicode-range: $ethiopic-range;
  }
  // Variable sans fonts for Greek
  @font-face {
    @include font-face(Noto, Sans, LGC, VF, Regular, normal, normal);
    unicode-range: $greek-range;
  }
  // Variable sans fonts for Gurmukhi
  @font-face {
    @include font-face(Noto, Sans, Mongolian, VF, Regular, normal, normal);
    unicode-range: $mongolian-range;
  }
  // The variable font for Latin, Regular
  @font-face {
    @include font-face(Noto, Sans, Regular, VF, Regular, normal, normal);
    unicode-range: $latin-range;
  }
  // The variable font for Latin, Italic
  @font-face {
    @include font-face(Noto, Sans, Italic, VF, Italic, normal, normal);
    unicode-range: $latin-range;
  }
  // The variable font for Latin, Mono
  @font-face {
    @include font-face(Noto, Sans, Mono, VF, Mono, normal, normal);
    unicode-range: $latin-range;
  }
  // Variable sans fonts for  Hebrew
  @font-face {
    @include font-face(Noto, Sans, Hebrew, VF, Regular, normal, normal);
    unicode-range: $hebrew-range;
  }
  // Variable sans fonts for Hangul Jamo
  @font-face {
    @include font-face(Noto, Sans, HangulJamo, VF, Regular, normal, normal);
    unicode-range: $hangul-jamo-range;
  }
  // Variable sans fonts for Kannada
  @font-face {
    @include font-face(Noto, Sans, KannadaUI, VF, Regular, normal, normal);
    unicode-range: $kannada-range;
  }
  // The Variable font for Khmer
  @font-face {
    @include font-face(Noto, Sans, Khmer, VF, Regular, normal, normal);
    unicode-range: $khmer-range;
  }
  // Variable sans fonts for Limbu
  @font-face {
    @include font-face(Noto, Sans, Limbu, VF, Regular, normal, normal);
    unicode-range: $tamil-range;
  }
  // Variable sans fonts for Lao
  @font-face {
    @include font-face(Noto, Sans, LaoUI, VF, Regular, normal, normal);
    unicode-range: $lao-range;
  }
  // Variable sans fonts for Malayalam
  @font-face {
    @include font-face(Noto, Sans, MalayalamUI, VF, Regular, normal, normal);
    unicode-range: $malayalam-range;
  }
  // Variable sans fonts for Mongolian
  @font-face {
    @include font-face(Noto, Sans, Mongolian, VF, Regular, normal, normal);
    unicode-range: $mongolian-range;
  }
  // Variable sans fonts for NKo
  @font-face {
    @include font-face(Noto, Sans, NKo, VF, Regular, normal, normal);
    unicode-range: $nko-range;
  }
  // Variable sans fonts for Oriya
  @font-face {
    @include font-face(Noto, Sans, Oriya, VF, Regular, normal, normal);
    unicode-range: $oriya-range;
  }
  // Variable sans fonts for Sinhala
  @font-face {
    @include font-face(Noto, Sans, Sinhala, VF, Regular, normal, normal);
    unicode-range: $tamil-range;
  }
  // Variable sans fonts for Tai Le
  @font-face {
    @include font-face(Noto, Sans, TaiLe, VF, Regular, normal, normal);
    unicode-range: $tamil-range;
  }
  // Variable sans fonts for Tamil
  @font-face {
    @include font-face(Noto, Sans, Tamil, VF, Regular, normal, normal);
    unicode-range: $tamil-range;
  }
  // Variable sans fonts for Telugu
  @font-face {
    @include font-face(Noto, Sans, Telugu, VF, Regular, normal, normal);
    unicode-range: $telugu-range;
  }
  // Variable sans fonts for Thaana
  @font-face {
    @include font-face(Noto, Sans, Thaana, VF, Regular, normal, normal);
    unicode-range: $thaana-range;
  }
  // The variable font for Thai
  @font-face {
    @include font-face(Noto, Sans, ThaiUI, VF, Regular, normal, normal);
    unicode-range: $thai-range;
  }
}
