
// Customize these weight variables using integers between 100 and 900
$ulight:        100;
$xight:         200;
$light:         300;
$regular:       400;
$medium:        500;
$sbold:         600;
$bold:          700;
$xbold:         800;
$ubold:         900;

// Customize these width variables using integers between 60 and 100
// Note: do not confuse these with font-stretch properties
$ucondensed:    60;
$xcondensed:    70;
$condensed:     80;
$narrow:        90;
$normal:        100;

// @include width-weight(100,100);
@mixin width-weight ($width: 100, $weight: 100) {
  font-weight: $weight;
  font-variation-settings: 'wdth' $width, 'wght' $weight;
}

strong {
  @include width-weight($normal,$bold);
}

// Helper classes for default weights
// Ultralight, AKA Thin
.lf-ulight {
  @include width-weight($normal,$ulight);
}
// Extralight
.lf-xlight {
  @include width-weight($normal,$xight);
}
// Light, AKA Book
.lf-light {
  @include width-weight($normal,$light);
}
// Regular
.lf-regular {
  @include width-weight($normal,$regular);
}
// Semibold, AKA DemiBold
.lf-medium {
  @include width-weight($normal,$medium);
}
// Semibold
.lf-sbold {
  @include width-weight($normal,$sbold);
}
// Bold
.lf-bold {
  @include width-weight($normal,$bold);
}
// Extrabold, AKA Heavy
.lf-xbold {
  @include width-weight($normal,$xbold);
}
// Ultrabold, AKA Black
.lf-ubold {
  @include width-weight($normal,$ubold);
}

// Build your own from the available variables
// Widths:  $uconddensed, $xcondenssed, $condensed, $narrow, $normal,
// Weights: $ulight, $xlight, $light, $regular, $medium, $sbold, $bold, $xbold, $ubold

// for example...
.lf-ucondensed-light {
  @include width-weight($ucondensed,$light);
}

// Or import the mixin to your scss and use it in your own classes
.my-custom-class {
  font-size: 2rem;
  color: #555;
  @include width-weight($ucondensed,$light);
}
