@import "./bulma/bulma-settings";

// Custom

.tile.lang-block {
	flex-grow: 0;

	h3 {
		font-size: 1.3em;
		font-weight: 100;
	}
	p {
		font-size: 1em;
	}
}
.languages {
	font-size: .85em;
}
p.character {
	font-size: 20em;
	margin: 0;
	line-height: 1;
}
.leader {
	text-transform: uppercase;
	font-weight: 500;
}
.font-label {
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 1.2em;
	margin-bottom: .5em;
}

.container {
	max-width: 1200px !important;
}
