
// Customize these weight variables using integers between 100 and 900
$ulight:        100;
$xight:         200;
$light:         300;
$regular:       400;
$medium:        500;
$sbold:         600;
$bold:          700;
$xbold:         800;
$ubold:         900;

// Customize these stretch variables using integers between 60 and 100
$ucondensed:    60;
$xcondensed:    70;
$condensed:     80;
$narrow:        90;
$normal:        100;

// @include stretch-weight(100,100);
@mixin stretch-weight ($stretch: $normal, $weight: $regular) {
	font-synthesis: none;
	font-stretch: $stretch;
	font-weight: $weight;
	// font-variation-settings: 'wdth' $stretch, 'wght' $weight;
}

strong {
	@include stretch-weight($normal,$bold);
}

// Helper classes for default weights
// Ultralight, AKA Thin
.lf-ulight {
	@include stretch-weight($normal,$ulight);
}
// Extralight
.lf-xlight {
	@include stretch-weight($normal,$xight);
}
// Light, AKA Book
.lf-light {
	@include stretch-weight($normal,$light);
}
// Regular
.lf-regular {
	@include stretch-weight($normal,$regular);
}
// Semibold, AKA DemiBold
.lf-medium {
	@include stretch-weight($normal,$medium);
}
// Semibold
.lf-sbold {
	@include stretch-weight($normal,$sbold);
}
// Bold
.lf-bold {
	@include stretch-weight($normal,$bold);
}
// Extrabold, AKA Heavy
.lf-xbold {
	@include stretch-weight($normal,$xbold);
}
// Ultrabold, AKA Black
.lf-ubold {
	@include stretch-weight($normal,$ubold);
}

// Build your own from the available variables
// stretchs:  $uconddensed, $xcondenssed, $condensed, $narrow, $normal,
// Weights: $ulight, $xlight, $light, $regular, $medium, $sbold, $bold, $xbold, $ubold

// for example...
.lf-ucondensed-light {
	@include stretch-weight($ucondensed,$light);
}

// Or import the mixin to your scss and use it in your own classes
.my-custom-class {
	font-size: 2rem;
	color: #555;
	@include stretch-weight($ucondensed,$light);
}
