
// Customize these weight variables using integers between 100 and 900
$ulight:        100;
$xight:         200;
$light:         300;
$regular:       400;
$medium:        500;
$sbold:         600;
$bold:          700;
$xbold:         800;
$ubold:         900;

// Customize these stretch variables using integers between 60 and 100
$ucondensed:    60%;
$xcondensed:    70%;
$condensed:     80%;
$narrow:        90%;
$no-stretch:		100%;

// @include stretch-weight($narrow, $regular);
@mixin stretch-weight ($stretch: $narrow, $weight: $regular) {
	font-synthesis: none;
	font-stretch: $stretch;
	font-weight: $weight;
}

strong {
	@include stretch-weight($no-stretch,$bold);
}

// Helper classes for default weights
// Ultralight, AKA Thin
.#{$prefix}ulight {
	@include stretch-weight($no-stretch,$ulight);
}
// Extralight
.#{$prefix}xlight {
	@include stretch-weight($no-stretch,$xight);
}
// Light, AKA Book
.#{$prefix}light {
	@include stretch-weight($no-stretch,$light);
}
// Regular
.#{$prefix}regular {
	@include stretch-weight($no-stretch,$regular);
}
// Semibold, AKA DemiBold
.#{$prefix}medium {
	@include stretch-weight($no-stretch,$medium);
}
// Semibold
.#{$prefix}sbold {
	@include stretch-weight($no-stretch,$sbold);
}
// Bold
.#{$prefix}bold {
	@include stretch-weight($no-stretch,$bold);
}
// Extrabold, AKA Heavy
.#{$prefix}xbold {
	@include stretch-weight($no-stretch,$xbold);
}
// Ultrabold, AKA Black
.#{$prefix}ubold {
	@include stretch-weight($no-stretch,$ubold);
}

// Build your own from the available variables
// stretchs:  $uconddensed, $xcondenssed, $condensed, $narrow, $no-stretch,
// Weights: $ulight, $xlight, $light, $regular, $medium, $sbold, $bold, $xbold, $ubold

// for example...
.#{$prefix}ucondensed-light {
	@include stretch-weight($ucondensed,$light);
}

// Or import the mixin to your scss and use it in your own classes
.my-custom-class {
	font-size: 2rem;
	color: #555;
	@include stretch-weight($ucondensed,$light);
}
