@font-face {
  font-family: "Noto Sans Adlam";
  src: url("fonts/NotoSansAdlam-VF-subset.woff2") format("woff2"), url("fonts/NotoSansAdlam-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1E900-1E95F, U+2E41;
}
@font-face {
  font-family: "Noto Sans Arabic";
  src: url("fonts/NotoSansArabic-VF-subset.woff2") format("woff2"), url("fonts/NotoSansArabic-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}
@font-face {
  font-family: "Noto Sans Armenian";
  src: url("fonts/NotoSansArmenian-VF-subset.woff2") format("woff2"), url("fonts/NotoSansArmenian-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0530-058F;
}
@font-face {
  font-family: "Noto Sans Bamum";
  src: url("fonts/NotoSansBamum-VF-subset.woff2") format("woff2"), url("fonts/NotoSansBamum-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+A6A0-A6FF, U+16800-16A3F;
}
@font-face {
  font-family: "Noto Sans Bengali";
  src: url("fonts/NotoSansBengali-VF-subset.woff2") format("woff2"), url("fonts/NotoSansBengali-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0980-09FF;
}
@font-face {
  font-family: "Noto Sans CanadianAboriginal";
  src: url("fonts/NotoSansCanadianAboriginal-VF-subset.woff2") format("woff2"), url("fonts/NotoSansCanadianAboriginal-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1400-167F, U+18B0-18FF;
}
@font-face {
  font-family: "Noto Sans Cherokee";
  src: url("fonts/NotoSansCherokee-VF-subset.woff2") format("woff2"), url("fonts/NotoSansCherokee-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+????;
}
@font-face {
  font-family: "Noto Sans LGC";
  src: url("fonts/NotoSansLGC-VF-subset.woff2") format("woff2"), url("fonts/NotoSansLGC-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0400-04FF, U+0500-052F, U+1C80-1C8F;
}
@font-face {
  font-family: "Noto Sans Devanagari";
  src: url("fonts/NotoSansDevanagari-VF-subset.woff2") format("woff2"), url("fonts/NotoSansDevanagari-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0900-097F, U+A8E0-A8FF;
}
@font-face {
  font-family: "Noto Sans LGC";
  src: url("fonts/NotoSansLGC-VF-subset.woff2") format("woff2"), url("fonts/NotoSansLGC-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}
/*
// Variable sans fonts for Gujarati
@font-face {
	@include font-face-variable(Noto, Sans, Gujarati, VF, Regular, normal, normal);
	unicode-range: $gujarati;
}
*/
@font-face {
  font-family: "Noto Sans Gurmukhi";
  src: url("fonts/NotoSansGurmukhi-VF-subset.woff2") format("woff2"), url("fonts/NotoSansGurmukhi-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0A00-0A7F;
}
@font-face {
  font-family: "Noto Sans Hebrew";
  src: url("fonts/NotoSansHebrew-VF-subset.woff2") format("woff2"), url("fonts/NotoSansHebrew-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0590-05FF;
}
@font-face {
  font-family: "Noto Sans Kannada";
  src: url("fonts/NotoSansKannada-VF-subset.woff2") format("woff2"), url("fonts/NotoSansKannada-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0C80-0CFF;
}
@font-face {
  font-family: "Noto Sans Khmer";
  src: url("fonts/NotoSansKhmer-VF-subset.woff2") format("woff2"), url("fonts/NotoSansKhmer-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1780-17FF, U+19E0-19FF;
}
@font-face {
  font-family: "Noto Sans Lao";
  src: url("fonts/NotoSansLao-VF-subset.woff2") format("woff2"), url("fonts/NotoSansLao-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0E80-0EFF;
}
/*
// Variable sans fonts for Limbu
@font-face {
	@include font-face-variable(Noto, Sans, Limbu, VF, Regular, normal, normal);
	unicode-range: $limbu;
}
*/
@font-face {
  font-family: "Noto Sans Lisu";
  src: url("fonts/NotoSansLisu-VF-subset.woff2") format("woff2"), url("fonts/NotoSansLisu-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+A4D0-A4FF;
}
@font-face {
  font-family: "Noto Sans Malayalam";
  src: url("fonts/NotoSansMalayalam-VF-subset.woff2") format("woff2"), url("fonts/NotoSansMalayalam-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0D00-0D7F;
}
@font-face {
  font-family: "Noto Sans Myanmar";
  src: url("fonts/NotoSansMyanmar-VF-subset.woff2") format("woff2"), url("fonts/NotoSansMyanmar-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1000-109F, U+AA60-AA7F, U+A9E0-A9FF;
}
/*
// Variable sans fonts for NKo
@font-face {
	@include font-face-variable(Noto, Sans, NKo, VF, Regular, normal, normal);
	unicode-range: $nko;
}
*/
@font-face {
  font-family: "Noto Sans Oriya";
  src: url("fonts/NotoSansOriya-VF-subset.woff2") format("woff2"), url("fonts/NotoSansOriya-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0B00-0B7F;
}
/*
@font-face {
  font-family: "Noto Sans Sinhala";
  src: url("fonts/NotoSansSinhala-VF-subset.woff2") format("woff2"), url("fonts/NotoSansSinhala-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0D80-0DFF;
}
// Variable sans fonts for Tai Le
@font-face {
	@include font-face-variable(Noto, Sans, TaiLe, VF, Regular, normal, normal);
	unicode-range: $tai-le;
}
*/
@font-face {
  font-family: "Noto Sans TaiTham";
  src: url("fonts/NotoSansTaiTham-VF-subset.woff2") format("woff2"), url("fonts/NotoSansTaiTham-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1A20-1AAF;
}
/*
// Variable sans fonts for Tai Viet
@font-face {
	@include font-face-variable(Noto, Sans, TaiViet, VF, Regular, normal, normal);
	unicode-range: $tai-viet;
}
*/
@font-face {
  font-family: "Noto Sans Tamil";
  src: url("fonts/NotoSansTamil-VF-subset.woff2") format("woff2"), url("fonts/NotoSansTamil-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0B80-0BFF, U+11FC0-11FFF;
}
@font-face {
  font-family: "Noto Sans Telugu";
  src: url("fonts/NotoSansTelugu-VF-subset.woff2") format("woff2"), url("fonts/NotoSansTelugu-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0C00-0C7F;
}
@font-face {
  font-family: "Noto Sans Thaana";
  src: url("fonts/NotoSansThaana-VF-subset.woff2") format("woff2"), url("fonts/NotoSansThaana-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0780-07BF;
}
@font-face {
  font-family: "Noto Sans Thai";
  src: url("fonts/NotoSansThai-VF-subset.woff2") format("woff2"), url("fonts/NotoSansThai-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0E00-0E7F;
}
/*
// The variable sans font for Tibetan
@font-face {
  @include font-face-variable(Noto, Sans, Tibetan, VF, Regular, normal, normal);
  unicode-range: $tibetan;
}
// Variable sans fonts for Zanzabar Square
@font-face {
	@include font-face-variable(Noto, Sans, ZanzabarSquare, VF, Regular, normal, normal);
	unicode-range: $zanzabar;
}
*/