// Armenian script

*:lang(hy) {
	font-family: $base-sans-vf,$base-sans,$armenian-sans-vf,$armenian-sans,sans-serif;
	direction: ltr;

	.lf-sans:lang(hy) {
		font-family: $base-sans-vf,$base-sans,$armenian-sans-vf,$armenian-sans,sans-serif;
	}

	.lf-serif:lang(hy) {
		font-family: $base-serif-vf,$base,$armenian-serif-vf,$armenian-serif,serif;
	}
}
