// Bamum script

*:lang(bax),
.lf-sans:lang(bax) {
	font-family: $base-sans-vf,$base-sans,$bamum-sans-vf,$bamum-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(bax) {
	font-family: $base-serif-vf,$base-serif,$bamum-serif-vf,$bamum-serif,serif;
}
