// Bamum script

*:lang(bax) {
	font-family: $base-sans-vf,$base-sans,$bamum-sans-vf,$bamum-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$bamum-sans-vf,$bamum-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base,$bamum-serif-vf,$bamum-serif,serif;
	}
}
