// Bangla (Bengali) script

*:lang(bn) {
	font-family: $base-sans-vf,$base-sans,$bengali-sans-vf,$bengali-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$bengali-sans-vf,$bengali-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base-serif,$bengali-serif-vf,$bengali-serif,serif;
	}
}
