// Bangla (Bengali) script

*:lang(bn),
.lf-sans:lang(bn) {
	font-family: $base-sans-vf,$base-sans,$bengali-sans-vf,$bengali-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(bn) {
	font-family: $base-serif-vf,$base-serif,$bengali-serif-vf,$bengali-serif,serif;
	direction: ltr;
}
