// Brahmi script

*:lang(Brah) {
	font-family: $base-sans-vf,$base-sans,$brahmi-sans-vf,$brahmi-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$brahmi-sans-vf,$brahmi-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base-serif,$brahmi-serif-vf,$brahmi-serif,serif;
	}
}
