// Buginese script

*:lang(bug) {
	font-family: $base-sans-vf,$base-sans,$buginese-sans-vf,$buginese-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$buginese-sans-vf,$buginese-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base,$buginese-serif-vf,$buginese-serif,serif;
	}
}
