// Buhid script

*:lang(bku),
.lf-sans:lang(bku) {
	font-family: $base-sans-vf,$base-sans,$buhid-sans-vf,$buhid-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(bku){
	font-family: $base-serif-vf,$base-serif,$buhid-serif-vf,$buhid-serif,serif;
	direction: ltr;
}
