// Canadian Aboriginal symbols

*:lang(Cans),
*:lang(chp),
*:lang(cr),
*:lang(crj),
*:lang(crk),
*:lang(crl),
*:lang(crm),
*:lang(csw),
*:lang(den),
*:lang(iu),
*:lang(nsk),
*:lang(oj) {
	font-family: $base-sans-vf,$base-sans,$c-aboriginal-sans-vf,$c-aboriginal-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$c-aboriginal-sans-vf,$c-aboriginal-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base,$c-aboriginal-serif-vf,$c-aboriginal-serif,serif;
	}
}
