// georgian script

*:lang(ka),
.lf-sans:lang(ka) {
	font-family: $base-sans-vf,$base-sans,$georgian-sans-vf,$georgian-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(ka) {
	font-family: $base-serif-vf,$base-serif,$georgian-serif-vf,$georgian-serif,serif;
	direction: ltr;
}
