// Hangul (Korean) script languages

*:lang(ko) {
	font-family: $base-sans-vf,$base-sans,$korean-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$korean-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base-serif,$korean-serif,serif;
	}
}
