// Hangul (Korean) script languages

*:lang(ko),
.lf-sans:lang(ko) {
	font-family: $base-sans-vf,$base-sans,$korean-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(ko) {
	font-family: $base-serif-vf,$base-serif,$korean-serif,serif;
	direction: ltr;
}
