// Lao script

*:lang(lo),
.lf-sans:lang(lo) {
	font-family: $base-sans-vf,$base-sans,$lao-sans-vf,$lao-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(lo) {
	font-family: $base-sans-vf,$base-sans,$lao-serif-vf,$lao-serif,serif;
	direction: ltr;
}
