// Languages that could be written in either latin or cyrillic scripts

// Default to Cyrillic
*:lang(ro),
*:lang(sr),
*:lang(gag),
*:lang(bs),
*:lang(rom),
*:lang(se),
*:lang(tkr),
*:lang(udm) {
	font-family: $base-sans-vf,$base-sans,$cyrillic-sans-vf,$cyrillic-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$cyrillic-sans-vf,$cyrillic-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base-serif,$cyrillic-serif-vf,$cyrillic-serif,serif;
	}
}

// Cyrillic is explicit
*:lang(Cyrl),
*:lang(ro-Cyrl),
*:lang(sr-Cyrl),
*:lang(gag-Cyrl),
*:lang(bs-Cyrl),
*:lang(rom-Cyrl),
*:lang(se-Cyrl),
*:lang(tkr-Cyrl),
*:lang(udm-Cyrl) {
	font-family: $base-sans-vf,$base-sans,$cyrillic-sans-vf,$cyrillic-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$cyrillic-sans-vf,$cyrillic-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base-serif,$cyrillic-serif-vf,$cyrillic-serif,serif;
	}
}

// Latin is explicit
*:lang(ro-Latn),
*:lang(sr-Latn),
*:lang(gag-Latn),
*:lang(bs-Latn),
*:lang(rom-Latn),
*:lang(se-Latn),
*:lang(tkr-Latn),
*:lang(udm-Latn) {
	font-family: $latin-sans-vf,$latin-sans,$base-sans,$base,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $latin-sans-vf,$latin-sans,$base-sans,$base,sans-serif;
	}

	.lf-serif {
		font-family: $latin-serif-vf,$latin-serif,$base-serif,$base,serif;
	}
}
