// Myanmar script

*:lang(my),
.lf-sans:lang(my) {
	font-family: $base-sans-vf,$base-sans,$myanmar-sans-vf,sans-serif;
	direction: ltr;
}

.lf-serif:lang(my) {
	font-family: $base-serif-vf,$base-serif,$myanmar-serif-vf,serif;
	direction: ltr;
}
