// Sinhala script

*:lang(si),
.lf-sans:lang(si) {
	font-family: $base-sans-vf,$base-sans,$sinhala-sans-vf,$sinhala-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(si) {
	font-family: $base-serif-vf,$base-serif,$sinhala-serif-vf,$sinhala-serif,serif;
	direction: ltr;
}
