// Telugu script

*:lang(te) {
	font-family: $base-sans-vf,$base-sans,$telugu-sans-vf,$telugu-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$telugu-sans-vf,$telugu-sans,sans-serif;
	}

	.lf-sans-ui {
		font-family: $base-sans-vf,$base-sans,$telugu-sans-ui-vf,$telugu-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base-serif,$telugu-serif-vf,$telugu-serif,serif;
	}
}
