// Thai script

*:lang(th) {
	font-family: $base-sans-vf,$base-sans,$thai-sans-vf,$thai-sans,sans-serif;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$thai-sans-vf,$thai-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-serif-vf,$base-serif,$thai-serif-vf,$thai-serif,serif;
	}
}
