// Tibetan script

*:lang(bo),
*:lang(dz) {
	font-family: $base-sans-vf,$base-sans,$tibetan-sans-vf,$tibetan-sans,sans-serif;
	direction: ltr;

	.lf-sans {
		font-family: $base-sans-vf,$base-sans,$tibetan-sans-vf,$tibetan-sans,sans-serif;
	}

	.lf-serif {
		font-family: $base-sans-vf,$base-sans,$tibetan-serif-vf,$tibetan-serif,serif;
	}
}
