
extends layout

block link
	- var selected = 'languages'; //default
	- var tags = env.helpers.getAllTags(); tags.sort(); tags.splice(tags.indexOf("other"),1); tags.push("other")
	- var selectedTag = tagName
	
block content
	h1= 'Lingua'
	div#main
