// languages

block link
	- var selected = 'languages';

block content
	
	//- var language = contents.languages[title + '.json'];
	
	.section
		h2 Lingua supports 50+ scripts and more than 1000 languages
		div.tile.is-ancestor.lang-grid
			#column-1.tile.is-parent.is-3.is-vertical
				// column 1
				p #{author}
				each language in languages++
					.script (scriptName)
					p.example (example)
					hr
