// Adlam script


*,
.lf-sans {
	&:lang(Adlm),
	&:lang(ff)  {
		font-family: $base-sans,$adlam-sans,sans-serif;
		direction: rtl;
	}
}

.lf-unjoined {
	&:lang(Adlm),
	&:lang(ff) {
		font-family: $base-sans,$adlam-unjoined,sans-serif;
		direction: rtl;
	}
}
