// Add the base font everywhere

html {
	font-family: $base-sans,sans-serif;
	font-display: swap; // Comment out if you don't want FOUT
	direction: ltr;

	em,
	.lf-latin-italic {
		font-style: normal; // The character set is italic so we set this to normal
		font-family: $base-sans-italic,sans-serif;
		font-display: swap; // Comment out if you don't want FOUT
	}

	pre,
	code,
	.lf-latin-mono {
		font-family: $base-mono,monospace;
		font-display: swap; // Comment out if you don't want FOUT
	}
}
