// Add the base font everywhere

html {
	font-family: $base-sans,sans-serif !important;
	font-display: swap; // Comment out if you don't want FOUT

	&.#{$prefix}serif {
		font-family: $base-serif,serif;
	}
}

em,
.#{$prefix}italic {
	//font-style: normal; // The character set is italic so we set this to normal

	&.#{$prefix}sans {
		font-family: $base-sans-italic,sans-serif;
	}

	&.#{$prefix}serif {
		font-family: $base-serif-italic,serif;
	}
}

pre,
code,
.#{$prefix}mono {
	font-family: $base-mono,monospace;
}
