// Arabic script languages

*,
.lf-sans {
	&:lang(Arab),&:lang(ar),&:lang(fa),&:lang(ps),&:lang(ur),&:lang(wni),&:lang(zdj),&:lang(aeb),&:lang(arq),&:lang(ars),&:lang(ary),&:lang(arz),&:lang(bej),&:lang(bgn),&:lang(bqi),&:lang(ckb),&:lang(dcc),&:lang(doi),&:lang(fia),&:lang(gbz),&:lang(gjk),&:lang(gju),&:lang(glk),&:lang(haz),&:lang(hnd),&:lang(hno),&:lang(khw),&:lang(kvx),&:lang(kxp),&:lang(lah),&:lang(lki),&:lang(lrc),&:lang(luz),&:lang(mfa),&:lang(mvy),&:lang(mzn),&:lang(prd),&:lang(rmt),&:lang(sdh),&:lang(skr),&:lang(trw) {
		font-family: $base-sans,$arabic-sans,sans-serif;
		direction: rtl;
	}
}

.lf-sans-ui {
	&:lang(Arab),
	&:lang(ar) {
		font-family: $base-sans,$arabic-sans-ui,sans-serif;
		direction: rtl;
	}
}
