// Arabic script

@import "language-sets";

$sans-stack:		$base-sans,$arabic-sans,sans-serif;
$ui-stack: 			$base-sans,$arabic-sans-ui,sans-serif;
$naskh-stack: 	$base-sans,$naskh-arabic,serif;
$kufi-stack: 		$base-sans,$kufi-arabic,serif;

*,
.lf-sans {
	@include langlist($sans-stack, rtl, $langs-Arab...);
}

.lf-sans-ui {
	@include langlist($ui-stack, rtl, $langs-Arab...);
}

.lf-naskh {
	@include langlist($naskh-stack, rtl, $langs-Arab...);
}

.lf-kufi {
	@include langlist($kufi-stack, rtl, $langs-Arab...);
}
