// Armenian script

*:lang(hy),
.lf-sans:lang(hy) {
	font-family: $base-sans,$armenian-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(hy) {
	font-family: $base-serif,$armenian-serif,serif;
	direction: ltr;
}
