// Balinese script

@import "language-sets";

$sans-stack: $base-sans,$balinese-sans,sans-serif;
$serif-stack: $base-serif,$balinese-serif,serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Bali...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Bali...);
}
