// Bangla (Bengali) script

*,
.lf-sans {
	&:lang(Beng),
	&:lang(bn) {
		font-family: $base-sans,$devanagari-sans,$bengali-sans,sans-serif; // Bengali borrows Devanagari characters
		direction: ltr;
	}
}

.lf-sans-ui {
	&:lang(Beng),
	&:lang(bn) {
		font-family: $base-sans,$devanagari-sans-ui,$bengali-sans-ui,sans-serif; // Bengali borrows Devanagari characters
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Beng),
	&:lang(bn)  {
		font-family: $base-serif,$devanagari-serif,$bengali-serif,serif; // Bengali borrows Devanagari characters
		direction: ltr;
	}
}
