// Bangla (Bengali) script

@import "language-sets";

$sans-stack: 		$base-sans,$devanagari-sans,$bengali-sans,sans-serif;
$serif-stack: 	$base-serif,$devanagari-sans,$bengali-serif,serif;
$ui-stack: 			$base-sans,$devanagari-sans,$bengali-sans-ui,sans-serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Beng...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Beng...);
}

.lf-sans-ui {
	@include langlist($ui-stack, ltr, $langs-Beng...);
}
