// Bengali script

@import "language-sets";

$sans-stack: 		$base-sans,$devanagari-sans,$bengali-sans,sans-serif;
$serif-stack: 	$base-serif,$devanagari-sans,$bengali-serif,serif;
$ui-stack: 			$base-sans,$devanagari-sans,$bengali-sans-ui,sans-serif;

*,
.#{$prefix}sans {
	@include langlist($sans-stack, ltr, $langs-Beng...);
}

.#{$prefix}serif {
	@include langlist($serif-stack, ltr, $langs-Beng...);
}

.#{$prefix}sans-ui {
	@include langlist($ui-stack, ltr, $langs-Beng...);
}
