// Brahmi script

@import "language-sets";

$sans-stack: $base-sans,$brahmi-sans,sans-serif;
$serif-stack: $base-serif,$brahmi-serif,serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Brah...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Brah...);
}

/*
*,
.lf-sans:lang(Brah){
	font-family: $base-sans,$brahmi-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(Brah) {
	font-family: $base-serif,$brahmi-serif,serif;
	direction: ltr;
}*/
