// Brahmi script

*:lang(Brah),
.lf-sans:lang(Brah) {
	font-family: $base-sans,$brahmi-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(Brah) {
	font-family: $base-serif,$brahmi-serif,serif;
	direction: ltr;
}
