// Buginese script

@import "language-sets";

$sans-stack: 		$base-sans,$buginese-sans,sans-serif;
$serif-stack: 	$base-serif,$buginese-serif,serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Bugi...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Bugi...);
}

/*
*,
.lf-sans {
	&:lang(Bugi),
	&:lang(bug) {
		font-family: $base-sans,$buginese-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Bugi),
	&:lang(bug) {
		font-family: $base-serif,$buginese-serif,serif;
		direction: ltr;
	}
}*/
