// Buginese script

*,
.lf-sans {
	&:lang(Bugi),
	&:lang(bug) {
		font-family: $base-sans,$buginese-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Bugi),
	&:lang(bug) {
		font-family: $base-serif,$buginese-serif,serif;
		direction: ltr;
	}
}
