// Buginese script

*:lang(bug),
.lf-sans:lang(bug) {
	font-family: $base-sans-vf,$base-sans,$buginese-sans-vf,$buginese-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(bug) {
	font-family: $base-serif-vf,$base-serif,$buginese-serif-vf,$buginese-serif,serif;
	direction: ltr;
}
