// Buhid script

*,
.lf-sans {
	&:lang(Buhd),
	&:lang(bku) {
		font-family: $base-sans,$buhid-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Buhd),
	&:lang(bku) {
		font-family: $base-serif,$buhid-serif,serif;
		direction: ltr;
	}
}
