// Buhid script

*,
.lf-sans {
	&:lang(Buhd),
	&:lang(bku) {
		font-family: $base-sans,$hanunoo-sans,$buhid-sans,sans-serif; // Buhid borrows characters from Hanunoo
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Buhd),
	&:lang(bku) {
		font-family: $base-serif,$hanunoo-sans,$buhid-serif,serif; // Buhid borrows characters from Hanunoo
		direction: ltr;
	}
}
