// Simplified and Traditional Chinese scripts


@import "language-sets";

$sans-simplified-stack: 		$base-sans,$chinese-s-sans,sans-serif;
$serif-simplified-stack: 		$base-serif,$chinese-s-serif,serif;
$sans-traditional-stack: 		$base-sans,$chinese-t-sans,sans-serif;
$serif-traditional-stack: 	$base-serif,$chinese-t-serif,serif;
$sans-hong-kong-stack: 			$base-sans,$chinese-hk-sans,sans-serif;
$serif-hong-kong-stack: 		$base-serif,$chinese-hk-serif,serif;

// Simplified
*,
.lf-sans 	{	@include langlist($sans-simplified-stack, ltr, $langs-Hans...); }
.lf-serif { @include langlist($serif-simplified-stack, ltr, $langs-Hans...); }

// Traditional
.lf-sans 	{ @include langlist($sans-traditional-stack, ltr, $langs-Hant...); }
.lf-serif { @include langlist($serif-traditional-stack, ltr, $langs-Hant...); }

// Hong Kong
.lf-sans 	{ @include langlist($sans-hong-kong-stack, ltr, $langs-zh-HK...); }
.lf-serif { @include langlist($serif-hong-kong-stack, ltr, $langs-zh-HK...); }

*, .lf-sans, .lf-serif {
	&:lang(zh), &:lang(Hans), &:lang(Hant), &:lang(zh-KK) {
		em {
			font-style: normal;
			text-emphasis: dot;
		}
	}
}
