// Devanagari script languages

@import "language-sets";

$sans-stack: 		$base-sans,$devanagari-sans,sans-serif;
$serif-stack: 	$base-serif,$devanagari-serif,serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Deva...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Deva...);
}

/*
*,
.lf-sans {
	&:lang(Deva),&:lang(anp),&:lang(awa),&:lang(bap),&:lang(bfy),&:lang(bgc),&:lang(bhb),&:lang(bhi),&:lang(bho),&:lang(bjj),&:lang(bra),&:lang(brx),&:lang(btv),&:lang(dty),&:lang(gbm),&:lang(gom),&:lang(gvr),&:lang(hi),&:lang(hne),&:lang(hoc),&:lang(hoj),&:lang(jml),&:lang(kfr),&:lang(kfy),&:lang(khn),&:lang(kok),&:lang(kru),&:lang(mag),&:lang(mai),&:lang(mgp),&:lang(mr),&:lang(mrd),&:lang(mtr),&:lang(mwr),&:lang(ne),&:lang(new),&:lang(noe),&:lang(raj),&:lang(rjs),&:lang(sa),&:lang(sck),&:lang(srx),&:lang(swv),&:lang(tdh),&:lang(thl),&:lang(thq),&:lang(thr),&:lang(tkt),&:lang(wbr),&:lang(wtm),&:lang(xnr),&:lang(xsr) {
		font-family: $base-sans,$devanagari-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Deva),&:lang(anp),&:lang(awa),&:lang(bap),&:lang(bfy),&:lang(bgc),&:lang(bhb),&:lang(bhi),&:lang(bho),&:lang(bjj),&:lang(bra),&:lang(brx),&:lang(btv),&:lang(dty),&:lang(gbm),&:lang(gom),&:lang(gvr),&:lang(hi),&:lang(hne),&:lang(hoc),&:lang(hoj),&:lang(jml),&:lang(kfr),&:lang(kfy),&:lang(khn),&:lang(kok),&:lang(kru),&:lang(mag),&:lang(mai),&:lang(mgp),&:lang(mr),&:lang(mrd),&:lang(mtr),&:lang(mwr),&:lang(ne),&:lang(new),&:lang(noe),&:lang(raj),&:lang(rjs),&:lang(sa),&:lang(sck),&:lang(srx),&:lang(swv),&:lang(tdh),&:lang(thl),&:lang(thq),&:lang(thr),&:lang(tkt),&:lang(wbr),&:lang(wtm),&:lang(xnr),&:lang(xsr) {
		font-family: $base-serif,$devanagari-serif,serif;
		direction: ltr;
	}
}*/
