// Ethiopic script languages


*,
.lf-sans {

	&:lang(am),
	&:lang(ti),
	&:lang(byn),
	&:lang(tig),
	&:lang(wal) {
		font-family: $base-sans,$ethiopic-serif,serif;
		direction: ltr;
	}
}

.lf-serif {

	&:lang(am),
	&:lang(ti),
	&:lang(byn),
	&:lang(tig),
	&:lang(wal) {
		font-family: $base-serif,$ethiopic-serif,serif;
		direction: ltr;
	}
}
