// Georgian script

@import "language-sets";

$sans-stack: 		$base-sans,$georgian-sans,sans-serif;
$serif-stack: 	$base-serif,$georgian-serif,serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Geor...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Geor...);
}

/*
*,
.lf-sans {
	&:lang(Geor),
	&:lang(ka) {
		font-family: $base-sans,$georgian-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Geor),
	&:lang(ka) {
		font-family: $base-serif,$georgian-serif,serif;
		direction: ltr;
	}
}*/
