// Georgian script

*,
.lf-sans {
	&:lang(Geor),
	&:lang(ka) {
		font-family: $base-sans,$georgian-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Geor),
	&:lang(ka) {
		font-family: $base-serif,$georgian-serif,serif;
		direction: ltr;
	}
}
