// Greeek script languages

*:lang(gr),
.lf-sans:lang(gr) {
	font-family: $base-sans-vf,$base-sans,$greek-sans-vf,$greek-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(gr) {
	font-family: $base-sans-vf,$base-sans,$greek-serif-vf,$greek-serif,serif;
	direction: ltr;
}
