// Greek script

@import "language-sets";

$sans-stack: 		$base-sans,$greek-sans,sans-serif;
$serif-stack: 	$base-sans,$greek-serif,serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Grek...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Grek...);
}

/*
*,
.lf-sans {
	&:lang(Grek),
	&:lang(gr) {
		font-family: $base-sans,$greek-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Grek),
	&:lang(gr) {
		font-family: $base-sans,$greek-serif,serif;
		direction: ltr;
	}
}*/
