// Gujarati script

*,
.lf-sans {
	&:lang(Gujr),
	&:lang(gu) {
		font-family: $base-sans,$gujarati-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Gujr),
	&:lang(gu) {
		font-family: $base-serif,$gujarati-serif,serif;
		direction: ltr;
	}
}
