// Gujarati script

@import "language-sets";

$sans-stack: $base-sans,$gujarati-sans,sans-serif;
$serif-stack: $base-sans,$gujarati-serif,serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Gujr...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Gujr...);
}

/*
*,
.lf-sans {
	&:lang(Gujr),
	&:lang(gu) {
		font-family: $base-sans,$gujarati-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Gujr),
	&:lang(gu) {
		font-family: $base-serif,$gujarati-serif,serif;
		direction: ltr;
	}
}*/
