// Gurmukhi script

@import "language-sets";

$sans-stack: $base-sans,$gurmukhi-sans,sans-serif;
$serif-stack: $base-sans,$gurmukhi-serif,serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Guru...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Guru...);
}

/*
*,
.lf-sans {
	&:lang(Guru),
	&:lang(gi) {
		font-family: $base-sans,$gurmukhi-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Guru),
	&:lang(gi) {
		font-family: $base-serif,$gurmukhi-serif,serif;
		direction: ltr;
	}
}*/
