// Hanifi-Rohingya script

@import "language-sets";

$sans-stack: 	$base-sans,$arabic-sans,$hanifi-rohingya-sans,sans-serif; // Borrows U+06D4 arabic full stop

*,
.#{$prefix}sans {
	@include langlist($sans-stack, rtl, $langs-Rohg...);
}
