// Hebrew script languages

*:lang(iw), // Old Hebrew code deprecated, but keep for backwards compatibility
*:lang(he),*:lang(jpr),*:lang(jrb),*:lang(lad),*:lang(yi),
.lf-sans {

	&:lang(Hebr), // Script
	&:lang(he) {  // Language
		font-family: $base-sans,$hebrew-sans,sans-serif;
		direction: rtl;
	}
}

.lf-serif {

	&:lang(Hebr), // Script
	&:lang(he) {	// Language
		font-family: $base-serif,$hebrew-serif,sans-serif;
		direction: rtl;
	}
}
