// Hebrew script languages

// Lang code 'iw' deprecated, but keep for backwards compatibility

*,
.lf-sans {
	&:lang(Hebr),
	&:lang(iw),
	&:lang(he),
	&:lang(jpr),
	&:lang(jrb),
	&:lang(lad),
	&:lang(yi) {
		font-family: $base-sans,$hebrew-sans,sans-serif;
		direction: rtl;
	}
}

.lf-serif {
	&:lang(Hebr),
	&:lang(iw),
	&:lang(he),
	&:lang(jpr),
	&:lang(jrb),
	&:lang(lad),
	&:lang(yi) {
		font-family: $base-serif,$hebrew-serif,sans-serif;
		direction: rtl;
	}
}

// Rashi hebrew script languages

.lf-rashi {
	&:lang(Hebr),
	&:lang(iw),
	&:lang(he),
	&:lang(jpr),
	&:lang(jrb),
	&:lang(lad),
	&:lang(yi) {
		font-family: $base-serif,$rashi-hebrew,sans-serif;
		direction: ltr;
	}
}
