// Hebrew script languages

*,
.lf-sans {
	&:lang(Hebr),
	&:lang(iw),
	&:lang(he),
	&:lang(jpr),
	&:lang(jrb),
	&:lang(lad),
	&:lang(yi) {
		font-family: $base-sans,$hebrew-sans,sans-serif;
		direction: rtl;
	}
}

.lf-serif {
	&:lang(Hebr),
	&:lang(iw),
	&:lang(he),
	&:lang(jpr),
	&:lang(jrb),
	&:lang(lad),
	&:lang(yi) {
		font-family: $base-serif,$hebrew-serif,sans-serif;
		direction: rtl;
	}
}

// Rashi hebrew script languages

.lf-sans .rashi {
	&:lang(Hebr),
	&:lang(iw), // Hebrew deprecated, but keep for backwards compatibility
	&:lang(he),
	&:lang(jpr),
	&:lang(jrb),
	&:lang(lad),
	&:lang(yi) {
		font-family: $base-sans,$rashi-hebrew-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif .rashi {
	&:lang(Hebr),
	&:lang(iw), // Hebrew deprecated, but keep for backwards compatibility
	&:lang(he),
	&:lang(jpr),
	&:lang(jrb),
	&:lang(lad),
	&:lang(yi) {
		font-family: $base-serif,$rashi-hebrew-serif,serif;
		direction: ltr;
	}
}
