// Kannada script

@import "language-sets";

$sans-stack: 		$base-sans,$kannada-sans,sans-serif;
$serif-stack: 	$base-sans,$kannada-serif,serif;
$ui-stack: 			$base-sans,$kannada-sans-ui,sans-serif;

*,
.#{$prefix}sans {
	@include langlist($sans-stack, ltr, $langs-Knda...);
}

.#{$prefix}serif {
	@include langlist($serif-stack, ltr, $langs-Knda...);
}

.#{$prefix}sans-ui {
	@include langlist($ui-stack, ltr, $langs-Knda...);
}
