// Lao script

@import "language-sets";

$sans-stack: $base-sans,$lao-sans,sans-serif;
$serif-stack: $base-sans,$lao-serif,serif;
$ui-stack: $base-sans,$lao-sans-ui,sans-serif;

*,
.#{$prefix}sans {
	@include langlist($sans-stack, ltr, $langs-Laoo...);
}

.#{$prefix}serif {
	@include langlist($serif-stack, ltr, $langs-Laoo...);
}

.#{$prefix}ui {
	@include langlist($ui-stack, ltr, $langs-Laoo...);
}
