// Lao script

@import "language-sets";

$sans-stack: $base-sans,$lao-sans,sans-serif;
$serif-stack: $base-sans,$lao-serif,serif;
$ui-stack: $base-sans,$lao-sans-ui,sans-serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Laoo...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Laoo...);
}

.lf-ui {
	@include langlist($ui-stack, ltr, $langs-Laoo...);
}

/*
*,
.lf-sans {
	&:lang(Laoo),
	&:lang(lo) {
		font-family: $base-sans,$lao-sans,sans-serif;
		direction: ltr;
	}
}

.lf-sans-ui {
	&:lang(Laoo),
	&:lang(lo) {
		font-family: $base-sans,$lao-sans-ui,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Laoo),
	&:lang(lo) {
		font-family: $base-serif,$lao-serif,serif;
		direction: ltr;
	}
}*/
