// Languages that could be written in latin or arabic or devanagari scripts

// Default to Devanagari script wheree no script is specified
*,
.lf-sans {
	&:lang(hi),
	&:lang(hif),
	&:lang(ks),
	&:lang(sd) {
		font-family: $base-sans,$devanagari-sans,sans-serif;
		direction: ltr;
	}
}
.lf-serif {
	&:lang(hi),
	&:lang(hif),
	&:lang(ks),
	&:lang(sd) {
		font-family: $base-sans,$devanagari-serif,serif;
	}
}

// Devanagari script is explicit
*,
.lf-sans {
	&:lang(hi-Deva),
	&:lang(hif-Deva),
	&:lang(ks-Deva),
	&:lang(sd-Deva) {
		font-family: $base-sans,$devanagari-sans,sans-serif;
		direction: ltr;
	}
}
.lf-serif {
	&:lang(hi-Deva),
	&:lang(hif-Deva),
	&:lang(ks-Deva),
	&:lang(sd-Deva) {
		font-family: $base-serif,$devanagari-serif,serif;
	}
}

// Arabic script is explicit
*,
.lf-sans {
	&:lang(hi-Arab),
	&:lang(hif-Arab),
	&:lang(ks-Arab),
	&:lang(sd-Arab) {
		font-family: $base-sans,$arabic-sans,sans-serif;
		direction: rtl;
	}
}

.lf-serif {
	&:lang(hi-Arab),
	&:lang(hif-Arab),
	&:lang(ks-Arab),
	&:lang(sd-Arab) {
		font-family: $base-serif,$arabic-serif,serif;
	}
}

// Latin script is explicit
*,
.lf-sans {
	&:lang(hi-Latn),
	&:lang(hif-Latn),
	&:lang(ks-Latn),
	&:lang(sd-Latn) {
		font-family: $base-sans,$latin-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(hi-Latn),
	&:lang(hif-Latn),
	&:lang(ks-Latn),
	&:lang(sd-Latn) {
		font-family: $base-serif,$latin-serif,serif;
		direction: ltr;
	}
}
