// Latin script

@import "language-sets";

$sans-stack: 					$latin-sans,sans-serif;
$sans-italic-stack: 	$latin-sans-italic,sans-serif;
$sans-mono-stack: 		$latin-sans-mono,sans-serif !important;
$serif-stack: 				$latin-serif,serif;
$serif-italic-stack: 	$latin-serif-italic,serif;

*,
.#{$prefix}sans {
	@include langrule($langs-Latn...) {
		font-family: $sans-stack;
		direction: initial;

		&.#{$prefix}italic,
		& em.#{$prefix}italic {
			font-family: $sans-italic-stack;
		}

		&.#{$prefix}mono,
		& pre.#{$prefix}mono,
		& code.#{$prefix}mono {
			font-family: $sans-mono-stack;
		}
	}
}


.#{$prefix}serif {
	@include langrule($langs-Latn...) {
		font-family: $serif-stack;
		direction: initial;

		&.#{$prefix}italic,
		& em.#{$prefix}italic {
			font-family: $serif-italic-stack;
		}
	}
}
