// Latin script

@import "language-sets";

$sans-stack: 					$latin-sans,sans-serif;
$sans-italic-stack: 	$latin-sans-italic,sans-serif;
$sans-mono-stack: 		$latin-sans-mono,sans-serif !important;
$serif-stack: 				$latin-serif,serif;
$serif-italic-stack: 	$latin-serif-italic,serif;

*,
.lf-sans {
	@include langrule($langs-Latn...) {
		font-family: $sans-stack;
		direction: ltr;

		&.lf-italic,
		& em.lf-italic {
			font-family: $sans-italic-stack;
		}

		&.lf-mono,
		& pre.lf-mono,
		& code.lf-mono {
			font-family: $sans-mono-stack;
		}
	}
}


.lf-serif {
	@include langrule($langs-Latn...) {
		font-family: $serif-stack;
		direction: ltr;

		&.lf-italic,
		& em.lf-italic {
			font-family: $serif-italic-stack;
		}
	}
}
