// Languages that could be written in either Latin or Arabic scripts

// Default to Arabic script
*,
.#{$prefix}sans {
	&:lang(Arab), &:lang(ar),&:lang(bal),&:lang(brh),&:lang(dyo),&:lang(ha),&:lang(id),&:lang(ms),&:lang(so),&:lang(sus),&:lang(swb),&:lang(tr),&:lang(tru),&:lang(wo) {
		font-family: $base-sans,$arabic-sans,sans-serif;
		direction: rtl;
	}
}

.#{$prefix}serif:lang(Arab) {
	font-family: $base-serif,$arabic-serif,serif;
	direction: rtl;
}
