// Languages that could be written in either latin or cyrillic scripts

// Default to Cyrillic
*:lang(ro),*:lang(sr),*:lang(gag),*:lang(bs),*:lang(rom),*:lang(se),*:lang(tkr),*:lang(udm) {
	font-family: $base-sans,$cyrillic-sans,sans-serif;
	direction: ltr;

	.#{$prefix}sans {
		font-family: $base-sans,$cyrillic-sans,sans-serif;
	}

	.#{$prefix}serif {
		font-family: $base-serif,$cyrillic-serif,serif;
	}
}

// Cyrillic is explicit
*:lang(Cyrl),*:lang(ro-Cyrl),*:lang(sr-Cyrl),*:lang(gag-Cyrl),*:lang(bs-Cyrl),*:lang(rom-Cyrl),*:lang(se-Cyrl),*:lang(tkr-Cyrl),*:lang(udm-Cyrl) {
	font-family: $base-sans,$cyrillic-sans,sans-serif;
	direction: ltr;

	.#{$prefix}sans {
		font-family: $base-sans,$cyrillic-sans,sans-serif;
	}

	.#{$prefix}serif {
		font-family: $base-serif,$cyrillic-serif,serif;
	}
}

// Latin is explicit
*:lang(Latn),*:lang(ro-Latn),*:lang(sr-Latn),*:lang(gag-Latn),*:lang(bs-Latn),*:lang(rom-Latn),*:lang(se-Latn),*:lang(tkr-Latn),*:lang(udm-Latn) {
	font-family: $base-sans,$latin-sans,sans-serif;
	direction: ltr;

	.#{$prefix}sans {
		font-family: $base-sans,$latin-sans,sans-serif;
	}

	.#{$prefix}serif {
		font-family: $base-serif,$latin-serif,serif;
	}
}
