// limbu script

*,
.lf-sans {

	&:lang(lif) {
		font-family: $base-sans,$limbu-sans,sans-serif;
		direction: ltr;
	}
}

/*
.lf-serif:

	&:lang(lif) {
		font-family: $base-serif,$limbu-serif,serif;
		direction: ltr;
	}
}
*/
