// Malayalam script

@import "language-sets";

$sans-stack: 		$base-sans,$malayalam-sans,sans-serif;
$serif-stack: 	$base-sans,$malayalam-serif,serif;
$ui-stack: 			$base-sans,$malayalam-sans-ui,sans-serif;

*,
.#{$prefix}sans {
	@include langlist($sans-stack, ltr, $langs-Mlym...);
}

.#{$prefix}serif {
	@include langlist($serif-stack, ltr, $langs-Mlym...);
}

.#{$prefix}sans-ui {
	@include langlist($ui-stack, ltr, $langs-Mlym...);
}

*:lang(Mlym),
*:lang(ms) {
	overflow-wrap: break-word;
}
