// Myanmar script

@import "language-sets";

$sans-stack: 		$base-sans,$myanmar-sans,sans-serif;
$serif-stack: 	$base-sans,$myanmar-serif,serif;
$ui-stack: 			$base-sans,$myanmar-sans-ui,sans-serif;

*,
.#{$prefix}sans {
	@include langlist($sans-stack, ltr, $langs-Mymr...);
}

.#{$prefix}serif {
	@include langlist($serif-stack, ltr, $langs-Mymr...);
}

.#{$prefix}sans-ui {
	@include langlist($ui-stack, ltr, $langs-Mymr...);
}
