// Myanmar script

*:lang(my),
.lf-sans:lang(my) {
	font-family: $base-sans,$myanmar-sans,sans-serif;
	direction: ltr;
}

.lf-serif:lang(my) {
	font-family: $base-serif,$myanmar-serif,serif;
	direction: ltr;
}
