// N'Ko script


@import "language-sets";

$sans-stack: 		$base-sans,$nko-sans,sans-serif;
$serif-stack: 	$base-sans,$nko-serif,serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Nkoo...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Nkoo...);
}

/*
*,
.lf-sans {
	&:lang(Nkoo),
	&:lang(bm),
	&:lang(man),
	&:lang(nqo)  {
		font-family: $base-sans,$nko-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Nkoo),
	&:lang(bm),
	&:lang(man),
	&:lang(nqo)  {
		font-family: $base-serif,$nko-serif,serif;
		direction: ltr;
	}
}*/
