// Rashi hebrew script languages

.lf-sans .rashi {

	&:lang(iw), // Hebrew deprecated, but keep for backwards compatibility
	&:lang(he),
	&:lang(jpr),
	&:lang(jrb),
	&:lang(lad),
	&:lang(yi) {
		font-family: $base-sans,$rashi-hebrew-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif .rashi {

	&:lang(iw), // Hebrew deprecated, but keep for backwards compatibility
	&:lang(he),
	&:lang(jpr),
	&:lang(jrb),
	&:lang(lad),
	&:lang(yi) {
		font-family: $base-serif,$rashi-hebrew-serif,serif;
		direction: ltr;
	}
}
