// Tagalog script

*,
.lf-sans {
	&:lang(Tglg),
	&:lang(fil) {
		font-family: $base-sans,$tagalog-sans,sans-serif;
		direction: ltr;
	}
}

/*
.lf-sans-ui {
	&:lang(Tglg),
	&:lang(fil) {
		font-family: $base-sans,$tagalog-sans-ui,sans-serif;
		direction: ltr;
	}
}
*/

.lf-serif {
	&:lang(Tglg),
	&:lang(fil) {
		font-family: $base-serif,$tagalog-serif,serif;
		direction: ltr;
	}
}
