// Tai-le script

*,
.lf-sans {
	&:lang(Tale),
	&:lang(tdd) {
		font-family: $base-sans,$tai-le-sans,sans-serif;
		direction: ltr;
	}
}

/*.lf-sans-ui {
	&:lang(Tale),
	&:lang(tdd) {
		font-family: $base-sans,$tai-le-sans-ui,sans-serif;
		direction: ltr;
	}
}*/

.lf-serif {
	&:lang(Tale),
	&:lang(tdd) {
		font-family: $base-serif,$tai-le-serif,serif;
		direction: ltr;
	}
}
