// Tai-tham script

*,
.lf-sans {
	&:lang(Lana),
	&:lang(kkh) {
		font-family: $base-sans,$tai-tham-sans,sans-serif;
		direction: ltr;
	}
}

/*.lf-sans-ui {
	&:lang(Lana),
	&:lang(kkh) {
		font-family: $base-sans,$tai-tham-sans-ui,sans-serif;
		direction: ltr;
	}
}*/

.lf-serif {
	&:lang(Lana),
	&:lang(kkh) {
		font-family: $base-serif,$tai-tham-serif,serif;
		direction: ltr;
	}
}
