// Tai-tham script

@import "language-sets";

$sans-stack: 		$base-sans,$tai-tham-sans,sans-serif;
$serif-stack: 	$base-sans,$tai-tham-serif,serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Lana...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Lana...);
}

/*
*,
.lf-sans {
	&:lang(Lana),
	&:lang(kkh) {
		font-family: $base-sans,$tai-tham-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Lana),
	&:lang(kkh) {
		font-family: $base-serif,$tai-tham-serif,serif;
		direction: ltr;
	}
}*/
