// tai-viet script

*,
.lf-sans {

	&:lang(Tavt),
	&:lang(bit) {
		font-family: $base-sans,$tai-viet-sans,sans-serif;
		direction: ltr;
	}
}

/*.lf-sans-ui {

	&:lang(Tavt),
	&:lang(bit) {
		font-family: $base-sans,$tai-viet-sans-ui,sans-serif;
		direction: ltr;
	}
}*/

.lf-serif {

	&:lang(Tavt),
	&:lang(bit) {
		font-family: $base-serif,$tai-viet-serif,serif;
		direction: ltr;
	}
}
