// thaana script. Divehi language

*,
.lf-sans {

	&:lang(Thaa),
	&:lang(dv) {
		font-family: $base-sans,$arabic-sans,$thaana-sans,sans-serif; // Thaana borrows some arabic punctuation
		direction: rtl;
	}
}


.lf-serif {

	&:lang(Thaa),
	&:lang(dv) {
		font-family: $base-serif,$arabic-serif,$thaana-serif,serif; // Thaana borrows some arabic punctuation
		direction: rtl;
	}
}
