// Thai script

@import "language-sets";

$sans-stack: 		$base-sans,$thai-sans,sans-serif;
$serif-stack: 	$base-sans,$thai-serif,serif;
$ui-stack: 			$base-sans,$thai-sans-ui,sans-serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Thai...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Thai...);
}

.lf-sans-ui {
	@include langlist($ui-stack, ltr, $langs-Thai...);
}

/*
*,
.lf-sans {
	&:lang(Thai),
	&:lang(th) {
		font-family: $base-sans,$thai-sans,sans-serif;
		direction: ltr;
	}
}

.lf-sans-ui {
	&:lang(Thai),
	&:lang(th) {
		font-family: $base-sans,$thai-sans-ui,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Thai),
	&:lang(th) {
		font-family: $base-serif,$thai-serif,serif;
		direction: ltr;
	}
}*/
