// Thai script

*,
.lf-sans {

	&:lang(Thai),
	&:lang(th) {
		font-family: $base-sans,$thai-sans,sans-serif;
		direction: ltr;
	}
}

.lf-sans-ui {

	&:lang(Thai),
	&:lang(th) {
		font-family: $base-sans,$thai-sans-ui,sans-serif;
		direction: ltr;
	}
}

.lf-serif {

	&:lang(Thai),
	&:lang(th) {
		font-family: $base-serif,$thai-serif,serif;
		direction: ltr;
	}
}
