// Tibetan script

*,
.lf-sans {

	&:lang(Tibt),
	&:lang(bo),
	&:lang(dz) {
		font-family: $base-sans,$tibetan-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {

	&:lang(Tibt),
	&:lang(bo),
	&:lang(dz)  {
		font-family: $base-serif,$tibetan-serif,serif;
		direction: ltr;
	}
}
