// Warang citi script

@import "language-sets";

$sans-stack: 		$base-sans,$warang-citi-sans,sans-serif;
$serif-stack: 	$base-sans,$warang-citi-serif,serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Wara...);
}

.lf-serif {
	@include langlist($serif-stack, ltr, $langs-Wara...);
}

/*
*,
.lf-sans {
	&:lang(Wara),
	&:lang(hoc) {
		font-family: $base-sans,$warang-citi-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Wara),
	&:lang(hoc) {
		ont-family: $base-serif,$warang-citi-serif,serif;
		direction: ltr;
	}
}*/
