// Warang citi script

*,
.lf-sans {
	&:lang(Wara),
	&:lang(hoc) {
		font-family: $base-sans,$warang-citi-sans,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Wara),
	&:lang(hoc) {
		ont-family: $base-serif,$warang-citi-serif,serif;
		direction: ltr;
	}
}
