// Zanabazar-square script

@import "language-sets";

$sans-stack: 		$base-sans,$zanabazar-square-sans,sans-serif;

*,
.lf-sans {
	@include langlist($sans-stack, ltr, $langs-Zanb...);
}

/*
*,
.lf-sans {
	&:lang(Zanb),
	&:lang(za) {
		font-family: $base-sans,$zanabazar-square-sans,sans-serif;
		direction: ltr;
	}
}*/
