// Zanabazar-square script

*,
.lf-sans {
	&:lang(Zanb),
	&:lang(za) {
		font-family: $base-sans,$zanabazar-square-sans,sans-serif;
		direction: ltr;
	}
}

/*
.lf-sans-ui {
	&:lang(Zanb),
	&:lang(za) {
		font-family: $base-sans,$zanabazar-square-sans-ui,sans-serif;
		direction: ltr;
	}
}

.lf-serif {
	&:lang(Zanb),
	&:lang(za) {
		font-family: $base-serif,$zanabazar-square-serif,serif;
		direction: ltr;
	}
}
*/
