// Zanabazar-square script

/*
*,
.lf-sans {

	&:lang(za) {
		font-family: $base-sans,$Zanabazar-square-sans,sans-serif;
		direction: ltr;
	}
}

.lf-sans-ui {

	&:lang(za) {
		font-family: $base-sans,$Zanabazar-square-sans-ui,sans-serif;
		direction: ltr;
	}
}

.lf-serif {

	&:lang(za) {
		font-family: $base-serif,$Zanabazar-square-serif,serif;
		direction: ltr;
	}
}
*/
