// Zanzabar-square script

/*
*,
.lf-sans {

	&:lang(za) {
		font-family: $base-sans-vf,$base-sans,$zanzabar-square-sans-vf,$zanzabar-square-sans,sans-serif;
		direction: ltr;
	}
}

.lf-sans-ui {

	&:lang(za) {
		font-family: $base-sans-vf,$base-sans,$zanzabar-square-sans-ui-vf,$zanzabar-square-sans-ui,sans-serif;
		direction: ltr;
	}
}

.lf-serif {

	&:lang(za) {
		font-family: $base-serif-vf,$base-serif,$zanzabar-square-serif-vf,$zanzabar-square-serif,serif;
		direction: ltr;
	}
}
*/
