// Custom scss

.home .hero {
	text-align: left !important;
	margin-bottom: 3em;

	.description {
		display: block;
		margin: 0 0 2em !important;
	}
}

.home .hero h1 {
	font-weight: 100 !important;
	margin: 2em 0 0 !important;
}

.footer {
	padding: 2.5rem 0 !important;
	text-align: left !important;
}

.lf-specimen {
	margin: 0;
	font-size: 1em;
	white-space: nowrap;
}

.theme-default-content:not(.custom) {
	max-width: unset !important;
}

blockquote {
	color: #555 !important;
	background-color: #f5f5f5;
}
