// Custom scss

.home .hero {
	text-align: left !important;
	margin-bottom: 3em;

	.description {
		display: block;
		margin: 0 0 2em !important;
	}
}

.home .hero h1 {
	font-weight: 100 !important;
	margin: 2em 0 0 !important;
}

.footer {
	padding: 2.5rem 0 !important;
	text-align: left !important;
}

.lf-specimen {
	margin: 0;
	font-size: .9em;
}

.lf-sample {
	font-size: 3em;
	line-height: 1.6em;
	word-wrap: break-word;
}

.lf-ui-sample {
	display: inline-flex;
	font-size: 1em;
	color: #fff;
	text-align: center;
	justify-content: center;
	background-color: #41a;
	margin-top: .75rem;
	padding: 0.5rem 2rem;
	border-radius: 4px;
	transition: background-color 0.1s ease;
	box-sizing: border-box;
	border-bottom: 1px solid #3d0f99;
}

@media screen and (max-width: 450px) {
	.lf-ui-sample {
		width: 100%;
	}
}

.theme-default-content:not(.custom) {
	max-width: unset !important;
}

blockquote {
	color: #555 !important;
	background-color: #f5f5f5;
}

dt {
	margin: 10px 0;
}

dd {
	margin: 0 0 0 10px;
}

code,
pre {
	&[class*="language-"],
	&[class*="language-"] *,
	&:lang(en),
	&:lang(en) * {
		font-family: "Noto Sans Latin Mono" !important;
	}
}

.home .hero .description {
  color: #76d !important;
}
