@font-face {
  font-family: "Noto Serif Armenian Regular";
  src: url("fonts/NotoSerifArmenian-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifArmenian-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifArmenian-Regular.woff") format("woff"), url("fonts/NotoSerifArmenian-Regular.woff2") format("woff2"), url("fonts/NotoSerifArmenian-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0530-058F;
}
@font-face {
  font-family: "Noto Serif Balinese Regular";
  src: url("fonts/NotoSerifBalinese-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifBalinese-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifBalinese-Regular.woff") format("woff"), url("fonts/NotoSerifBalinese-Regular.woff2") format("woff2"), url("fonts/NotoSerifBalinese-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1B00-1B7F;
}
@font-face {
  font-family: "Noto Serif Bengali Regular";
  src: url("fonts/NotoSerifBengali-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifBengali-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifBengali-Regular.woff") format("woff"), url("fonts/NotoSerifBengali-Regular.woff2") format("woff2"), url("fonts/NotoSerifBengali-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0980-09FF;
}
@font-face {
  font-family: "Noto Serif Devanagari Regular";
  src: url("fonts/NotoSerifDevanagari-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifDevanagari-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifDevanagari-Regular.woff") format("woff"), url("fonts/NotoSerifDevanagari-Regular.woff2") format("woff2"), url("fonts/NotoSerifDevanagari-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0900-097F, U+A8E0-A8FF;
}
@font-face {
  font-family: "Noto Serif Ethiopic Regular";
  src: url("fonts/NotoSerifEthiopic-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifEthiopic-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifEthiopic-Regular.woff") format("woff"), url("fonts/NotoSerifEthiopic-Regular.woff2") format("woff2"), url("fonts/NotoSerifEthiopic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1200-137F, U+1380-139F, U+2D80-2DDF;
}
@font-face {
  font-family: "Noto Serif Georgian Regular";
  src: url("fonts/NotoSerifGeorgian-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifGeorgian-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifGeorgian-Regular.woff") format("woff"), url("fonts/NotoSerifGeorgian-Regular.woff2") format("woff2"), url("fonts/NotoSerifGeorgian-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+10A0-10FF, U+1C90-1CBF, U+2D00-2D2F;
}
@font-face {
  font-family: "Noto Serif Gujarati Regular";
  src: url("fonts/NotoSerifGujarati-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifGujarati-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifGujarati-Regular.woff") format("woff"), url("fonts/NotoSerifGujarati-Regular.woff2") format("woff2"), url("fonts/NotoSerifGujarati-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0A80-0AFF;
}
@font-face {
  font-family: "Noto Serif Hebrew Regular";
  src: url("fonts/NotoSerifHebrew-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifHebrew-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifHebrew-Regular.woff") format("woff"), url("fonts/NotoSerifHebrew-Regular.woff2") format("woff2"), url("fonts/NotoSerifHebrew-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0590-05FF;
}
@font-face {
  font-family: "Noto Serif Kannada Regular";
  src: url("fonts/NotoSerifKannada-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifKannada-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifKannada-Regular.woff") format("woff"), url("fonts/NotoSerifKannada-Regular.woff2") format("woff2"), url("fonts/NotoSerifKannada-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0C80-0CFF;
}
@font-face {
  font-family: "Noto Serif Khmer Regular";
  src: url("fonts/NotoSerifKhmer-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifKhmer-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifKhmer-Regular.woff") format("woff"), url("fonts/NotoSerifKhmer-Regular.woff2") format("woff2"), url("fonts/NotoSerifKhmer-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1780-17FF, U+19E0-19FF;
}
@font-face {
  font-family: "Noto Serif Lao Regular";
  src: url("fonts/NotoSerifLao-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifLao-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifLao-Regular.woff") format("woff"), url("fonts/NotoSerifLao-Regular.woff2") format("woff2"), url("fonts/NotoSerifLao-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0E80-0EFF;
}
@font-face {
  font-family: "Noto Serif Malayalam Regular";
  src: url("fonts/NotoSerifMalayalam-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifMalayalam-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifMalayalam-Regular.woff") format("woff"), url("fonts/NotoSerifMalayalam-Regular.woff2") format("woff2"), url("fonts/NotoSerifMalayalam-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0D00-0D7F;
}
@font-face {
  font-family: "Noto Serif Myanmar Regular";
  src: url("fonts/NotoSerifMyanmar-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifMyanmar-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifMyanmar-Regular.woff") format("woff"), url("fonts/NotoSerifMyanmar-Regular.woff2") format("woff2"), url("fonts/NotoSerifMyanmar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1000-109F, U+AA60-AA7F, U+A9E0-A9FF;
}
@font-face {
  font-family: "Noto Serif Sinhala Regular";
  src: url("fonts/NotoSerifSinhala-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifSinhala-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifSinhala-Regular.woff") format("woff"), url("fonts/NotoSerifSinhala-Regular.woff2") format("woff2"), url("fonts/NotoSerifSinhala-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0D80-0DFF;
}
@font-face {
  font-family: "Noto Serif Tamil Regular";
  src: url("fonts/NotoSerifTamil-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifTamil-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifTamil-Regular.woff") format("woff"), url("fonts/NotoSerifTamil-Regular.woff2") format("woff2"), url("fonts/NotoSerifTamil-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0B80-0BFF, U+11FC0-11FFF;
}
@font-face {
  font-family: "Noto Serif TamilSlanted Regular";
  src: url("fonts/NotoSerifTamilSlanted-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifTamilSlanted-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifTamilSlanted-Regular.woff") format("woff"), url("fonts/NotoSerifTamilSlanted-Regular.woff2") format("woff2"), url("fonts/NotoSerifTamilSlanted-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0B80-0BFF, U+11FC0-11FFF;
}
@font-face {
  font-family: "Noto Serif Telugu Regular";
  src: url("fonts/NotoSerifTelugu-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifTelugu-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifTelugu-Regular.woff") format("woff"), url("fonts/NotoSerifTelugu-Regular.woff2") format("woff2"), url("fonts/NotoSerifTelugu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0C00-0C7F;
}
@font-face {
  font-family: "Noto Serif Thai Regular";
  src: url("fonts/NotoSerifThai-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifThai-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifThai-Regular.woff") format("woff"), url("fonts/NotoSerifThai-Regular.woff2") format("woff2"), url("fonts/NotoSerifThai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0E00-0E7F;
}
@font-face {
  font-family: "Noto Serif Tibetan Regular";
  src: url("fonts/NotoSerifTibetan-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifTibetan-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifTibetan-Regular.woff") format("woff"), url("fonts/NotoSerifTibetan-Regular.woff2") format("woff2"), url("fonts/NotoSerifTibetan-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0F00-0FFF;
}
@font-face {
  font-family: "Noto Serif ZanzabarSquare Regular";
  src: url("fonts/NotoSerifZanzabarSquare-Regular.eot") format("embedded-opentype"), url("fonts/NotoSerifZanzabarSquare-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifZanzabarSquare-Regular.woff") format("woff"), url("fonts/NotoSerifZanzabarSquare-Regular.woff2") format("woff2"), url("fonts/NotoSerifZanzabarSquare-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+11A00-11A4F;
}
@font-face {
  font-family: "Noto Traditional Nushu Regular";
  src: url("fonts/NotoTraditionalNushu-Regular.eot") format("embedded-opentype"), url("fonts/NotoTraditionalNushu-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoTraditionalNushu-Regular.woff") format("woff"), url("fonts/NotoTraditionalNushu-Regular.woff2") format("woff2"), url("fonts/NotoTraditionalNushu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1B170-1B2FF;
}