@font-face {
  font-family: "Noto Sans Arabic Regular";
  src: url("fonts/NotoSansArabic-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansArabic-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansArabic-Regular.woff") format("woff"), url("fonts/NotoSansArabic-Regular.woff2") format("woff2"), url("fonts/NotoSansArabic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}
@font-face {
  font-family: "Noto Sans Adlam Regular";
  src: url("fonts/NotoSansAdlam-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansAdlam-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansAdlam-Regular.woff") format("woff"), url("fonts/NotoSansAdlam-Regular.woff2") format("woff2"), url("fonts/NotoSansAdlam-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1E900-1E95F, U+2E41;
}
@font-face {
  font-family: "Noto Sans Armenian Regular";
  src: url("fonts/NotoSansArmenian-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansArmenian-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansArmenian-Regular.woff") format("woff"), url("fonts/NotoSansArmenian-Regular.woff2") format("woff2"), url("fonts/NotoSansArmenian-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0530-058F;
}
@font-face {
  font-family: "Noto Sans Balinese Regular";
  src: url("fonts/NotoSansBalinese-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansBalinese-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansBalinese-Regular.woff") format("woff"), url("fonts/NotoSansBalinese-Regular.woff2") format("woff2"), url("fonts/NotoSansBalinese-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1B00-1B7F;
}
@font-face {
  font-family: "Noto Sans Bengali Regular";
  src: url("fonts/NotoSansBengali-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansBengali-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansBengali-Regular.woff") format("woff"), url("fonts/NotoSansBengali-Regular.woff2") format("woff2"), url("fonts/NotoSansBengali-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0980-09FF;
}
@font-face {
  font-family: "Noto Sans Brahmi Regular";
  src: url("fonts/NotoSansBrahmi-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansBrahmi-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansBrahmi-Regular.woff") format("woff"), url("fonts/NotoSansBrahmi-Regular.woff2") format("woff2"), url("fonts/NotoSansBrahmi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+11000-1107F;
}
@font-face {
  font-family: "Noto Sans Buginese Regular";
  src: url("fonts/NotoSansBuginese-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansBuginese-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansBuginese-Regular.woff") format("woff"), url("fonts/NotoSansBuginese-Regular.woff2") format("woff2"), url("fonts/NotoSansBuginese-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1A00-1A1F;
}
@font-face {
  font-family: "Noto Sans Buhid Regular";
  src: url("fonts/NotoSansBuhid-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansBuhid-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansBuhid-Regular.woff") format("woff"), url("fonts/NotoSansBuhid-Regular.woff2") format("woff2"), url("fonts/NotoSansBuhid-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1740-175F;
}
@font-face {
  font-family: "Noto Sans CanadianAboriginal Regular";
  src: url("fonts/NotoSansCanadianAboriginal-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansCanadianAboriginal-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansCanadianAboriginal-Regular.woff") format("woff"), url("fonts/NotoSansCanadianAboriginal-Regular.woff2") format("woff2"), url("fonts/NotoSansCanadianAboriginal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1400-167F, U+18B0-18FF;
}
@font-face {
  font-family: "Noto Sans Devanagari Regular";
  src: url("fonts/NotoSansDevanagari-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansDevanagari-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansDevanagari-Regular.woff") format("woff"), url("fonts/NotoSansDevanagari-Regular.woff2") format("woff2"), url("fonts/NotoSansDevanagari-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0900-097F, U+A8E0-A8FF;
}
@font-face {
  font-family: "Noto Sans Ethiopic Regular";
  src: url("fonts/NotoSansEthiopic-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansEthiopic-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansEthiopic-Regular.woff") format("woff"), url("fonts/NotoSansEthiopic-Regular.woff2") format("woff2"), url("fonts/NotoSansEthiopic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1200-137F, U+1380-139F, U+2D80-2DDF;
}
@font-face {
  font-family: "Noto Sans Georgian Regular";
  src: url("fonts/NotoSansGeorgian-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansGeorgian-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansGeorgian-Regular.woff") format("woff"), url("fonts/NotoSansGeorgian-Regular.woff2") format("woff2"), url("fonts/NotoSansGeorgian-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+10A0-10FF, U+1C90-1CBF, U+2D00-2D2F;
}
@font-face {
  font-family: "Noto Sans Gujarati Regular";
  src: url("fonts/NotoSansGujarati-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansGujarati-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansGujarati-Regular.woff") format("woff"), url("fonts/NotoSansGujarati-Regular.woff2") format("woff2"), url("fonts/NotoSansGujarati-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0A80-0AFF;
}
@font-face {
  font-family: "Noto Sans Gurmukhi Regular";
  src: url("fonts/NotoSansGurmukhi-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansGurmukhi-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansGurmukhi-Regular.woff") format("woff"), url("fonts/NotoSansGurmukhi-Regular.woff2") format("woff2"), url("fonts/NotoSansGurmukhi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0A00-0A7F;
}
@font-face {
  font-family: "Noto Sans Hanunoo Regular";
  src: url("fonts/NotoSansHanunoo-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansHanunoo-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansHanunoo-Regular.woff") format("woff"), url("fonts/NotoSansHanunoo-Regular.woff2") format("woff2"), url("fonts/NotoSansHanunoo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1720-173F;
}
@font-face {
  font-family: "Noto Sans Hebrew Regular";
  src: url("fonts/NotoSansHebrew-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansHebrew-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansHebrew-Regular.woff") format("woff"), url("fonts/NotoSansHebrew-Regular.woff2") format("woff2"), url("fonts/NotoSansHebrew-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0590-05FF;
}
@font-face {
  font-family: "Noto Sans Kannada Regular";
  src: url("fonts/NotoSansKannada-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansKannada-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansKannada-Regular.woff") format("woff"), url("fonts/NotoSansKannada-Regular.woff2") format("woff2"), url("fonts/NotoSansKannada-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0C80-0CFF;
}
@font-face {
  font-family: "Noto Sans Khmer Regular";
  src: url("fonts/NotoSansKhmer-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansKhmer-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansKhmer-Regular.woff") format("woff"), url("fonts/NotoSansKhmer-Regular.woff2") format("woff2"), url("fonts/NotoSansKhmer-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1780-17FF, U+19E0-19FF;
}
@font-face {
  font-family: "Noto Sans Lao Regular";
  src: url("fonts/NotoSansLao-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansLao-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansLao-Regular.woff") format("woff"), url("fonts/NotoSansLao-Regular.woff2") format("woff2"), url("fonts/NotoSansLao-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0E80-0EFF;
}
@font-face {
  font-family: "Noto Sans Limbu Regular";
  src: url("fonts/NotoSansLimbu-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansLimbu-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansLimbu-Regular.woff") format("woff"), url("fonts/NotoSansLimbu-Regular.woff2") format("woff2"), url("fonts/NotoSansLimbu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1900-194F;
}
@font-face {
  font-family: "Noto Sans Lisu Regular";
  src: url("fonts/NotoSansLisu-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansLisu-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansLisu-Regular.woff") format("woff"), url("fonts/NotoSansLisu-Regular.woff2") format("woff2"), url("fonts/NotoSansLisu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+A4D0-A4FF;
}
@font-face {
  font-family: "Noto Sans Malayalam Regular";
  src: url("fonts/NotoSansMalayalam-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansMalayalam-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansMalayalam-Regular.woff") format("woff"), url("fonts/NotoSansMalayalam-Regular.woff2") format("woff2"), url("fonts/NotoSansMalayalam-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0D00-0D7F;
}
@font-face {
  font-family: "Noto Sans Myanmar Regular";
  src: url("fonts/NotoSansMyanmar-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansMyanmar-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansMyanmar-Regular.woff") format("woff"), url("fonts/NotoSansMyanmar-Regular.woff2") format("woff2"), url("fonts/NotoSansMyanmar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1000-109F, U+AA60-AA7F, U+A9E0-A9FF;
}
@font-face {
  font-family: "Noto Sans NKo Regular";
  src: url("fonts/NotoSansNKo-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansNKo-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansNKo-Regular.woff") format("woff"), url("fonts/NotoSansNKo-Regular.woff2") format("woff2"), url("fonts/NotoSansNKo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+07C0-07FF;
}
@font-face {
  font-family: "Noto Sans NushuTraditional Regular";
  src: url("fonts/NotoSansNushuTraditional-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansNushuTraditional-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansNushuTraditional-Regular.woff") format("woff"), url("fonts/NotoSansNushuTraditional-Regular.woff2") format("woff2"), url("fonts/NotoSansNushuTraditional-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1B170-1B2FF;
}
@font-face {
  font-family: "Noto Sans Oriya Regular";
  src: url("fonts/NotoSansOriya-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansOriya-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansOriya-Regular.woff") format("woff"), url("fonts/NotoSansOriya-Regular.woff2") format("woff2"), url("fonts/NotoSansOriya-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0B00-0B7F;
}
@font-face {
  font-family: "Noto Sans OlChiki Regular";
  src: url("fonts/NotoSansOlChiki-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansOlChiki-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansOlChiki-Regular.woff") format("woff"), url("fonts/NotoSansOlChiki-Regular.woff2") format("woff2"), url("fonts/NotoSansOlChiki-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1C50-1C7F;
}
@font-face {
  font-family: "Noto Sans Sinhala Regular";
  src: url("fonts/NotoSansSinhala-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansSinhala-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansSinhala-Regular.woff") format("woff"), url("fonts/NotoSansSinhala-Regular.woff2") format("woff2"), url("fonts/NotoSansSinhala-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0D80-0DFF;
}
@font-face {
  font-family: "Noto Sans Tagalog Regular";
  src: url("fonts/NotoSansTagalog-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansTagalog-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansTagalog-Regular.woff") format("woff"), url("fonts/NotoSansTagalog-Regular.woff2") format("woff2"), url("fonts/NotoSansTagalog-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1700-171F;
}
@font-face {
  font-family: "Noto Sans TaiLe Regular";
  src: url("fonts/NotoSansTaiLe-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansTaiLe-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansTaiLe-Regular.woff") format("woff"), url("fonts/NotoSansTaiLe-Regular.woff2") format("woff2"), url("fonts/NotoSansTaiLe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1950-197F;
}
@font-face {
  font-family: "Noto Sans TaiTham Regular";
  src: url("fonts/NotoSansTaiTham-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansTaiTham-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansTaiTham-Regular.woff") format("woff"), url("fonts/NotoSansTaiTham-Regular.woff2") format("woff2"), url("fonts/NotoSansTaiTham-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1A20-1AAF;
}
@font-face {
  font-family: "Noto Sans TaiViet Regular";
  src: url("fonts/NotoSansTaiViet-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansTaiViet-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansTaiViet-Regular.woff") format("woff"), url("fonts/NotoSansTaiViet-Regular.woff2") format("woff2"), url("fonts/NotoSansTaiViet-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AA80-AADF;
}
@font-face {
  font-family: "Noto Sans Tamil Regular";
  src: url("fonts/NotoSansTamil-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansTamil-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansTamil-Regular.woff") format("woff"), url("fonts/NotoSansTamil-Regular.woff2") format("woff2"), url("fonts/NotoSansTamil-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0B80-0BFF, U+11FC0-11FFF;
}
@font-face {
  font-family: "Noto Sans Telugu Regular";
  src: url("fonts/NotoSansTelugu-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansTelugu-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansTelugu-Regular.woff") format("woff"), url("fonts/NotoSansTelugu-Regular.woff2") format("woff2"), url("fonts/NotoSansTelugu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0C00-0C7F;
}
@font-face {
  font-family: "Noto Sans Thai Regular";
  src: url("fonts/NotoSansThai-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansThai-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansThai-Regular.woff") format("woff"), url("fonts/NotoSansThai-Regular.woff2") format("woff2"), url("fonts/NotoSansThai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0E00-0E7F;
}
@font-face {
  font-family: "Noto Sans Thaana Regular";
  src: url("fonts/NotoSansThaana-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansThaana-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansThaana-Regular.woff") format("woff"), url("fonts/NotoSansThaana-Regular.woff2") format("woff2"), url("fonts/NotoSansThaana-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0780-07BF;
}
@font-face {
  font-family: "Noto Sans Tibetan Regular";
  src: url("fonts/NotoSansTibetan-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansTibetan-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansTibetan-Regular.woff") format("woff"), url("fonts/NotoSansTibetan-Regular.woff2") format("woff2"), url("fonts/NotoSansTibetan-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0F00-0FFF;
}
@font-face {
  font-family: "Noto Sans ZanzabarSquare Regular";
  src: url("fonts/NotoSansZanzabarSquare-Regular.eot") format("embedded-opentype"), url("fonts/NotoSansZanzabarSquare-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSansZanzabarSquare-Regular.woff") format("woff"), url("fonts/NotoSansZanzabarSquare-Regular.woff2") format("woff2"), url("fonts/NotoSansZanzabarSquare-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+11A00-11A4F;
}