@supports (font-variation-settings: "wdth" 200) {
  @font-face {
    font-family: "Noto Sans Adlam VF";
    src: url("fonts/NotoSansAdlam-VF.woff") format("woff"), url("fonts/NotoSansAdlam-VF.woff2") format("woff2"), url("fonts/NotoSansAdlam-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1E900-1E95F, U+2E41;
  }
  @font-face {
    font-family: "Noto Sans Arabic VF";
    src: url("fonts/NotoSansArabic-VF.woff") format("woff"), url("fonts/NotoSansArabic-VF.woff2") format("woff2"), url("fonts/NotoSansArabic-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
  }
  @font-face {
    font-family: "Noto Sans Armenian VF";
    src: url("fonts/NotoSansArmenian-VF.woff") format("woff"), url("fonts/NotoSansArmenian-VF.woff2") format("woff2"), url("fonts/NotoSansArmenian-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0530-058F;
  }
  @font-face {
    font-family: "Noto Sans Bamum VF";
    src: url("fonts/NotoSansBamum-VF.woff") format("woff"), url("fonts/NotoSansBamum-VF.woff2") format("woff2"), url("fonts/NotoSansBamum-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+A6A0-A6FF, U+16800-16A3F;
  }
  @font-face {
    font-family: "Noto Sans Bengali VF";
    src: url("fonts/NotoSansBengali-VF.woff") format("woff"), url("fonts/NotoSansBengali-VF.woff2") format("woff2"), url("fonts/NotoSansBengali-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0980-09FF;
  }
  @font-face {
    font-family: "Noto Sans CanadianAboriginal VF";
    src: url("fonts/NotoSansCanadianAboriginal-VF.woff") format("woff"), url("fonts/NotoSansCanadianAboriginal-VF.woff2") format("woff2"), url("fonts/NotoSansCanadianAboriginal-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1400-167F, U+18B0-18FF;
  }
  @font-face {
    font-family: "Noto Sans Cherokee VF";
    src: url("fonts/NotoSansCherokee-VF.woff") format("woff"), url("fonts/NotoSansCherokee-VF.woff2") format("woff2"), url("fonts/NotoSansCherokee-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+????;
  }
  @font-face {
    font-family: "Noto Sans LGC VF";
    src: url("fonts/NotoSansLGC-VF.woff") format("woff"), url("fonts/NotoSansLGC-VF.woff2") format("woff2"), url("fonts/NotoSansLGC-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0400-04FF, U+0500-052F, U+1C80-1C8F;
  }
  @font-face {
    font-family: "Noto Sans Devanagari VF";
    src: url("fonts/NotoSansDevanagari-VF.woff") format("woff"), url("fonts/NotoSansDevanagari-VF.woff2") format("woff2"), url("fonts/NotoSansDevanagari-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0900-097F, U+A8E0-A8FF;
  }
  @font-face {
    font-family: "Noto Sans LGC VF";
    src: url("fonts/NotoSansLGC-VF.woff") format("woff"), url("fonts/NotoSansLGC-VF.woff2") format("woff2"), url("fonts/NotoSansLGC-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0370-03FF, U+1F00-1FFF;
  }
  @font-face {
    font-family: "Noto Sans Gurmukhi VF";
    src: url("fonts/NotoSansGurmukhi-VF.woff") format("woff"), url("fonts/NotoSansGurmukhi-VF.woff2") format("woff2"), url("fonts/NotoSansGurmukhi-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0A00-0A7F;
  }
  @font-face {
    font-family: "Noto Sans Hebrew VF";
    src: url("fonts/NotoSansHebrew-VF.woff") format("woff"), url("fonts/NotoSansHebrew-VF.woff2") format("woff2"), url("fonts/NotoSansHebrew-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0590-05FF;
  }
  @font-face {
    font-family: "Noto Sans Gurmukhi VF";
    src: url("fonts/NotoSansGurmukhi-VF.woff") format("woff"), url("fonts/NotoSansGurmukhi-VF.woff2") format("woff2"), url("fonts/NotoSansGurmukhi-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0A00-0A7F;
  }
  @font-face {
    font-family: "Noto Sans Gurmukhi VF";
    src: url("fonts/NotoSansGurmukhi-VF.woff") format("woff"), url("fonts/NotoSansGurmukhi-VF.woff2") format("woff2"), url("fonts/NotoSansGurmukhi-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0A00-0A7F;
  }
  @font-face {
    font-family: "Noto Sans Kannada VF";
    src: url("fonts/NotoSansKannada-VF.woff") format("woff"), url("fonts/NotoSansKannada-VF.woff2") format("woff2"), url("fonts/NotoSansKannada-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0C80-0CFF;
  }
  @font-face {
    font-family: "Noto Sans Khmer VF";
    src: url("fonts/NotoSansKhmer-VF.woff") format("woff"), url("fonts/NotoSansKhmer-VF.woff2") format("woff2"), url("fonts/NotoSansKhmer-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1780-17FF, U+19E0-19FF;
  }
  @font-face {
    font-family: "Noto Sans Lao VF";
    src: url("fonts/NotoSansLao-VF.woff") format("woff"), url("fonts/NotoSansLao-VF.woff2") format("woff2"), url("fonts/NotoSansLao-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0E80-0EFF;
  }
  @font-face {
    font-family: "Noto Sans Lisu VF";
    src: url("fonts/NotoSansLisu-VF.woff") format("woff"), url("fonts/NotoSansLisu-VF.woff2") format("woff2"), url("fonts/NotoSansLisu-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+A4D0-A4FF;
  }
  @font-face {
    font-family: "Noto Sans Malayalam VF";
    src: url("fonts/NotoSansMalayalam-VF.woff") format("woff"), url("fonts/NotoSansMalayalam-VF.woff2") format("woff2"), url("fonts/NotoSansMalayalam-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0D00-0D7F;
  }
  @font-face {
    font-family: "Noto Sans Myanmar VF";
    src: url("fonts/NotoSansMyanmar-VF.woff") format("woff"), url("fonts/NotoSansMyanmar-VF.woff2") format("woff2"), url("fonts/NotoSansMyanmar-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1000-109F, U+AA60-AA7F, U+A9E0-A9FF;
  }
  @font-face {
    font-family: "Noto Sans Oriya VF";
    src: url("fonts/NotoSansOriya-VF.woff") format("woff"), url("fonts/NotoSansOriya-VF.woff2") format("woff2"), url("fonts/NotoSansOriya-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0B00-0B7F;
  }
  @font-face {
    font-family: "Noto Sans Sinhala VF";
    src: url("fonts/NotoSansSinhala-VF.woff") format("woff"), url("fonts/NotoSansSinhala-VF.woff2") format("woff2"), url("fonts/NotoSansSinhala-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0D80-0DFF;
  }
  @font-face {
    font-family: "Noto Sans TaiLe VF";
    src: url("fonts/NotoSansTaiLe-VF.woff") format("woff"), url("fonts/NotoSansTaiLe-VF.woff2") format("woff2"), url("fonts/NotoSansTaiLe-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1950-197F;
  }
  @font-face {
    font-family: "Noto Sans TaiTham VF";
    src: url("fonts/NotoSansTaiTham-VF.woff") format("woff"), url("fonts/NotoSansTaiTham-VF.woff2") format("woff2"), url("fonts/NotoSansTaiTham-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1A20-1AAF;
  }
  @font-face {
    font-family: "Noto Sans TaiViet VF";
    src: url("fonts/NotoSansTaiViet-VF.woff") format("woff"), url("fonts/NotoSansTaiViet-VF.woff2") format("woff2"), url("fonts/NotoSansTaiViet-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+AA80-AADF;
  }
  @font-face {
    font-family: "Noto Sans Tamil VF";
    src: url("fonts/NotoSansTamil-VF.woff") format("woff"), url("fonts/NotoSansTamil-VF.woff2") format("woff2"), url("fonts/NotoSansTamil-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0B80-0BFF, U+11FC0-11FFF;
  }
  @font-face {
    font-family: "Noto Sans Telugu VF";
    src: url("fonts/NotoSansTelugu-VF.woff") format("woff"), url("fonts/NotoSansTelugu-VF.woff2") format("woff2"), url("fonts/NotoSansTelugu-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0C00-0C7F;
  }
  @font-face {
    font-family: "Noto Sans Thaana VF";
    src: url("fonts/NotoSansThaana-VF.woff") format("woff"), url("fonts/NotoSansThaana-VF.woff2") format("woff2"), url("fonts/NotoSansThaana-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0780-07BF;
  }
  @font-face {
    font-family: "Noto Sans Thai VF";
    src: url("fonts/NotoSansThai-VF.woff") format("woff"), url("fonts/NotoSansThai-VF.woff2") format("woff2"), url("fonts/NotoSansThai-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0E00-0E7F;
  }
  @font-face {
    font-family: "Noto Sans ZanzabarSquare VF";
    src: url("fonts/NotoSansZanzabarSquare-VF.woff") format("woff"), url("fonts/NotoSansZanzabarSquare-VF.woff2") format("woff2"), url("fonts/NotoSansZanzabarSquare-VF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+11A00-11A4F;
  }
}