// Font variables for CDN loaded fonts

// By script, sc=simplified chinese, tc=traditional chinese, kr=korean, jp=japanese

// Static sans
// Noto
$latin-sans:			'Noto Sans';
$chinese-s-sans:	'Noto Sans SC';
$chinese-t-sans:	'Noto Sans HK';
$chinese-t-sans:	'Noto Sans TC';
$korean-sans:			'Noto Sans KR';
$japanese-sans:		'Noto Sans JP';
$cyrillic-sans:		'Noto Sans';
$devanagari-sans:	'Noto Sans';
$greek-sans:			'Noto Sans';
$latin-mono:			'Noto Sans';

// Not Noto
$arabic-sans:			'Markazi Text';
$bengali-sans:		'Hind Siliguri';
$gurmukhi-sans:		'Mukta Mahee';
$gujarati-sans:		'Hind Vadodara';
$hebrew-sans:			'Rubik';
$kannada-sans:		'Baloo Tamma 2';
$khmer-sans:			'Hanuman';
$malayalam-sans:	'Baloo Chettan 2';
$myanmar-sans:		'Padauk';
$oriya-sans:			'Baloo Bhaina 2';
$sinhala-sans:		'Abhaya Libre';
$tibetan-sans:		'Jomolhari';
$tamil-sans:			'Catamaran';
$telugu-sans:			'Hind Guntur';
$thai-sans:				'Kanit';

// No Google font available
$adlam-sans:			'Adlam Sans';
$armenian-sans:		'Armenian Sans';
$bamum-sans:			'Bamum Sans';
$hangul-Jamo-sans:'Hangul Jamo Sans';
$kayah-sans:			'Kayah Sans';
$lao-sans:				'Lao Sans';
$limbu:						'Limbu Sans';
$nko-sans:				'NKo Sans';
$tai-le-sans:			'Tai Le Sans';
$thaana-sans:			'Thaana Sans';

// Static serif
$ethiopic-serif:	'Ethiopic Serif';
$latin-serif:			'Noto Serif';
$sinhala-serif:		'Abhaya Libre';
$myanmar-serif:		'Padauk';
$thai-serif:			'Taviraj';

// Static Mono
$latin-mono:			'Noto Sans Mono';

// Variable fonts (not yet available on Google CDN)
$adlam-sans-vf:         'Noto Sans Adlam VF';
$arabic-sans-vf:        'Noto Sans Arabic VF';
$armenian-sans-vf:      'Noto Sans Armenian VF';
$bamum-sans-vf:         'Noto Sans Bamum VF';
$bengali-sans-vf:       'Noto Sans BengaliUI VF';
$cyrillic-sans-vf:      'Noto Sans LGC VF';
$devanagari-sans-vf:    'Noto Sans DevanagariUI VF';
$greek-sans-vf:         'Noto Sans LGC VF';
$gurmukhi-sans-vf:      'Noto Sans Gurmukhi VF';
$hangul-Jamo-sans-vf:   'Noto Sans HangulJamo VF';
$hebrew-sans-vf:        'Noto Sans Hebrew VF';
$kannada-sans-vf:       'Noto Sans KannadaUI VF';
$kayah-sans-vf:         'Noto Sans Kayah VF';
$khmer-sans-vf:         'Noto Sans Khmer VF';
$latin-sans-vf:         'Noto Sans Regular VF';
$latin-sans-italic-vf:  'Noto Sans Italic VF';
$lao-sans-vf:           'Noto Sans LaoUI VF';
$limbu-vf:              'Noto Sans Limbu VF';
$malayalam-sans-vf:     'Noto Sans MalayalamUI VF';
$mongolian-sans-vf:     'Noto Sans Mongolian VF';
$myanmar-sans-vf:       'Noto Sans Myanmar VF';
$nko-sans-vf:           'Noto Sans NKo VF';
$oriya-sans-vf:         'Noto Sans Oriya VF';
$sinhala-sans-vf:       'Noto Sans Sinhala VF';
$tai-le-sans-vf:        'Noto Sans TaiLe VF';
$tamil-sans-vf:         'Noto Sans Tamil VF';
$telugu-sans-vf:        'Noto Sans Telugu VF';
$thaana-sans-vf:        'Noto Sans Thaana VF';
$thai-sans-vf:          'Noto Sans ThaiUI VF';
$tibetan-sans-vf:       'Noto Sans Tibetan VF';

// Serif
$latin-serif-vf:        'Noto Serif Regular VF';
$latin-serif-italic-vf: 'Noto Sans Italic VF';
$ethiopic-serif-vf:			'Ethiopic Serif Regular VF';

// Mono
$latin-mono-vf:         'Noto Sans Mono VF';
