// Font variables for self-hosted fonts

// STATIC FONTS

// by script, sc=simplified chinese, tc=traditional chinese, kr=korean, jp=japanese
// Sans
$adlam-sans:					'Noto Sans Adlam Regular';
$arabic-sans:					'Noto Sans Arabic Regular';
$armenian-sans:				'Noto Sans Armenian Regular';
$bamum-sans:					'Noto Sans Bamum Regular';
$bengali-sans:				'Noto Sans Bengali Regular'; // For some reason the Noto font is called Bengali, not Bangla
$chinese-s-sans:			'Noto Sans SC';
$chinese-hk-sans:			'Noto Sans HK';
$chinese-t-sans:			'Noto Sans TC';
$cyrillic-sans:				'Noto Sans LGC';
$devanagari-sans:			'Noto Sans Devanagari Regular';
$greek-sans:					'Noto Sans LGC';
$gujarati-sans:				'Noto Sans Gujarati Regular';
$gujarati-sans-bold:	'Noto Sans Gujarati Bold';
$gurmukhi-sans:				'Noto Sans Gurmukhi Regular';
$hebrew-sans:					'Noto Sans Hebrew Regular';
$japanese-sans:				'Noto Sans JP';
$kannada-sans:				'Noto Sans Kannada Regular';
$kayah-sans:					'Noto Sans Kayah Regular';
$khmer-sans:					'Noto Sans Khmer Regular';
$korean-sans:					'Noto Sans KR';
$latin-sans:					'Noto Sans';
$latin-sans-italic:		'Noto Sans Italic';
$latin-serif-italic:	'Noto Sans Italic';
$lao-sans:						'Noto Sans Lao Regular';
$limbu:								'Noto Sans Limbu Regular';
$malayalam-sans:			'Noto Sans Malayalam Regular';
$mongolian-sans:			'Noto Sans Mongolian Regular';
$myanmar-sans:				'Noto Sans Myanmar Regular';
$nko-sans:						'Noto Sans NKo Regular';
$oriya-sans:					'Noto Sans Oriya Regular';
$sinhala-sans:				'Noto Sans Sinhala Regular';
$tai-le-sans:					'Noto Sans TaiLe Regular';
$tamil-sans:					'Noto Sans Tamil Regular';
$telugu-sans:					'Noto Sans Telugu Regular';
$thaana-sans:					'Noto Sans Thaana Regular';
$thai-sans:						'Noto Sans Thai Regular';
$tibetan-sans:				'Noto Sans Tibetan Regular';
// Serif
$adlam-serif:					'Noto Serif Adlam Regular';
$arabic-serif:				'Noto Serif Arabic Regular';
$armenian-serif:			'Noto Serif Armenian Regular';
$bamum-serif:					'Noto Serif Bamum Regular';
$bengali-serif:				'Noto Serif Bengali Regular';
$cyrillic-serif:			'Noto Serif';
$devanagari-serif:		'Noto Serif Devanagari';
$ethiopic-serif:			'Noto Serif Ethiopic Regular';
$greek-serif:					'Noto Serif';
$gujarati-serif:			'Noto Serif Gujarati Regular';
$gurmukhi-serif:			'Noto Serif Gurmukhi Regular';
$hebrew-serif:				'Noto Serif Hebrew Regular';
$kannada-serif:				'Noto Serif Kannada Regular';
$kayah-serif:					'Noto Serif Kayah Regular';
$khmer-serif:					'Noto Serif Khmer Regular';
$latin-serif:					'Noto Serif';
$latin-serif-italic:	'Noto Serif Italic';
$lao-serif:						'Noto Serif Lao Regular';
$limbu:								'Noto Serif Limbu Regular';
$malayalam-serif:			'Noto Serif Malayalam Regular';
$mongolian-serif:			'Noto Serif Mongolian Regular';
$myanmar-serif:				'Noto Serif Myanmar Regular';
$nko-serif:						'Noto Serif NKo Regular';
$oriya-serif:					'Noto Serif Oriya Regular';
$sinhala-serif:				'Noto Serif Sinhala Regular';
$tai-le-serif:				'Noto Serif TaiLe Regular';
$tamil-serif:					'Noto Serif Tamil Regular';
$telugu-serif:				'Noto Serif Telugu Regular ';
$thaana-serif:				'Noto Serif Thaana Regular';
$thai-serif:					'Noto Serif Thai Regular';
$tibetan-serif:				'Noto Serif Tibetan Regular';
// Mono
$latin-mono:					'Noto Sans Mono';

// VARIABLE FONTS

// Sans
$adlam-sans-vf:					'Noto Sans Adlam VF';
$arabic-sans-vf:				'Noto Sans Arabic VF';
$armenian-sans-vf:			'Noto Sans Armenian VF';
$bamum-sans-vf:					'Noto Sans Bamum VF';
$bengali-sans-vf:				'Noto Sans Bengali VF';
$cyrillic-sans-vf:			'Noto Sans LGC VF';
$devanagari-sans-vf:		'Noto Sans Devanagari VF';
$greek-sans-vf:					'Noto Sans LGC VF';
$gurmukhi-sans-vf:			'Noto Sans Gurmukhi VF';
$hangul-Jamo-sans-vf:		'Noto Sans HangulJamo VF';
$hebrew-sans-vf:				'Noto Sans Hebrew VF';
$kannada-sans-vf:				'Noto Sans Kannada VF';
$kayah-sans-vf:					'Noto Sans Kayah VF';
$khmer-sans-vf:					'Noto Sans Khmer VF';
$latin-sans-vf:					'Noto Sans Regular VF';
$latin-sans-italic-vf:	'Noto Sans Italic VF';
$latin-serif-italic-vf:	'Noto Sans Italic VF';
$lao-sans-vf:						'Noto Sans Lao VF';
$limbu-vf:							'Noto Sans Limbu VF';
$malayalam-sans-vf:			'Noto Sans Malayalam VF';
$mongolian-sans-vf:			'Noto Sans Mongolian VF';
$myanmar-sans-vf:				'Noto Sans Myanmar VF';
$nko-sans-vf:						'Noto Sans NKo VF';
$oriya-sans-vf:					'Noto Sans Oriya VF';
$sinhala-sans-vf:				'Noto Sans Sinhala VF';
$tai-le-sans-vf:				'Noto Sans TaiLe VF';
$tamil-sans-vf:					'Noto Sans Tamil VF';
$telugu-sans-vf:				'Noto Sans Telugu VF';
$thaana-sans-vf:				'Noto Sans Thaana VF';
$thai-sans-vf:					'Noto Sans Thai VF';
$tibetan-sans-vf:				'Noto Sans Tibetan VF';
// Serif
$ethiopic-serif-vf:			'Noto Serif Ethiopic VF';
$adlam-serif-vf:				'Noto Serif Adlam VF';
$arabic-serif-vf:				'Noto Serif Arabic VF';
$armenian-serif-vf:			'Noto Serif Armenian VF';
$bamum-serif-vf:				'Noto Serif Bamum VF';
$bengali-serif-vf:			'Noto Serif Bengali VF';
$cyrillic-serif-vf:			'Noto Serif LGC VF';
$devanagari-serif-vf:		'Noto Serif Devanagari VF';
$greek-serif-vf:				'Noto Serif LGC VF';
$gurmukhi-serif-vf:			'Noto Serif Gurmukhi VF';
$hebrew-serif-vf:				'Noto Serif Hebrew VF';
$kannada-serif-vf:			'Noto Serif Kannada VF';
$kayah-serif-vf:				'Noto Serif Kayah VF';
$khmer-serif-vf:				'Noto Serif Khmer VF';
$latin-serif-vf:				'Noto Serif Regular VF';
$latin-serif-italic-vf:	'Noto Serif Italic VF';
$latin-serif-italic-vf:	'Noto Serif Italic VF';
$lao-serif-vf:					'Noto Serif Lao VF';
$limbu-vf:							'Noto Serif Limbu VF';
$malayalam-serif-vf:		'Noto Serif Malayalam VF';
$mongolian-serif-vf:		'Noto Serif Mongolian VF';
$myanmar-serif-vf:			'Noto Serif Myanmar VF';
$nko-serif-vf:					'Noto Serif NKo VF';
$oriya-serif-vf:				'Noto Serif Oriya VF';
$sinhala-serif-vf:			'Noto Serif Sinhala VF';
$tai-le-serif-vf:				'Noto Serif TaiLe VF';
$tamil-serif-vf:				'Noto Serif Tamil VF';
$telugu-serif-vf:				'Noto Serif Telugu VF';
$thaana-serif-vf:				'Noto Serif Thaana VF';
$thai-serif-vf:					'Noto Serif Thai VF';
$tibetan-serif-vf:			'Noto Serif Tibetan VF';
// Mono
$latin-mono-vf:         'Noto Sans Mono VF';

// UI fonts, designed to be more compact for use in buttons and controls
$bengali-sans-ui-vf:			'Noto Sans Bengali UI VF';
$devanagari-sans-ui-vf:		'Noto Sans Devanagari UI VF';
$kannada-sans-ui-vf:			'Noto Sans Kannada UI VF';
$lao-sans-ui-vf:					'Noto Sans Lao UI VF';
$malayalam-sans-ui-vf:		'Noto Sans Malayalam UI VF';
$thai-sans-ui-vf:					'Noto Sans Thai UI VF';
