// Font variables for self-hosted fonts

// STATIC FONTS

// by script, sc=simplified chinese, tc=traditional chinese, kr=korean, jp=japanese
// Sstatic sans
$adlam-sans:					'Noto Sans Adlam Regular';
$arabic-sans:					'Noto Sans Arabic Regular';
$armenian-sans:				'Noto Sans Armenian Regular';
$bamum-sans:					'Noto Sans Bamum Regular';
$bengali-sans:				'Noto Sans Bengali Regular'; // The Noto font is named for the language, Bengali, not the script, Bangla
$brahmi-sans:					'Noto Sans Brahmi Regular';
$buginese-sans:				'Noto Sans Buginese Regular';
$buhid-sans:					'Noto Sans Buhid Regular';
$c-aboriginal-sans:		'Noto Sans Canadian Aboriginal Regular';
$cherokee-sans:				''; // No font available
$chinese-s-sans:			'Noto Sans SC'; // Simplified chinese
$chinese-hk-sans:			'Noto Sans HK'; // Hongkong chinese
$chinese-t-sans:			'Noto Sans TC'; // Traditional chinese
$cyrillic-sans:				'Noto Sans LGC'; // combined latin, greek cyrillic
$devanagari-sans:			'Noto Sans Devanagari Regular';
$georgian-sans:				''; // No font available
$greek-sans:					'Noto Sans LGC'; // combined latin, greek cyrillic
$gujarati-sans:				'Noto Sans Gujarati Regular';
$gujarati-sans-bold:	'Noto Sans Gujarati Bold';
$gurmukhi-sans:				'Noto Sans Gurmukhi Regular';
$hebrew-sans:					'Noto Sans Hebrew Regular';
$japanese-sans:				'Noto Sans JP';
$kannada-sans:				'Noto Sans Kannada Regular';
$kayah-sans:					'Noto Sans Kayah Regular';
$khmer-sans:					'Noto Sans Khmer Regular';
$korean-sans:					'Noto Sans KR'; // Script selector is hangul.scss
$latin-sans:					'Noto Sans';
$lao-sans:						'Noto Sans Lao Regular';
$limbu-sans:					'Noto Sans Limbu Regular';
$malayalam-sans:			'Noto Sans Malayalam Regular';
$mongolian-sans:			'Noto Sans Mongolian Regular';
$myanmar-sans:				'Noto Sans Myanmar Regular';
$nko-sans:						'Noto Sans NKo Regular';
$oriya-sans:					'Noto Sans Oriya Regular';
$sinhala-sans:				'Noto Sans Sinhala Regular';
$tagalog-sans:				'Noto Sans Tagalog Regular';
$tai-le-sans:					'Noto Sans TaiLe Regular';
$takri-sans:					''; // No font available
$tamil-sans:					'Noto Sans Tamil Regular';
$telugu-sans:					'Noto Sans Telugu Regular';
$thaana-sans:					'Noto Sans Thaana Regular';
$thai-sans:						'Noto Sans Thai Regular';
$tibetan-sans:				'Noto Sans Tibetan Regular';
$warang-citi-sans:		'Noto Sans Warang Citi Regular';
// Static sans Italic
$latin-sans-italic:		'Noto Sans Italic';
// Static sans monospace
$latin-sans-mono:			'Noto Sans Mono';

// Static serif
$adlam-serif:					'Noto Serif Adlam Regular';
$arabic-serif:				'Noto Serif Arabic Regular';
$armenian-serif:			'Noto Serif Armenian Regular';
$bamum-serif:					'Noto Serif Bamum Regular';
$bengali-serif:				'Noto Serif Bengali Regular';
$brahmi-serif:				''; // No font available
$buginese-serif:			''; // No font available
$buhid-serif:					''; // No font available
$c-aboriginal-serif:	''; // No font available
$cherokee-serif:			''; // No font available
$chinese-s-serif:			'Noto Serif SC'; // Simplified chinese
$chinese-hk-serif:		'Noto Serif HK'; // Hongkong chinese
$chinese-t-serif:			'Noto Serif TC'; // Traditional chinese
$cyrillic-serif:			'Noto Serif';
$devanagari-serif:		'Noto Serif Devanagari';
$ethiopic-serif:			'Noto Serif Ethiopic Regular';
$georgian-serif:			'Noto Serif Georgian Regular';
$greek-serif:					'Noto Serif';
$gujarati-serif:			'Noto Serif Gujarati Regular';
$gurmukhi-serif:			'Noto Serif Gurmukhi Regular';
$hebrew-serif:				'Noto Serif Hebrew Regular';
$japanese-serif:			'Noto Serif JP Regular';
$kannada-serif:				'Noto Serif Kannada Regular';
$kayah-serif:					'Noto Serif Kayah Regular';
$khmer-serif:					'Noto Serif Khmer Regular';
$korean-serif:				'Noto Serif KR'; // Script selector is hangul.scss
$latin-serif:					'Noto Serif';
$lao-serif:						'Noto Serif Lao Regular';
$limbu-serif:					''; // No font available
$malayalam-serif:			'Noto Serif Malayalam Regular';
$mongolian-serif:			'Noto Serif Mongolian Regular';
$myanmar-serif:				'Noto Serif Myanmar Regular';
$nko-serif:						'Noto Serif NKo Regular';
$oriya-serif:					'Noto Serif Oriya Regular';
$sinhala-serif:				'Noto Serif Sinhala Regular';
$tagalog-serif:				''; // No font available
$tai-le-serif:				'Noto Serif TaiLe Regular';
$takri-serif:					''; // No font available
$tamil-serif:					'Noto Serif Tamil Regular';
$telugu-serif:				'Noto Serif Telugu Regular ';
$thaana-serif:				'Noto Serif Thaana Regular';
$thai-serif:					'Noto Serif Thai Regular';
$tibetan-serif:				'Noto Serif Tibetan Regular';
$warang-citi-serif:		''; // No font available
// Serif Italic
$latin-serif-italic:	'Noto Serif Italic';

// VARIABLE FONTS

// Variable sans
$adlam-sans-vf:					'Noto Sans Adlam VF';
$arabic-sans-vf:				'Noto Sans Arabic VF';
$armenian-sans-vf:			'Noto Sans Armenian VF';
$bamum-sans-vf:					'Noto Sans Bamum VF';
$bengali-sans-vf:				'Noto Sans Bengali VF';
$brahmi-sans-vf:				''; // No variable font available
$buginese-sans-vf:			''; // No variable font available
$buhid-sans-vf:					''; // No variable font available
$c-aboriginal-sans-vf:	'Noto Sans Canadian Aboriginal VF';
$cham-sans-vf:					'Noto Sans Cham VF';
$cherokee-sans-vf:			'Noto Sans Cherokee VF';
$chinese-s-sans-vf:			''; // No variable font available
$chinese-hk-sans-vf:		''; // No variable font available
$chinese-t-sans-vf:			''; // No variable font available
$cyrillic-sans-vf:			'Noto Sans LGC VF'; // combined latin, greek cyrillic
$devanagari-sans-vf:		'Noto Sans Devanagari VF';
$georgian-sans-vf:			'Noto Sans Georgian VF';
$greek-sans-vf:					'Noto Sans LGC VF'; // combined latin, greek cyrillic
$gurmukhi-sans-vf:			'Noto Sans Gurmukhi VF';
$hebrew-sans-vf:				'Noto Sans Hebrew VF';
$kannada-sans-vf:				'Noto Sans Kannada VF';
$kayah-sans-vf:					'Noto Sans Kayah VF';
$khmer-sans-vf:					'Noto Sans Khmer VF';
$latin-sans-vf:					'Noto Sans Regular VF';
$lao-sans-vf:						'Noto Sans Lao VF';
$limbu-sans-vf:					''; // No variable font available
$malayalam-sans-vf:			'Noto Sans Malayalam VF';
$mongolian-sans-vf:			'Noto Sans Mongolian VF';
$myanmar-sans-vf:				'Noto Sans Myanmar VF';
$nko-sans-vf:						'Noto Sans NKo VF';
$oriya-sans-vf:					'Noto Sans Oriya VF';
$sinhala-sans-vf:				'Noto Sans Sinhala VF';
$tagalog-sans-vf:				''; // No variable font available
$tai-le-sans-vf:				'Noto Sans TaiLe VF';
$takri-sans-vf:					'Noto Sans Takri VF';
$tamil-sans-vf:					'Noto Sans Tamil VF';
$telugu-sans-vf:				'Noto Sans Telugu VF';
$thaana-sans-vf:				'Noto Sans Thaana VF';
$thai-sans-vf:					'Noto Sans Thai VF';
$tibetan-sans-vf:				'Noto Sans Tibetan VF';
$warang-citi-sans-vf:		'Noto Sans Warang Citi VF';
// Variable sans italic
$elemaic-sans-italic-vf:'Noto Sans Elemaic Italic VF';
$latin-sans-italic-vf:	'Noto Sans Italic VF';
// Variable sans mono
$latin-sans-mono-vf:    'Noto Sans Mono VF';

// Variable serif
$ethiopic-serif-vf:			'Noto Serif Ethiopic VF';
$adlam-serif-vf:				'Noto Serif Adlam VF';
$arabic-serif-vf:				'Noto Serif Arabic VF';
$armenian-serif-vf:			'Noto Serif Armenian VF';
$bamum-serif-vf:				'Noto Serif Bamum VF';
$bengali-serif-vf:			'Noto Serif Bengali VF';
$brahmi-serif-vf:				''; // No variable font available
$buginese-serif-vf:			''; // No variable font available
$buhid-serif-vf:				''; // No variable font available
$c-aboriginal-serif-vf:	''; // No variable font available
$cherokee-serif-vf:			''; // No variable font available
$chinese-s-serif-vf:		''; // No variable font available
$chinese-hk-serif-vf:		''; // No variable font available
$chinese-t-serif-vf:		''; // No variable font available
$cyrillic-serif-vf:			'Noto Serif LGC VF'; // combined latin, greek cyrillic
$devanagari-serif-vf:		'Noto Serif Devanagari VF';
$georgian-serif-vf:			'Noto Serif Georgian VF';
$greek-serif-vf:				'Noto Serif LGC VF'; // combined latin, greek cyrillic
$gurmukhi-serif-vf:			'Noto Serif Gurmukhi VF';
$hebrew-serif-vf:				'Noto Serif Hebrew VF';
$kannada-serif-vf:			'Noto Serif Kannada VF';
$kayah-serif-vf:				'Noto Serif Kayah VF';
$khmer-serif-vf:				'Noto Serif Khmer VF';
$latin-serif-vf:				'Noto Serif Regular VF';
$lao-serif-vf:					'Noto Serif Lao VF';
$limbu-serif-vf:				''; // No variable font available
$malayalam-serif-vf:		'Noto Serif Malayalam VF';
$mongolian-serif-vf:		'Noto Serif Mongolian VF';
$myanmar-serif-vf:			'Noto Serif Myanmar VF';
$nko-serif-vf:					'Noto Serif NKo VF';
$oriya-serif-vf:				'Noto Serif Oriya VF';
$sinhala-serif-vf:			'Noto Serif Sinhala VF';
$tagalog-serif-vf:			''; // No variable font available
$tai-le-serif-vf:				'Noto Serif TaiLe VF';
$takri-serif-vf:				''; // No variable font available
$tamil-serif-vf:				'Noto Serif Tamil VF';
$telugu-serif-vf:				'Noto Serif Telugu VF';
$thaana-serif-vf:				'Noto Serif Thaana VF';
$thai-serif-vf:					'Noto Serif Thai VF';
$tibetan-serif-vf:			'Noto Serif Tibetan VF';
$warang-citi-serif-vf:	''; // No variable font available
// Variable serif italic
$latin-serif-italic-vf:	'Noto Serif Italic VF';

// Variable UI fonts, designed to be more compact for use in buttons and controls
$arabic-sans-ui-vf:				'Noto Sans Arabic UI VF';
$bengali-sans-ui-vf:			'Noto Sans Bengali UI VF';
$devanagari-sans-ui-vf:		'Noto Sans Devanagari UI VF';
$kannada-sans-ui-vf:			'Noto Sans Kannada UI VF';
$lao-sans-ui-vf:					'Noto Sans Lao UI VF';
$malayalam-sans-ui-vf:		'Noto Sans Malayalam UI VF';
$thai-sans-ui-vf:					'Noto Sans Thai UI VF';
