// Unicode range variables

// Use in language rules with: unicode-range: $my-variable;
$adlam-range:       U+1E900-1E95F, U+2E41; // Uses reversed comma
$arabic-range:      U+0600-06FF;
$armenian-range:    U+0530-058F;
$bamum-range:       U+????;
$bengali-range:     U+00-FF, U+980-9FF;
$cyrillic-range:    U+0400-04FF, U+0500-052F, U+1C80-1C8F;
$devanagari-range:  U+0900-097F;
$ethiopic-range:    U+1200-137F, U+1380-139F, U+2D80-2DDF;
$greek-range:       U+0370-03FF;
$gujarati-range:    U+0A80-0AFF;
$gurmukhi-range:    U+0A00-0A7F;
$hebrew-range:      U+0590-05FF;
$hangul-jamo-range: U+1100-11FF, U+A960-A97F;
$japanese-range:    U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F;
$kannada-range:     U+0C80-0CFF;
$khmer-range:       U+1780-17FF;
$lao-range:         U+0E80-0EFF;
$latin-range:       U+????; // U+0020-024F;
$limbu-range:       U+1900-194F;
$malayalam-range:   U+0D00-0D7F;
$mongolian-range:   U+1800-18AF, U+11660-1167F;
$nko-range:         U+07C0-07FF;
$oriya-range:       U+0B00-0B7F;
$sinhala-range:     U+0D80-0DFF;
$tai-le-range:      U+1950-197F;
$tamil-range:       U+0B80-0BFF;
$telugu-range:      U+0C00-0C7F;
$thaana-range:      U+0780-07BF;
$thai-range:        U+0E00-0E7F;
$urdu-range:        U+0600-06FF;
$chinese-range:     U+????; // U+4E00-9FFF, U+31C0-31EF, U+3300-33FF, U+3000-303F, U+2E80-2EFF, U+FE30-FE4F;
$korean-range:      U+????;
