// Unicode range variables
$adlam-range:       U+1E900-1E95F;
$arabic-range:      U+0600-06FF;
$armenian-range:    U+0530-058F;
$bengali-range:     U+00-FF, U+980-9FF;
$devanagari-range:  U+0900-097F;
$ethiopic-range:    U+????;
$gujarati-range:    U+0A80-0AFF;
$gurmukhi-range:    U+????;
$hebrew-range:      U+0590-05FF;
$hangul-Jamo-range: U+????;
$japanese-range:    U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F;
$kannada-range:     U+0C80-0CFF;
$khmer-range:       U+1780-17FF;
$latin-range:       U+0020-024F;
$limbu-range:       U+????;
$malayalam-range:   U+0D00-0D7F;
$mongolian-range:   U+????;
$nko-range:         U+????;
$oriya-range:       U+????;
$sinhala-range:     U+????;
$tai-le-range:      U+????;
$tamil-range:       U+0B80-0BFF;
$telugu-range:      U+0C00-0C7F;
$thaana-range:      U+0780-07BF;
$thai-range:        U+0E00-0E7F;
$urdu-range:        U+0600-06FF;
$chinese-range:     U+????;
$korean-range:      U+????;
