// Font variables

// Static by script, sc=simplified chinese, tc=traditional chinese, kr=korean, jp=japanese
$gujarati-sans-regular: 'Noto Sans Gujarati Regular';
$latin-sans:            'Noto Sans';
$latin-sans-mono:       'Noto Sans Mono';
$sc-sans-regular:       'Noto Sans SC Regular';
$sc-sans-bold:          'Noto Sans SC Bold';
$tc-sans-regular:       'Noto Sans TC Regular';
$tc-sans-bold:          'Noto Sans TC Bold';
$kr-sans-regular:       'Noto Sans KR Regular';
$kr-sans-bold:          'Noto Sans KR Bold';
$jp-sans-regular:       'Noto Sans JP Regular';
$jp-sans-bold:          'Noto Sans JP Bold';

// Variable by script
$adlam-sans-vf:         'Noto Sans Adalam VF';
$arabic-sans-vf:        'Noto Sans Arabic VF';
$armenian-sans-vf:      'Noto Sans Armenian VF';
$bamun-sans-vf:         'Noto Sans Bamun VF';
$bengali-sans-vf:       'Noto Sans Bengali VF';
$cyrillic-sans-vf:      'Noto Sans LGC VF';
$devanagari-sans-vf:    'Noto Sans DevanagariUI VF';
$ethiopic-sans-vf:      'Noto Sans Ethiopic VF';
$greek-sans-vf:         'Noto Sans LGC VF';
$gujarati-sans-vf:      'Noto Sans Gujarati VF';
$gurmukhi-sans-vf:      'Noto Sans Gurmukhi VF';
$hangul-Jamo-sans-vf:   'Noto Sans Hangul Jamo VF';
$hebrew-sans-vf:        'Noto Sans Hebrew VF';
$japanese-sans-vf:      'Noto Sans Japanese VF';
$kannada-sans-vf:       'Noto Sans Kannada VF';
$kayah-sans-vf:         'Noto Sans Kayah VF';
$khmer-sans-vf:         'Noto Sans Khmer VF';
$latin-sans:            'Noto Sans';
$latin-sans-vf:         'Noto Sans Regular VF';
$latin-sans-italic-vf:  'Noto Sans Italic VF';
$latin-mono:            'Noto Sans Mono';
$latin-mono-vf:         'Noto Sans Mono VF';
$latin-serif:           'Noto Serif';
$latin-serif-vf:        'Noto Serif Regular VF';
$latin-serif-italic-vf: 'Noto Sans Italic VF';
$lao-sans-vf:           'Noto Sans Lao VF';
$limbu-vf:              'Noto Sans Limbu VF';
$malayalam-sans-vf:     'Noto Sans MalayalamUI VF';
$mongolian-sans-vf:     'Noto Sans Mongolian VF';
$myanmar-sans-vf:       'Noto Sans Myanmar VF';
$nko-sans-vf:           'Noto Sans NKo VF';
$oriya-sans-vf:         'Noto Sans Oriya VF';
$sinhala-sans-vf:       'Noto Sans Sinhala VF';
$tai-le-sans-vf:        'Noto Sans Tai Le VF';
$tamil-sans-vf:         'Noto Sans Tamil VF';
$telugu-sans-vf:        'Noto Sans Telugu VF';
$thaana-sans-vf:        'Noto Sans Thaana VF';
$thai-sans-vf:          'Noto Sans ThaiUI VF';
$urdu-sans-vf:          'Noto Sans Urdu VF';
$chinese-sans-vf:       'Noto Sans Chinese VF';
$korean-sans-vf:        'Noto Sans Korean VF';

// Customize these weight variables using integers between 100 and 900
$ulight:        100;
$xight:         200;
$light:         300;
$regular:       400;
$medium:        500;
$sbold:         600;
$bold:          700;
$xbold:         800;
$ubold:         900;

// Customize these width variables using integers between 60 and 100
// Note: do not confuse these with font-stretch properties
$ucondensed:    60;
$xcondensed:    70;
$condensed:     80;
$narrow:        90;
$normal:        100;
