// Font variables

// Base fonts
$base-sf:             'Noto Sans Regular';      // Fallback for when variable fonts are not supported (can be either serif or sans)
$base-vf:             'Noto Sans Regular VF';   // Loads everywhere, should end in VF
$base-sans-sf:        'Noto Sans Regular';      // Useful if overall base is a serif
$base-sans-vf:        'Noto Sans Regular VF';   // Useful if overall base is a serif
$base-serif-sf:       'Noto Serif Regular';     // Useful if overall base is a sans-serif
$base-serif-vf:       'Noto Serif Regular VF';  // Useful if overall base is a sans-serif
$base-mono-sf:        'Noto Mono Regular';      // Useful to explicitly declare your monospace webfont
$base-mono-vf:        'Noto Sans Mono VF';
$base-italic-vf:      'Noto Sans Italic VF';    // Variable fonts italics render inconsistently so we explicitly add them separately

// Static by script
$chinese-s-sans-sf:   'Noto Sans Chinese Simplified';
$chinese-s-sans-sf:   'Noto Sans Chinese Simplified';

// Variable by script
$adlam-sans-vf:       'Noto Sans Adalam VF';
$arabic-sans-vf:      'Noto Sans Arabic VF';
$armenian-sans-vf:    'Noto Sans Armenian VF';
$bamun-sans-vf:       'Noto Sans Bamun VF';
$bengali-sans-vf:     'Noto Sans Bengali VF';
$cyrillic-sans-vf:    'Noto Sans Cyrillic VF';
$devanagari-sans-vf:  'Noto Sans Devanagari VF';
$ethiopic-sans-vf:    'Noto Sans Ethiopic VF';
$greek-sans-vf:       'Noto Sans Greek VF';
$gujarati-sans-vf:    'Noto Sans Gujarati VF';
$gurmukhi-sans-vf:    'Noto Sans Gurmukhi VF';
$hangul-Jamo-sans-vf: 'Noto Sans Hangul Jamo VF';
$hebrew-sans-vf:      'Noto Sans Hebrew VF';
$japanese-sans-vf:    'Noto Sans Japanese VF';
$kannada-sans-vf:     'Noto Sans Kannada VF';
$kayah-sans-vf:       'Noto Sans Kayah VF';
$khmer-sans-vf:       'Noto Sans Khmer VF';
$latin-sans-sf:       $base-sans-sf;
$latin-sans-vf:       $base-sans-vf;
$latin-serif-sf:      $base-serif-sf;
$latin-serif-vf:      $base-serif-vf;
$latin-italic-vf:     $base-italic-vf;
$latin-mono-sf:       $base-mono-sf;
$latin-mono-vf:       $base-mono-vf;
$lao-sans-vf:         'Noto Sans Lao VF';
$limbu-vf:            'Noto Sans Limbu VF';
$malayalam-sans-vf:   'Noto Sans Malayalam VF';
$mongolian-sans-vf:   'Noto Sans Mongolian VF';
$myanmar-sans-vf:     'Noto Sans Myanmar VF';
$nko-sans-vf:         'Noto Sans NKo VF';
$oriya-sans-vf:       'Noto Sans Oriya VF';
$sinhala-sans-vf:     'Noto Sans Sinhala VF';
$tai-le-sans-vf:      'Noto Sans Tai Le VF';
$tamil-sans-vf:       'Noto Sans Tamil VF';
$telugu-sans-vf:      'Noto Sans Telugu VF';
$thaana-sans-vf:      'Noto Sans Thaana VF';
$thai-sans-vf:        'Noto Sans Thai VF';
$urdu-sans-vf:        'Noto Sans Urdu VF';
$chinese-sans-vf:     'Noto Sans Chinese VF';
$korean-sans-vf:      'Noto Sans Korean VF';

// Customize these weight variables using integers between 100 and 900
$ulight:        100;
$xight:         200;
$light:         300;
$regular:       400;
$medium:        500;
$sbold:         600;
$bold:          700;
$xbold:         800;
$ubold:         900;

// Customize these width variables using integers between 60 and 100
// Note: do not confuse these with font-stretch properties
$ucondensed:    60;
$xcondensed:    70;
$condensed:     80;
$narrow:        90;
$normal:        100;
