@use "../variables/variables";

// Arabic script languages
*:lang(ar),
*:lang(az),
*:lang(fa),
*:lang(id),
*:lang(kk),
*:lang(ky),
*:lang(ps),
*:lang(so),
*:lang(tg),
*:lang(tk),
*:lang(tr),
*:lang(ur),
*:lang(uz),
*:lang(wni),
*:lang(wo),
*:lang(zdj),
*:lang(aeb),
*:lang(arq),
*:lang(ars),
*:lang(ary),
*:lang(arz),
*:lang(bal),
*:lang(bej),
*:lang(bft),
*:lang(bgn),
*:lang(bqi),
*:lang(brh),
*:lang(cja),
*:lang(cjm),
*:lang(ckb),
*:lang(dcc),
*:lang(doi),
*:lang(dyo),
*:lang(fia),
*:lang(gbz),
*:lang(gjk),
*:lang(gju),
*:lang(glk),
*:lang(ha),
*:lang(haz),
*:lang(hnd),
*:lang(hno),
*:lang(inh),
*:lang(khw),
*:lang(ks),
*:lang(ku),
*:lang(kvx),
*:lang(kxp),
*:lang(lah),
*:lang(lki),
*:lang(lrc),
*:lang(luz),
*:lang(mfa),
*:lang(mvy),
*:lang(mzn),
*:lang(pa),
*:lang(prd),
*:lang(rmt),
*:lang(sd),
*:lang(sdh),
*:lang(shi),
*:lang(skr),
*:lang(sus),
*:lang(swb),
*:lang(tly),
*:lang(trw),
*:lang(ttt),
*:lang(ug),
*:lang(cop) {
  font-family: $arabic-sans-vf,$base-sans-vf,$base-sans,sans-serif;
  direction: rtl;
}
