@use "../variables/variables";

// Devanagari script languages
*:lang(hi),
*:lang(lang),
*:lang(hi),
*:lang(hif),
*:lang(ne),
*:lang(anp),
*:lang(awa),
*:lang(bap),
*:lang(bfy),
*:lang(bgc),
*:lang(bhb),
*:lang(bhi),
*:lang(bho),
*:lang(bjj),
*:lang(bra),
*:lang(brx),
*:lang(btv),
*:lang(dty),
*:lang(gbm),
*:lang(gom),
*:lang(gon),
*:lang(gvr),
*:lang(hne),
*:lang(hoc),
*:lang(hoj),
*:lang(jml),
*:lang(kfr),
*:lang(kfy),
*:lang(khn),
*:lang(kok),
*:lang(kru),
*:lang(ks),
*:lang(lif),
*:lang(mag),
*:lang(mai),
*:lang(mgp),
*:lang(mr),
*:lang(mrd),
*:lang(mtr),
*:lang(mwr),
*:lang(new),
*:lang(noe),
*:lang(raj),
*:lang(rjs),
*:lang(sat),
*:lang(sck),
*:lang(sd),
*:lang(srx),
*:lang(swv),
*:lang(taj),
*:lang(tdg),
*:lang(tdh),
*:lang(thl),
*:lang(thq),
*:lang(thr),
*:lang(tkt),
*:lang(unr),
*:lang(unx),
*:lang(wbr),
*:lang(wtm),
*:lang(xnr),
*:lang(xsr),
*:lang(pi),
*:lang(sa) {
  font-family: $base,$devanagari-sans-vf,$base-sans-vf,$base-sans,sans-serif !important;
  direction: ltr;
}
