@import "../variables/variables";

// Ethiopic script languages
*:lang(am),
*:lang(ti),
*:lang(byn),
*:lang(om),
*:lang(tig),
*:lang(wal),
*:lang(gez) {
  font-family: $ethiopic-sans-vf,$base-sans-vf,$base-sans,sans-serif;
  direction: ltr;
}
