@import "../variables/variables";

// Japanese script languages
*:lang(jp) {
  font-family: $base,$jp-sans-regular,$base-sans-vf,sans-serif;
  direction: ltr;

  strong,
  .bold {
    font-family: $base,$jp-sans-bold,$base-sans-vf,sans-serif;
  }
}
