// Korean script languages

*:lang(ko) {
  font-family: $base,$kr-sans-regular,$base-sans-vf,sans-serif;
  direction: ltr;

  & .bold {
    font-family: $base,$kr-sans-bold,$base-sans-vf,sans-serif;
  }
}
