@import "../variables/variables";

/**:lang(ay),
*:lang(az),
*:lang(bi),
*:lang(bs),
*:lang(ca),
*:lang(ch),
*:lang(cs),
*:lang(da),
*:lang(de),
*:lang(en),
*:lang(es),
*:lang(et),
*:lang(fi),
*:lang(fil),
*:lang(fj),
*:lang(fo),
*:lang(fr),
*:lang(ga),
*:lang(gil),
*:lang(gn),
*:lang(gsw),
*:lang(gv),
*:lang(hi),
*:lang(hif),
*:lang(ho),
*:lang(hr),
*:lang(ht),
*:lang(hu),
*:lang(id),
*:lang(is),
*:lang(it),
*:lang(kl),
*:lang(ky),
*:lang(lb),
*:lang(lt),
*:lang(lv),
*:lang(mg),
*:lang(mh),
*:lang(mi),
*:lang(mt),
*:lang(na),
*:lang(nb),
*:lang(nd),
*:lang(niu),
*:lang(nl),
*:lang(nn),
*:lang(ny),
*:lang(pap),
*:lang(pau),
*:lang(pl),
*:lang(pt),
*:lang(qu),
*:lang(rn),
*:lang(ro),
*:lang(rw),
*:lang(sg),
*:lang(sk),
*:lang(sl),
*:lang(sm),
*:lang(sn),
*:lang(so),
*:lang(sq),
*:lang(sr),
*:lang(ss),
*:lang(st),
*:lang(sv),
*:lang(sw),
*:lang(tet),
*:lang(tg),
*:lang(tk),
*:lang(tkl),
*:lang(tn),
*:lang(to),
*:lang(tpi),
*:lang(tr),
*:lang(tvl),
*:lang(ty),
*:lang(tzm),
*:lang(uz),
*:lang(vi),
*:lang(wo),
*:lang(yo),
*:lang(aa),
*:lang(abr),
*:lang(ace),
*:lang(ach),
*:lang(ada),
*:lang(af),
*:lang(agq),
*:lang(ain),
*:lang(ak),
*:lang(akz),
*:lang(ale),
*:lang(aln),
*:lang(amo),
*:lang(an),
*:lang(aoz),
*:lang(arn),
*:lang(aro),
*:lang(arp),
*:lang(arw),
*:lang(asa),
*:lang(ast),
*:lang(atj),
*:lang(bal),
*:lang(ban),
*:lang(bar),
*:lang(bas),
*:lang(bbc),
*:lang(bbj),
*:lang(bci),
*:lang(bem),
*:lang(bew),
*:lang(bez),
*:lang(bfd),
*:lang(bik),
*:lang(bin),
*:lang(bjn),
*:lang(bkm),
*:lang(bku),
*:lang(bla),
*:lang(bm),
*:lang(bmq),
*:lang(bqv),
*:lang(br),
*:lang(brh),
*:lang(bss),
*:lang(bto),
*:lang(buc),
*:lang(bug),
*:lang(bum),
*:lang(bvb),
*:lang(byv),
*:lang(bze),
*:lang(bzx),
*:lang(cad),
*:lang(car),
*:lang(cay),
*:lang(cch),
*:lang(ceb),
*:lang(cgg),
*:lang(chk),
*:lang(chn),
*:lang(cho),
*:lang(chp),
*:lang(chy),
*:lang(cic),
*:lang(co),
*:lang(cps),
*:lang(cr),
*:lang(crj),
*:lang(crl),
*:lang(crs),
*:lang(csb),
*:lang(ctd),
*:lang(cy),
*:lang(dak),
*:lang(dav),
*:lang(del),
*:lang(den),
*:lang(dgr),
*:lang(din),
*:lang(dje),
*:lang(dnj),
*:lang(dsb),
*:lang(dtm),
*:lang(dtp),
*:lang(dua),
*:lang(dyo),
*:lang(dyu),
*:lang(ebu),
*:lang(ee),
*:lang(efi),
*:lang(egl),
*:lang(eka),
*:lang(esu),
*:lang(eu),
*:lang(ewo),
*:lang(ext),
*:lang(fan),
*:lang(ff),
*:lang(ffm),
*:lang(fit),
*:lang(fon),
*:lang(frc),
*:lang(frp),
*:lang(frr),
*:lang(frs),
*:lang(fud),
*:lang(fuq),
*:lang(fur),
*:lang(fuv),
*:lang(fvr),
*:lang(fy),
*:lang(gaa),
*:lang(gag),
*:lang(gay),
*:lang(gba),
*:lang(gcr),
*:lang(gd),
*:lang(gl),
*:lang(gor),
*:lang(gos),
*:lang(grb),
*:lang(gub),
*:lang(guc),
*:lang(gur),
*:lang(guz),
*:lang(gwi),
*:lang(ha),
*:lang(hai),
*:lang(haw),
*:lang(hil),
*:lang(hmn),
*:lang(hnn),
*:lang(hop),
*:lang(hsb),
*:lang(hup),
*:lang(hz),
*:lang(iba),
*:lang(ibb),
*:lang(ife),
*:lang(ig),
*:lang(ii),
*:lang(ik),
*:lang(ikt),
*:lang(ilo),
*:lang(inh),
*:lang(iu),
*:lang(izh),
*:lang(jam),
*:lang(jgo),
*:lang(jmc),
*:lang(jv),
*:lang(kab),
*:lang(kac),
*:lang(kaj),
*:lang(kam),
*:lang(kao),
*:lang(kcg),
*:lang(kck),
*:lang(kde),
*:lang(kea),
*:lang(kfo),
*:lang(kg),
*:lang(kge),
*:lang(kgp),
*:lang(kha),
*:lang(khq),
*:lang(ki),
*:lang(kiu),
*:lang(kj),
*:lang(kjg),
*:lang(kkj),
*:lang(kln),
*:lang(kmb),
*:lang(kos),
*:lang(kpe),
*:lang(kr),
*:lang(kri),
*:lang(krj),
*:lang(krl),
*:lang(ksb),
*:lang(ksf),
*:lang(ksh),
*:lang(ku),
*:lang(kut),
*:lang(kvr),
*:lang(kw),
*:lang(lag),
*:lang(laj),
*:lang(lam),
*:lang(lbw),
*:lang(lg),
*:lang(li),
*:lang(lij),
*:lang(liv),
*:lang(ljp),
*:lang(lkt),
*:lang(lmo),
*:lang(ln),
*:lang(lol),
*:lang(loz),
*:lang(ltg),
*:lang(lu),
*:lang(lua),
*:lang(lun),
*:lang(luo),
*:lang(lut),
*:lang(luy),
*:lang(lzz),
*:lang(mad),
*:lang(maf),
*:lang(mak),
*:lang(man),
*:lang(mas),
*:lang(maz),
*:lang(mdh),
*:lang(mdr),
*:lang(mdt),
*:lang(men),
*:lang(mer),
*:lang(mfe),
*:lang(mgh),
*:lang(mgo),
*:lang(mgy),
*:lang(mic),
*:lang(min),
*:lang(mls),
*:lang(moe),
*:lang(moh),
*:lang(mos),
*:lang(mro),
*:lang(mua),
*:lang(mus),
*:lang(mwk),
*:lang(mwl),
*:lang(mwv),
*:lang(mxc),
*:lang(myx),
*:lang(nap),
*:lang(naq),
*:lang(nch),
*:lang(ndc),
*:lang(nds),
*:lang(ng),
*:lang(ngl),
*:lang(nhe),
*:lang(nhw),
*:lang(nia),
*:lang(nij),
*:lang(njo),
*:lang(nmg),
*:lang(nnh),
*:lang(nr),
*:lang(nsk),
*:lang(nso),
*:lang(nus),
*:lang(nv),
*:lang(nxq),
*:lang(nym),
*:lang(nyn),
*:lang(nyo),
*:lang(nzi),
*:lang(oc),
*:lang(oj),
*:lang(om),
*:lang(osa),
*:lang(pag),
*:lang(pam),
*:lang(pcd),
*:lang(pcm),
*:lang(pdc),
*:lang(pdt),
*:lang(pfl),
*:lang(pko),
*:lang(pms),
*:lang(pnt),
*:lang(pon),
*:lang(prg),
*:lang(puu),
*:lang(quc),
*:lang(qug),
*:lang(rap),
*:lang(rar),
*:lang(rcf),
*:lang(rej),
*:lang(rgn),
*:lang(ria),
*:lang(rif),
*:lang(rm),
*:lang(rmf),
*:lang(rmo),
*:lang(rmu),
*:lang(rng),
*:lang(rob),
*:lang(rof),
*:lang(rom),
*:lang(rtm),
*:lang(rug),
*:lang(rup),
*:lang(rwk),
*:lang(sad),
*:lang(saf),
*:lang(saq),
*:lang(sas),
*:lang(sat),
*:lang(sbp),
*:lang(sc),
*:lang(scn),
*:lang(sco),
*:lang(scs),
*:lang(sdc),
*:lang(se),
*:lang(see),
*:lang(sef),
*:lang(seh),
*:lang(sei),
*:lang(ses),
*:lang(sgs),
*:lang(shi),
*:lang(sid),
*:lang(sli),
*:lang(sly),
*:lang(sma),
*:lang(smj),
*:lang(smn),
*:lang(sms),
*:lang(snk),
*:lang(srb),
*:lang(srn),
*:lang(srr),
*:lang(ssy),
*:lang(stq),
*:lang(su),
*:lang(suk),
*:lang(sus),
*:lang(swb),
*:lang(swg),
*:lang(sxn),
*:lang(syi),
*:lang(szl),
*:lang(tbw),
*:lang(tem),
*:lang(teo),
*:lang(ter),
*:lang(tiv),
*:lang(tkr),
*:lang(tli),
*:lang(tly),
*:lang(tmh),
*:lang(tog),
*:lang(tru),
*:lang(trv),
*:lang(ts),
*:lang(tsg),
*:lang(tsi),
*:lang(ttj),
*:lang(ttt),
*:lang(tum),
*:lang(twq),
*:lang(udm),
*:lang(ug),
*:lang(uli),
*:lang(umb),
*:lang(vai),
*:lang(ve),
*:lang(vec),
*:lang(vep),
*:lang(vic),
*:lang(vls),
*:lang(vmf),
*:lang(vmw),
*:lang(vot),
*:lang(vro),
*:lang(vun),
*:lang(wa),
*:lang(wae),
*:lang(war),
*:lang(was),
*:lang(wbp),
*:lang(wls),
*:lang(xav),
*:lang(xh),
*:lang(xog),
*:lang(yao),
*:lang(yap),
*:lang(yav),
*:lang(ybb),
*:lang(yrl),
*:lang(yua),
*:lang(za),
*:lang(zag),
*:lang(zap),
*:lang(zea),
*:lang(zmi),
*:lang(zu),
*:lang(zun),
*:lang(zza),
*:lang(ang),
*:lang(avk),
*:lang(dum),
*:lang(enm),
*:lang(eo),
*:lang(ett),
*:lang(frm),
*:lang(fro),
*:lang(gmh),
*:lang(goh),
*:lang(ia),
*:lang(jut),
*:lang(la),
*:lang(lfn),
*:lang(lui),
*:lang(nov),
*:lang(osc),
*:lang(pro),
*:lang(sga),
*:lang(vo),
*:lang(xum),*/
*:lang(en) {
  direction: ltr;

  .lf-latin-sans {
    font-family: $latin-sans-vf,$latin-sans,sans-serif;

    em,
    .lf-latin-italic  {
      font-style: normal;
      font-family: $latin-sans-italic-vf,$latin-sans,sans-serif;
    }
  }

  pre,
  code,
  .lf-latin-mono {
    font-family: $latin-mono-vf,$latin-sans-mono,monospace;
  }
}
