// Simplified Chinese script languages

*:lang(zh),
*:lang(za),
*:lang(gan),
*:lang(hak),
*:lang(hsn),
*:lang(nan),
*:lang(wuu) {
  font-family: $base-sans,$sc-sans-regular,$base-sans-vf,sans-serif;
  direction: ltr;

  strong {
    font-weight: bold;
    font-family: $base-sans,$sc-sans-bold,$base-sans-vf,sans-serif;
  }
}
