// Modifiers for non-latin scripts

*:lang(ff) {
  font-family: $base,$adlam-sans-vf,$base-sans-vf,sans-serif;
}
*:lang(hy) {
  font-family: $base,$armenian-sans-vf,$base-sans-vf,sans-serif;
}
*:lang(bn) {
  font-family: $base,$bengali-sans-vf,$base-sans-vf,sans-serif;
}
*:lang(gu) {
  font-family: $base,$gujarati-sans,$base-sans-vf,sans-serif;

  strong {
    font-family: $base,$gujarati-sans-bold,$base-sans-vf,sans-serif;
  }
}
*:lang(kn) {
  font-family: $base,$kannada-sans-vf,$base-vf,sans-serif;
}
*:lang(km) {
  font-family: $base,$khmer-sans-vf,$base-sans-vf,sans-serif;
}
*:lang(lo) {
  font-family: $base,$lao-sans-vf,$base-sans-vf,sans-serif;
}
*:lang(ms) {
  font-family: $base,$malayalam-sans-vf,$base-sans-vf,sans-serif;
}
*:lang(ta) {
  font-family: $base,$tamil-sans-vf,$base-vf,sans-serif;
}
*:lang(te) {
  font-family: $base,$telugu-sans-vf,$base-sans-vf,sans-serif;
}
*:lang(th) {
  font-family: $base,$thai-sans-vf,$base-sans-vf,sans-serif;
}
*:lang() {
  font-family: $base,$thaana-sans-vf,$base-sans-vf,sans-serif;
}
