@import "../variables/variables";

// Cyrillic script languages
*:lang(ru),
*:lang(az),
*:lang(be),
*:lang(bg),
*:lang(bs),
*:lang(kk),
*:lang(ky),
*:lang(mk),
*:lang(mn),
*:lang(ro),
*:lang(ru),
*:lang(sr),
*:lang(tg),
*:lang(tk),
*:lang(uk),
*:lang(uz),
*:lang(ab),
*:lang(abq),
*:lang(ady),
*:lang(aii),
*:lang(alt),
*:lang(av),
*:lang(ba),
*:lang(bua),
*:lang(ce),
*:lang(chm),
*:lang(cjs),
*:lang(ckt),
*:lang(crh),
*:lang(cv),
*:lang(dar),
*:lang(dng),
*:lang(evn),
*:lang(gag),
*:lang(gld),
*:lang(inh),
*:lang(kaa),
*:lang(kbd),
*:lang(kca),
*:lang(kjh),
*:lang(koi),
*:lang(kpy),
*:lang(krc),
*:lang(ku),
*:lang(kum),
*:lang(kv),
*:lang(lbe),
*:lang(lez),
*:lang(mdf),
*:lang(mns),
*:lang(mrj),
*:lang(myv),
*:lang(nog),
*:lang(os),
*:lang(pnt),
*:lang(rom),
*:lang(rue),
*:lang(sah),
*:lang(se),
*:lang(sel),
*:lang(tab),
*:lang(tkr),
*:lang(tly),
*:lang(tt),
*:lang(ttt),
*:lang(tyv),
*:lang(ude),
*:lang(udm),
*:lang(ug),
*:lang(xal),
*:lang(yrk),
*:lang(cu),
*:lang(lfn) {
  font-family: $cyrillic-vf,$base-sf,sans-serif;
  direction: ltr;
}
