@font-face {
  font-family: "Noto Naskh Arabic";
  src: url("fonts/NotoNaskhArabic-Regular-subset.woff2") format("woff2"), url("fonts/NotoNaskhArabic-Regular-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}
@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("fonts/NotoKufiArabic-Regular-subset.woff2") format("woff2"), url("fonts/NotoKufiArabic-Regular-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}
@font-face {
	font-family: "Noto Serif Latin Italic";
	src:	url('fonts/NotoSerifLatin-Italic-subset.woff2') format('woff2'), url('fonts/NotoSerifLatin-Italic-subset.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
  font-family: "Noto Serif Tamil Slanted ";
  src: url("fonts/NotoSerifTamilSlanted-Regular-subset.woff2") format("woff2"), url("fonts/NotoSerifTamilSlanted-Regular-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0B80-0BFF, U+11FC0-11FFF;
}
@font-face {
  font-family: "Noto Naskh Arabic UI";
  src: url("fonts/NotoNaskhArabicUI-Regular-subset.woff2") format("woff2"), url("fonts/NotoNaskhArabicUI-Regular-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}
