@font-face {
  font-family: "Noto Naskh Arabic";
  src: url("fonts/NotoNaskhArabic-VF-subset.woff2") format("woff2"), url("fonts/NotoNaskhArabic-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}
@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("fonts/NotoKufiArabic-VF-subset.woff2") format("woff2"), url("fonts/NotoKufiArabic-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}
@font-face {
  font-family: "Noto Rashi Hebrew ";
  src: url("fonts/NotoRashiHebrew-VF-subset.woff2") format("woff2"), url("fonts/NotoRashiHebrew-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0590-05FF, U+FB1D-FB4F;
}
@font-face {
	font-family: "Noto Serif Latin Italic";
	src:	url('fonts/NotoSerifLatinItalic-VF-subset.woff2') format('woff2'), url('fonts/NotoSerifLatinItalic-VF-subset.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	//unicode-range: U+0100-1C8F;
}
@font-face {
	font-family: "Noto Sans Latin Italic";
	src: 	url("fonts/NotoSansLatin-Italic-VF-subset.woff2"), format("woff2"), url("fonts/NotoSansLatin-Italic-VF-subset.woff"), format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	//unicode-range: U+0100-1C8F;
}
@font-face {
  font-family: "Noto Serif Tamil Slanted ";
  src: url("fonts/NotoSerifTamilSlanted-VF-subset.woff2") format("woff2"), url("fonts/NotoSerifTamilSlanted-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0B80-0BFF, U+11FC0-11FFF;
}
@font-face {
  font-family: "Noto Sans Adlam Unjoined";
  src: url("fonts/NotoSansAdlamUnjoined-VF-subset.woff2") format("woff2"), url("fonts/NotoSansAdlamUnjoined-VF-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1E900-1E95F, U+2E41;
}
