// Import the unicode-range variables
@import "unicode-ranges";
@import "mixins";

// @supports is used here to load variable fonts only where they are supported
@supports ( font-variation-settings: 'wdth' 200 ) {
	// Variable Serif fonts for Adlam
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, Adlam, VF, Regular, normal, normal);
	//	unicode-range: $adlam;
	//}
	// Variable Serif fonts for Arabic
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, Arabic, VF, Regular, normal, normal);
	//	unicode-range: $arabic;
	//}
	// Variable Serif fonts for Armenian
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, Armenian, VF, Regular, normal, normal);
	//	unicode-range: $armenian;
	//}
	// Variable Serif fonts for Bamum
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, Bamum, VF, Regular, normal, normal);
	//	unicode-range: $bamum;
	//}
	// Variable Serif fonts for Bengali
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Bengali, VF, Regular, normal, normal);
		unicode-range: $bengali;
	}
	// Variable Serif fonts for Unified Canadian Aboriginal
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, Canadian Aboriginal, VF, Regular, normal, normal);
	//	unicode-range: $c-aboriginal;
	//}
	// Variable Serif fonts for Cherokee
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, Cherokee, VF, Regular, normal, normal);
	//	unicode-range: $cherokee;
	//}
	// Variable Serif fonts for Cyrillic
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, LGC, VF, Regular, normal, normal);
	//	unicode-range: $cyrillic;
	//}
	// Variable Serif fonts for Devanagari (Hindi)
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Devanagari, VF, Regular, normal, normal);
		unicode-range: $devanagari;
	}
	// Variable serif fonts for Ethiopic
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Ethiopic, VF, Regular, normal, normal);
		unicode-range: $ethiopic;
	}
	// Variable Serif fonts for Greek
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, LGC, VF, Regular, normal, normal);
	//	unicode-range: $greek;
	//}
	// Variable serif fonts for Gujarati
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Gujarati, VF, Regular, normal, normal);
		unicode-range: $gujarati;
	}
	// Variable serif fonts for Gurmukhi
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Gurmukhi, VF, Regular, normal, normal);
		unicode-range: $gurmukhi;
	}
	// Variable Serif fonts for Hebrew
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Hebrew, VF, Regular, normal, normal);
		unicode-range: $hebrew;
	}
	// Variable serif fonts for Kannada
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Kannada, VF, Regular, normal, normal);
		unicode-range: $kannada;
	}
	// The Variable serif font for Khmer
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, Khmer, VF, Regular, normal, normal);
	//	unicode-range: $khmer;
	//}
	// Variable Serif fonts for Limbu
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, Limbu, VF, Regular, normal, normal);
	//	unicode-range: $limbu;
	//}
	// Variable Serif fonts for Lao
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Lao, VF, Regular, normal, normal);
		unicode-range: $lao;
	}
	// Variable Serif fonts for Malayalam
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Malayalam, VF, Regular, normal, normal);
		unicode-range: $malayalam;
	}
	// Variable Serif fonts for Myanmar
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Myanmar, VF, Regular, normal, normal);
		unicode-range: $myanmar;
	}
	// Variable Serif fonts for NKo
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, NKo, VF, Regular, normal, normal);
	//	unicode-range: $nko;
	//}
	// Variable Serif fonts for Oriya
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, Oriya, VF, Regular, normal, normal);
	//	unicode-range: $oriya;
	//}
	// Variable Serif fonts for Sinhala
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Sinhala, VF, Regular, normal, normal);
		unicode-range: $sinhala;
	}
	// Variable Serif fonts for Tai Le
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, TaiLe, VF, Regular, normal, normal);
	//	unicode-range: $tai-le;
	//}
	// Variable Serif fonts for Tai Tham
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, TaiTham, VF, Regular, normal, normal);
	//	unicode-range: $tai-tham;
	//}
	// Variable Serif fonts for Tai Viet
	//@font-face-variable {
	//	@include font-face-variable(Noto, Serif, TaiViet, VF, Regular, normal, normal);
	//	unicode-range: $tai-viet;
	//}
	// Variable serif fonts for Tamil
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Tamil, VF, Regular, normal, normal);
		unicode-range: $tamil;
	}
	// Variable serif fonts for Telugu
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Telugu, VF, Regular, normal, normal);
		unicode-range: $telugu;
	}
	// The variable serif font for Thai
	@font-face-variable {
		@include font-face-variable(Noto, Serif, Thai, VF, Regular, normal, normal);
		unicode-range: $thai;
	}
	// The variable font for Tibetan
	@font-face-variable {
	  @include font-face-variable(Noto, Serif, Tibetan, VF, Regular, normal, normal);
	  unicode-range: $tibetan;
	}
}
