// Base fonts
$base:									'Noto Sans';            // Fallback for when variable fonts are not supported (can be either serif or sans)
$base-vf:								'Noto Sans Regular VF'; // Loads everywhere, should end in VF
$base-sans:							'Noto Sans';            // Useful if overall base is a serif
$base-sans-vf:					'Noto Sans Regular VF'; // Useful if overall base is a serif
$base-sans-italic-vf:		'Noto Sans Italic VF';  // Variable fonts italics render inconsistently so we explicitly add them separately
$base-serif:						'Noto Serif';           // Useful if overall base is a sans-serif
$base-serif-vf:					'Noto Serif Regular VF';// Useful if overall base is a sans-serif
$base-serif-italic-vf:	'Noto Serif Italic VF'; // Variable fonts italics render inconsistently so we explicitly add them separately
$base-mono:							'Noto Sans Mono';       // Useful to explicitly declare your monospace webfont
$base-mono-vf:					'Noto Sans Mono VF';
