// Font variables for self-hosted fonts

// Variable UI fonts, designed to be more compact for use in buttons and controls
$arabic-sans-ui:			'Noto Sans Arabic UI Regular';
$bengali-sans-ui:			'Noto Sans Bengali UI Regular';
$devanagari-sans-ui:	'Noto Sans Devanagari UI Regular';
$gujarati-sans-ui:		'Noto Sans Gujarati UI Regular';
$gurmukhi-sans-ui:		'Noto Sans Gurmukhi UI Regular';
$kannada-sans-ui:			'Noto Sans Kannada UI Regular';
$khmer-sans-ui:				'Noto Sans Khmer UI Regular';
$lao-sans-ui:					'Noto Sans Lao UI Regular';
$malayalam-sans-ui:		'Noto Sans Malayalam UI Regular';
$myanmar-sans-ui:			'Noto Sans Myanmar UI Regular';
$naskharabic-sans-ui:	'Noto Sans Naskh Arabic UI Regular';
$oriya-sans-ui:				'Noto Sans Oriya UI Regular';
$sinhala-sans-ui:			'Noto Sans Sinhala UI Regular';
$tamil-sans-ui:				'Noto Sans Tamil UI Regular';
$telugu-sans-ui:			'Noto Sans Telugu UI Regular';
$thai-sans-ui:				'Noto Sans Thai UI Regular';
