// Font variables for self-hosted fonts

// Variable sans
$adlam-sans-vf:					'Noto Sans Adlam VF';
$arabic-sans-vf:				'Noto Sans Arabic VF';
$armenian-sans-vf:			'Noto Sans Armenian VF';
$bamum-sans-vf:					'Noto Sans Bamum VF';
$bengali-sans-vf:				'Noto Sans Bengali VF';
$brahmi-sans-vf:				''; // No variable font available
$buginese-sans-vf:			''; // No variable font available
$buhid-sans-vf:					''; // No variable font available
$c-aboriginal-sans-vf:	'Noto Sans Canadian Aboriginal VF';
$cham-sans-vf:					'Noto Sans Cham VF';
$cherokee-sans-vf:			'Noto Sans Cherokee VF';
$chinese-s-sans-vf:			''; // No variable font available
$chinese-hk-sans-vf:		''; // No variable font available
$chinese-t-sans-vf:			''; // No variable font available
$cyrillic-sans-vf:			'Noto Sans LGC VF'; // combined latin, greek cyrillic
$devanagari-sans-vf:		'Noto Sans Devanagari VF';
$georgian-sans-vf:			'Noto Sans Georgian VF';
$greek-sans-vf:					'Noto Sans LGC VF'; // combined latin, greek cyrillic
$gujarati-sans-vf:			''; // No variable font available
$gurmukhi-sans-vf:			'Noto Sans Gurmukhi VF';
$hebrew-sans-vf:				'Noto Sans Hebrew VF';
$kannada-sans-vf:				'Noto Sans Kannada VF';
$kayah-sans-vf:					'Noto Sans Kayah VF';
$khmer-sans-vf:					'Noto Sans Khmer VF';
$latin-sans-vf:					'Noto Sans VF';
$lao-sans-vf:						'Noto Sans Lao VF';
$limbu-sans-vf:					''; // No variable font available
$malayalam-sans-vf:			'Noto Sans Malayalam VF';
$mongolian-sans-vf:			'Noto Sans Mongolian VF';
$myanmar-sans-vf:				'Noto Sans Myanmar VF';
$nko-sans-vf:						'Noto Sans NKo VF';
$oriya-sans-vf:					'Noto Sans Oriya VF';
$sinhala-sans-vf:				'Noto Sans Sinhala VF';
$tagalog-sans-vf:				''; // No variable font available
$tai-le-sans-vf:				'Noto Sans TaiLe VF';
$tai-tham-sans-vf:			'Noto Sans TaiTham VF';
$tai-viet-sans-vf:			'Noto Sans TaiViet VF';
$takri-sans-vf:					'Noto Sans Takri VF';
$tamil-sans-vf:					'Noto Sans Tamil VF';
$telugu-sans-vf:				'Noto Sans Telugu VF';
$thaana-sans-vf:				'Noto Sans Thaana VF';
$thai-sans-vf:					'Noto Sans Thai VF';
$tibetan-sans-vf:				'Noto Sans Tibetan VF';
$warang-citi-sans-vf:		'Noto Sans Warang Citi VF';
// Variable sans italic
$elemaic-sans-italic-vf:'Noto Sans Elemaic Italic VF';
$latin-sans-italic-vf:	'Noto Sans Italic VF';
// Variable sans mono
$latin-sans-mono-vf:    'Noto Sans Mono VF';
