// Font variables for self-hosted fonts

// Variable UI fonts, designed to be more compact for use in buttons and controls
$arabic-sans-ui-vf:			'Noto Sans Arabic UI VF';
$bengali-sans-ui-vf:		'Noto Sans Bengali UI VF';
$devanagari-sans-ui-vf:	'Noto Sans Devanagari UI VF';
$gujarati-sans-ui-vf:		''; // Static but no variable UI font available yet
$gurmukhi-sans-ui-vf:		'Noto Sans Gurmukhi UI VF';
$kannada-sans-ui-vf:		'Noto Sans Kannada UI VF';
$khmer-sans-ui-vf:			'Noto Sans Khmer UI VF';
$lao-sans-ui-vf:				'Noto Sans Lao UI VF';
$malayalam-sans-ui-vf:	'Noto Sans Malayalam UI VF';
$myanmar-sans-ui-vf:		'Noto Sans Myanmar UI VF';
$naskharabic-sans-ui-vf:'Noto Sans Naskh Arabic UI VF';
$oriya-sans-ui-vf:			'Noto Sans Oriya UI VF';
$sinhala-sans-ui-vf:		''; // Static but no variable UI font available yet
$tamil-sans-ui-vf:			'Noto Sans Tamil UI VF';
$telugu-sans-ui-vf:			'Noto Sans Telugu UI VF';
$thai-sans-ui-vf:				'Noto Sans Thai UI VF';
