// Font variables for self-hosted fonts

// by script, sc=simplified chinese, tc=traditional chinese, kr=korean, jp=japanese

// Static sans
$adlam-sans:					'Noto Sans Adlam Regular';
$arabic-sans:					'Noto Sans Arabic Regular';
$armenian-sans:				'Noto Sans Armenian Regular';
$bamum-sans:					'Noto Sans Bamum Regular';
$bengali-sans:				'Noto Sans Bengali Regular';
$brahmi-sans:					'Noto Sans Brahmi Regular';
$buginese-sans:				'Noto Sans Buginese Regular';
$buhid-sans:					'Noto Sans Buhid Regular';
$c-aboriginal-sans:		'Noto Sans Canadian Aboriginal Regular';
$cherokee-sans:				''; // No font available
$chinese-s-sans:			'Noto Sans SC'; // Simplified chinese
$chinese-hk-sans:			'Noto Sans HK'; // Hongkong chinese
$chinese-t-sans:			'Noto Sans TC'; // Traditional chinese
$cyrillic-sans:				'Noto Sans LGC'; // combined latin, greek cyrillic
$devanagari-sans:			'Noto Sans Devanagari Regular';
$devanagari-sans-bold:'Noto Sans Devanagari Bold';
$georgian-sans:				''; // No font available
$greek-sans:					'Noto Sans LGC'; // combined latin, greek cyrillic
$gujarati-sans:				'Noto Sans Gujarati Regular';
$gujarati-sans-bold:	'Noto Sans Gujarati Bold';
$gurmukhi-sans:				'Noto Sans Gurmukhi Regular';
$hebrew-sans:					'Noto Sans Hebrew Regular';
$japanese-sans:				'Noto Sans JP';
$kannada-sans:				'Noto Sans Kannada Regular';
$kayah-sans:					'Noto Sans Kayah Regular';
$khmer-sans:					'Noto Sans Khmer Regular';
$korean-sans:					'Noto Sans KR'; // Script selector is hangul.scss
$latin-sans:					'Noto Sans';
$lao-sans:						'Noto Sans Lao Regular';
$limbu-sans:					'Noto Sans Limbu Regular';
$malayalam-sans:			'Noto Sans Malayalam Regular';
$mongolian-sans:			'Noto Sans Mongolian Regular';
$myanmar-sans:				'Noto Sans Myanmar Regular';
$nko-sans:						'Noto Sans NKo Regular';
$oriya-sans:					'Noto Sans Oriya Regular';
$sinhala-sans:				'Noto Sans Sinhala Regular'; // Needs webfont kit
$tagalog-sans:				'Noto Sans Tagalog Regular';
$tai-le-sans:					'Noto Sans TaiLe Regular';
$takri-sans:					''; // No font available
$tamil-sans:					'Noto Sans Tamil Regular';
$telugu-sans:					'Noto Sans Telugu Regular';
$thaana-sans:					'Noto Sans Thaana Regular';
$thai-sans:						'Noto Sans Thai Regular';
$tibetan-sans:				'Noto Sans Tibetan Regular';
$warang-citi-sans:		'Noto Sans Warang Citi Regular';
// Static sans Italic
$latin-sans-italic:		'Noto Sans Italic';
// Static sans monospace
$latin-sans-mono:			'Noto Sans Mono';
