// Font variables for self-hosted fonts

// Static serif
$adlam-serif:					'Noto Serif Adlam Regular';
$arabic-serif:				'Noto Serif Arabic Regular';
$armenian-serif:			'Noto Serif Armenian Regular';
$bamum-serif:					'Noto Serif Bamum Regular';
$bengali-serif:				'Noto Serif Bengali Regular';
$brahmi-serif:				''; // No font available
$buginese-serif:			''; // No font available
$buhid-serif:					''; // No font available
$c-aboriginal-serif:	''; // No font available
$cherokee-serif:			''; // No font available
$chinese-s-serif:			'Noto Serif SC'; // Simplified chinese
$chinese-hk-serif:		'Noto Serif HK'; // Hongkong chinese
$chinese-t-serif:			'Noto Serif TC'; // Traditional chinese
$cyrillic-serif:			'Noto Serif';
$devanagari-serif:		'Noto Serif Devanagari Regular';
$ethiopic-serif:			'Noto Serif Ethiopic Regular';
$georgian-serif:			'Noto Serif Georgian Regular';
$greek-serif:					'Noto Serif';
$gujarati-serif:			'Noto Serif Gujarati Regular';
$gurmukhi-serif:			'Noto Serif Gurmukhi Regular';
$hebrew-serif:				'Noto Serif Hebrew Regular';
$japanese-serif:			'Noto Serif JP';
$kannada-serif:				'Noto Serif Kannada Regular';
$kayah-serif:					'Noto Serif Kayah Regular';
$khmer-serif:					'Noto Serif Khmer Regular';
$korean-serif:				'Noto Serif KR'; // Script selector is hangul.scss
$latin-serif:					'Noto Serif';
$lao-serif:						'Noto Serif Lao Regular';
$limbu-serif:					''; // No font available
$malayalam-serif:			'Noto Serif Malayalam Regular';
$mongolian-serif:			'Noto Serif Mongolian Regular';
$myanmar-serif:				'Noto Serif Myanmar Regular';
$nko-serif:						'Noto Serif NKo Regular';
$oriya-serif:					'Noto Serif Oriya Regular';
$sinhala-serif:				'Noto Serif Sinhala Regular';
$tagalog-serif:				''; // No font available
$tai-le-serif:				'Noto Serif TaiLe Regular';
$takri-serif:					''; // No font available
$tamil-serif:					'Noto Serif Tamil Regular';
$telugu-serif:				'Noto Serif Telugu Regular';
$thaana-serif:				'Noto Serif Thaana Regular';
$thai-serif:					'Noto Serif Thai Regular';
$tibetan-serif:				'Noto Serif Tibetan Regular';
$warang-citi-serif:		''; // No font available
// Serif Italic
$latin-serif-italic:	'Noto Serif Italic';
