// Font variables for self-hosted fonts

// Variable serif normal
$ethiopic-serif-vf:			'Noto Serif Ethiopic VF';
$adlam-serif-vf:				'Noto Serif Adlam VF';
$arabic-serif-vf:				'Noto Serif Arabic VF';
$armenian-serif-vf:			'Noto Serif Armenian VF';
$bamum-serif-vf:				'Noto Serif Bamum VF';
$bengali-serif-vf:			'Noto Serif Bengali VF';
$brahmi-serif-vf:				''; // No variable font available
$buginese-serif-vf:			''; // No variable font available
$buhid-serif-vf:				''; // No variable font available
$c-aboriginal-serif-vf:	''; // No variable font available
$cherokee-serif-vf:			''; // No variable font available
$chinese-s-serif-vf:		''; // No variable font available
$chinese-hk-serif-vf:		''; // No variable font available
$chinese-t-serif-vf:		''; // No variable font available
$cyrillic-serif-vf:			'Noto Serif LGC VF'; // combined latin, greek cyrillic
$devanagari-serif-vf:		'Noto Serif Devanagari VF';
$georgian-serif-vf:			'Noto Serif Georgian VF';
$greek-serif-vf:				'Noto Serif LGC VF'; // combined latin, greek cyrillic
$gujarati-serif-vf:			'Noto Serif Gujarati VF';
$gurmukhi-serif-vf:			'Noto Serif Gurmukhi VF';
$hebrew-serif-vf:				'Noto Serif Hebrew VF';
$kannada-serif-vf:			'Noto Serif Kannada VF';
$kayah-serif-vf:				'Noto Serif Kayah VF';
$khmer-serif-vf:				'Noto Serif Khmer VF';
$latin-serif-vf:				'Noto Serif VF';
$lao-serif-vf:					'Noto Serif Lao VF';
$limbu-serif-vf:				''; // No variable font available
$malayalam-serif-vf:		'Noto Serif Malayalam VF';
$mongolian-serif-vf:		'Noto Serif Mongolian VF';
$myanmar-serif-vf:			'Noto Serif Myanmar VF';
$nko-serif-vf:					'Noto Serif NKo VF';
$oriya-serif-vf:				'Noto Serif Oriya VF';
$sinhala-serif-vf:			'Noto Serif Sinhala VF';
$tagalog-serif-vf:			''; // No variable font available
$tai-le-serif-vf:				'Noto Serif TaiLe VF';
$takri-serif-vf:				'';
$tamil-serif-vf:				'Noto Serif Tamil VF';
$telugu-serif-vf:				'Noto Serif Telugu VF';
$thaana-serif-vf:				'Noto Serif Thaana VF';
$thai-serif-vf:					'Noto Serif Thai VF';
$tibetan-serif-vf:			'Noto Serif Tibetan VF';
$warang-citi-serif-vf:	''; // No variable font available

// Variable serif italic
$latin-serif-italic-vf:	'Noto Serif Italic VF';
