
/* Variables for weights
 * Change the values to cusomize
 * Use integers between 100 and 900
 */
$thin:        100;
$extraLight:  200;
$light:       300;
$regular:     400;
$medium:      500;
$semiBold:    600;
$bold:        700;
$extraBold:   800;
$black:       900;

/* Variables for widths
 * Change the values to cusomize
 * Use integers between 60 and 100
 */
$compressed:     60;
$extraCondensed: 70;
$condensed:      80;
$narrow:         90;
$normal:         100;
